<section id="additional_subscriptions">
    <div class="all_subs container">
        <div class="item">
            <img src="/frontend/img/megogo_ico.svg" alt="megogo_ico">
            <h4>Более 10 000 фильмов и сериалов</h4>
            <p>Включен в тарифы COSMOS BOX 2 и COSMOS BOX 3</p>


            <div class="price_custom">
                <div class="main_text">
                    <div class="number">3,00</div>
                    <div class="text">
                        <div>руб</div>
                        <div>мес</div>
                    </div>
                </div>

                <div>
                    <a href="#" class="btn_price">
                        <div class="price_detail">Подробнее</div>
                        <img src="/frontend/img/arrow_subs_ico.svg" alt="arrow_subs_ico" class="arrow_subs_ico">
                    </a>
                </div>
            </div>
        </div>

        <div class="item">
            <img src="/frontend/img/start_ico.svg" alt="megogo_ico">
            <h4>Онлайн-кинотеатр</h4>
            <p>Эксклюзивные премьеры без дополнительных платежей</p>


            <div class="price_custom">
                <div class="main_text">
                    <div class="number">5,29</div>
                    <div class="text">
                        <div>руб</div>
                        <div>мес</div>
                    </div>
                </div>

                <div>
                    <a href="#" class="btn_price">
                        <div class="price_detail">Подробнее</div>
                        <img src="/frontend/img/arrow_subs_ico.svg" alt="arrow_subs_ico" class="arrow_subs_ico">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>