<section id="footer">
    <div class="container">
        <div class="services footer-item">
            <h2>Услуги</h2>
            <ul class="footer_ul">
                <li><a href="#">Интернет и ТВ</a></li>
                <li><a href="#">Интернет</a></li>
                <li><a href="#">Телевидение</a></li>
                <li><a href="#">Интерактивное ТВ</a></li>
            </ul>
        </div>
        <div class="clients footer-item">
            <h2>Клиентам</h2>
            <ul class="footer_ul">
                <li><a href="#">Личный кабинет</a></li>
                <li><a href="#">Способы оплаты</a></li>
                <li><a href="#">Вопросы и ответы</a></li>
                <li><a href="#">Проверка скорости</a></li>
                <li><a href="#">Документы</a></li>
                <li><a href="#">Обратная связь</a></li>
                <li><a href="#">Портал оценки услуг</a></li>
            </ul>
        </div>

        <div class="about_company footer-item">
            <h2>О компании</h2>
            <ul class="footer_ul">
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Лицензии</a></li>
                <li><a href="#">Отчеты</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Новости</a></li>
            </ul>
        </div>

        <div class="social_media footer-item">
            <p class="simple_text">Мы в социальных сетях</p>

            <div class="footer_icons">
                <a href="#">
                    <!--                    <div class="footer_icon">-->
                    <!--                        <svg>-->
                    <!--                            <use-->
                    <!--                                    href="/assets/svg-sprite/icons.svg#links&#45;&#45;whatsapp"></use>-->
                    <!--                        </svg>-->
                    <!--                    </div>-->
                    <div class="footer_icon"><img
                            src="/frontend/img/instagram_ico.svg"
                            alt="inst_ico"></div>

                </a>
                <a href="#">
                    <div class="footer_icon"><img
                            src="/frontend/img/odnoklassniki_ico.svg"
                            alt="odnokl_ico">
                    </div>
                </a>
                <a href="#">
                    <div class="footer_icon"><img
                            src="/frontend/img/youtube_ico.svg"
                            alt="youtube_ico"></div>
                </a>
                <a href="#">
                    <div class="footer_icon vk"><img
                            src="/frontend/img/vk_ico.svg"
                            alt="vk_ico"></div>
                </a>
            </div>

            <div class="rules">
                <div class="simple_text"><a href="#">Публичный договор об
                    оказании услуг электросвязи</a></div>
                <div class="simple_text"><a href="#">Правила оказания услуг</a>
                </div>
            </div>
        </div>

        <div class="contact_info footer-item">
            <div>
                <a href="tel:134" class="all_number">
                    <img src="/frontend/img/footer_phone_ico.svg" alt="phone"
                         class="footer_phone">
                    <div class="number">134</div>
                </a>
            </div>

            <div class="link_block">
                <p>Напишите нам</p>
                <div class="email_info"><a href="mailto:info@cosmostv.com">info@cosmostv.com</a>
                </div>
            </div>

            <div class="link_block">
                <p>Без выходных</p>
                <div class="phone_info"><a href="tel:+375172892929">+375 (17)
                    289-29-29</a></div>
                <p class="support">Техподдержка с 9:00 до 23:00</p>
            </div>
        </div>
    </div>
</section>
<section id="under_footer">
    <div class="container">
        <div class="site_map">
            <p>© 1993 - 2021 СООО «КОСМОС ТВ». Все права защищены.</p>
            <a href="#">Карта сайта</a>
        </div>
        <div class="icon">
            <img src="/frontend/img/IPv6_logo.svg" alt="ipv6_logo">
        </div>
    </div>
</section>


<!-- мобильный  -->

<section id="footer_mob">
    <div class="container">

        <div class="accordion">
            <div>Услуги</div>
        </div>
        <div class="panel">
            <ul>
                <li><a href="#">Интернет и ТВ</a></li>
                <li><a href="#">Интернет</a></li>
                <li><a href="#">Телевидение</a></li>
                <li><a href="#">Интерактивное ТВ</a></li>
            </ul>
        </div>

        <div class="accordion">
            <div>Клиентам</div>
        </div>
        <div class="panel">
            <ul>
                <li><a href="#">Личный кабинет</a></li>
                <li><a href="#">Способы оплаты</a></li>
                <li><a href="#">Вопросы и ответы</a></li>
                <li><a href="#">Проверка скорости</a></li>
                <li><a href="#">Документы</a></li>
                <li><a href="#">Обратная связь</a></li>
                <li><a href="#">Портал оценки услуг</a></li>
            </ul>
        </div>

        <div class="accordion">
            <div>О компании</div>
        </div>
        <div class="panel">
            <ul>
                <li><a href="#">О нас</a></li>
                <li><a href="#">Контакты</a></li>
                <li><a href="#">Лицензии</a></li>
                <li><a href="#">Отчеты</a></li>
                <li><a href="#">Вакансии</a></li>
                <li><a href="#">Новости</a></li>
            </ul>
        </div>


        <div class="social_media footer-item">
            <p class="simple_text">Мы в социальных сетях</p>

            <div class="footer_icons">
                <a href="#">
                    <div class="footer_icon"><img
                            src="/frontend/img/instagram_ico.svg"
                            alt="inst_ico"></div>
                </a>
                <a href="#">
                    <div class="footer_icon"><img
                            src="/frontend/img/odnoklassniki_ico.svg"
                            alt="odnokl_ico">
                    </div>
                </a>
                <a href="#">
                    <div class="footer_icon"><img src="/frontend/img/youtube_ico.svg"
                                                  alt="youtube_ico"></div>
                </a>
                <a href="#">
                    <div class="footer_icon vk"><img src="/frontend/img/vk_ico.svg"
                                                     alt="vk_ico"></div>
                </a>
            </div>

            <div class="rules">
                <div class="simple_text"><a href="#">Публичный договор об
                    оказании услуг электросвязи</a></div>
                <div class="simple_text"><a href="#">Правила оказания услуг</a>
                </div>
            </div>
        </div>

        <div class="contact_info">
            <div class="mob_tel_bl">
                <a href="tel:134" class="all_number">
                    <img src="/frontend/img/footer_phone_ico.svg" alt="phone"
                         class="footer_phone">
                    <div class="number">134</div>
                </a>
            </div>

            <div class="link_block">
                <p>Напишите нам</p>
                <div class="email_info"><a href="mailto:info@cosmostv.com">info@cosmostv.com</a>
                </div>
            </div>

            <div class="link_block">
                <p>Без выходных</p>
                <div class="phone_info"><a href="tel:+375172892929">+375 (17)
                    289-29-29</a></div>
                <p class="support">Техподдержка с 9:00 до 23:00</p>
            </div>
        </div>

    </div>
</section>


<section id="under_footer_mob">
    <div class="container">
        <div class="site_map">
            <p>© 1993 - 2021 СООО «КОСМОС ТВ».</br>Все права защищены.</p>
        </div>
        <div class="icon">
            <a href="#">Карта сайта</a>
            <img src="/frontend/img/IPv6_logo.svg" alt="ipv6_logo">
        </div>
    </div>
</section>