<header id="header" class="container">
    <div class="left_header_part">
        <div class="header_logo">
            <img src="/frontend/img/header_logo.svg" alt="logo" class="logo"/>
        </div>
    
        <ul class="mode_switcher">
            <li class="active">
                Для дома
                <div></div>
            </li>
            <li>
                Для бизнеса
                <div></div>
            </li>
        </ul>
    </div>
    
    <div class="right_header_part"> 
        <ul class="nav">
            <li><a href="https://www.google.by/">О компании</a></li>
            <li><a href="https://www.google.by/">Новости</a></li>
            <li><a href="https://www.google.by/">Клиентам</a></li>
            <li><a href="https://www.google.by/">Помощь</a></li>
            <li><a href="https://www.google.by/">Контакты</a></li>
        </ul>
        
        <img src="/frontend/img/header_line.svg" alt="header_line" class="header_line">

        <div class="phone_call">
            <a href="tel:134">
                <img src="/frontend/img/phone_header.svg" alt="phone"/>
                <div class="phone">134</div>
            </a>
        </div>
    </div>
    
</header>


<header id="mobile_header">
    <div class="container">
        <div class="header_logo">
            <img src="/frontend/img/header_logo.svg" alt="logo" class="logo"/>
        </div>
        <div class="right_part">
            <div class="phone_call">
                <a href="tel:134">
                    <img src="/frontend/img/phone_header.svg" alt="phone"/>
                    <div class="phone">134</div>
                </a>
            </div>
            <div class="burger_menu">
                <div id="not_active_burger">
                    <svg  width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" >
                        <path d="M0.937476 9.37495H29.0624C29.58 9.37495 29.9999 8.95492 29.9999 8.43748C29.9999 7.91996 29.5799 7.5 29.0624 7.5H0.937476C0.419955 7.5 0 7.92003 0 8.43748C0 8.95492 0.420033 9.37495 0.937476 9.37495Z" fill="black"/>
                        <path d="M29.0624 14.0625H0.937476C0.419955 14.0625 0 14.4825 0 15C0 15.5174 0.420033 15.9375 0.937476 15.9375H29.0624C29.58 15.9375 29.9999 15.5174 29.9999 15C29.9999 14.4825 29.58 14.0625 29.0624 14.0625Z" fill="black"/>
                        <path d="M29.0625 20.625H10.3125C9.79495 20.625 9.375 21.045 9.375 21.5625C9.375 22.08 9.79503 22.5 10.3125 22.5H29.0625C29.58 22.5 29.9999 22.0799 29.9999 21.5625C30 21.045 29.58 20.625 29.0625 20.625Z" fill="black"/>
                    </svg>    
                </div>

                <div id="active_burger">
                    <svg  width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 2.4L21.6 0L12 9.6L2.4 0L0 2.4L9.6 12L0 21.6L2.4 24L12 14.4L21.6 24L24 21.6L14.4 12L24 2.4Z" fill="black"/>
                    </svg>
                </div>
               
                
                    
            </div>
        </div>
        
        <div id="active_menu">
            <div class="container">
                <div class="tabs-triggers">
                    <a href="#m-tab-1" class="tabs-triggers__item">Для дома</a>
                    <a href="#m-tab-2" class="tabs-triggers__item">Для бизнеса</a>
                </div>

                <div class="tabs-content">
                    <div id="m-tab-1" class="tabs-content__item">
                        
                        <div class="items_mob">
                            <div class="item">
                                <img src="/frontend/img/m_m_1.svg" alt="m_m_1">
                                <div>Интернет и TВ</div>
                            </div>

                            <div class="item">
                                <img src="/frontend/img/m_m_2.svg" alt="m_m_2">
                                <div>Интернет</div>
                            </div>

                            <div class="item">
                                <img src="/frontend/img/m_m_3.svg" alt="m_m_3">
                                <div>Телевидение</div>
                            </div>
                        </div>
                        <ul>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Клиентам</a></li>
                            <li><a href="#">Помощь</a></li>
                            <li><a href="#">Контакты</a></li>
                        </ul>

                        <a class="get_z" href="#">Оформить заявку</a>

                        <div class="social_m">
                            <div class="soc_text">Мы в социальных сетях</div>
                            <div class="items_m_s">
                                <div class="item">
                                    <img src="/frontend/img/instagram_ico.svg" alt="">
                                </div>

                                <div class="item">
                                    <img src="/frontend/img/odnoklassniki_ico.svg" alt="">
                                </div>

                                <div class="item">
                                    <img src="/frontend/img/youtube_ico.svg" alt="">
                                </div>

                                <div class="item vk">
                                    <img src="/frontend/img/vk_ico.svg" alt="">
                                </div>
                            </div>
                        </div>
                        
                    </div>


                    <div id="m-tab-2" class="tabs-content__item">

                        <div class="items_mob">
                            <div class="item">
                                <img src="/frontend/img/m_m_s_1.svg" alt="m_m_1">
                                <div>Передача данных</div>
                            </div>

                            <div class="item">
                                <img src="/frontend/img/m_m_s_2.svg" alt="m_m_2">
                                <div>Телевидение</div>
                            </div>

                            <div class="item">
                                <img src="/frontend/img/m_m_s_3.svg" alt="m_m_3">
                                <div>Видеонаблюдение</div>
                            </div>

                            <div class="item">
                                <img src="/frontend/img/m_m_s_4.svg" alt="m_m_3">
                                <div>Виртуальная АТС</div>
                            </div>
                        </div>

                        <ul>
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Новости</a></li>
                            <li><a href="#">Клиентам</a></li>
                            <li><a href="#">Помощь</a></li>
                        </ul>

                        <a class="get_z" href="#">Оформить заявку</a>
                        <div class="user_area">
                            <a href="https://www.google.by/">
                                <img src="/frontend/img/user_room.svg" alt="user_area" />
                                <div>Личный кабинет</div>
                            </a>
                        </div>
                        <div class="social_m">
                            <div class="soc_text">Мы в социальных сетях</div>
                            <div class="items_m_s">
                                <div class="item">
                                    <img src="/frontend/img/instagram_ico.svg" alt="">
                                </div>

                                <div class="item">
                                    <img src="/frontend/img/odnoklassniki_ico.svg" alt="">
                                </div>

                                <div class="item">
                                    <img src="/frontend/img/youtube_ico.svg" alt="">
                                </div>

                                <div class="item vk">
                                    <img src="/frontend/img/vk_ico.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                        
            </div>
        </div>
    </div>
</header>