<nav class="individual_panel">
    <div class="container">

        <div class="ind_nav">
            <div class="ind_item">
                <a href="https://www.google.by/">
                    <img src="/frontend/img/internet_tv_new.svg" alt="internet_tv" />
                    <div>Интернет и TВ</div>
                </a>
            </div>

            <div class="ind_item">
                <a href="https://www.google.by/">
                    <img src="/frontend/img/router_ico.svg" alt="internet_tv" />
                    <div>Интернет</div>
                </a>
            </div>

            <div class="ind_item">
                <a href="https://www.google.by/">
                    <img src="/frontend/img/tv_ico.svg" alt="internet_tv" />
                    <div>Телевидение</div>
                </a> 
            </div>
        </div>

        <div class="user_area">
                <a href="https://www.google.by/">
                    <img src="/frontend/img/user_room.svg" alt="user_area" />
                    <div>Личный кабинет</div>
                </a>
        </div>
    </div>
</nav>