<nav class="individual_panel">
    <div class="container">

        <div class="ind_nav">
            <div class="ind_item">
                <a href="https://www.google.by/">
                    <img src="/frontend/img/transfer_data_ico.svg" alt="transfer_data_ico" />
                    <div>Передача данных</div>
                </a>
            </div>

            <div class="ind_item">
                <a href="https://www.google.by/">
                    <img src="/frontend/img/tv_ico.svg" alt="tv_ico" />
                    <div>Телевидение</div>
                </a>
            </div>

            <div class="ind_item">
                <a href="https://www.google.by/">
                    <img src="/frontend/img/camera-ico.svg" alt="camera-ico" />
                    <div>Видеонаблюдение</div>
                </a> 
            </div>

            <div class="ind_item">
                <a href="https://www.google.by/">
                    <img src="/frontend/img/virtual_atc_ico.svg" alt="virtual_atc_ico" />
                    <div>Виртуальная АТС</div>
                </a> 
            </div>
        </div>

        <div class="user_area">
                <a href="https://www.google.by/">
                    <img src="/frontend/img/user_room.svg" alt="user_area" />
                    <div>Личный кабинет</div>
                </a>
        </div>
    </div>
</nav>