<section id="our_stocks">
    <div class="container">
        <h1 class="block_name">Услуги для дома</h1>
        <div class="stocks_items">
            <div class="stock_item">
                <div class="item_content">
                    <img src="/frontend/img/internet_tv_new.svg" alt="internet_tv_ico">
                    <div>
                        <h4>Интернет и ТВ</h4>
                        <span>Пакеты “Комбо” и “Cosmo Box”</span>
                        <p>Цифровое или интерактивное телевидение и скоростной интернет</p>
                        <a href="#">
                            <div class="more">Подробнее</div>
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.636364 4.63642H11.8273L9.73182 6.73192C9.4833 6.9804 9.4833 7.38335 9.73182 7.63187C9.85608 7.75609 10.019 7.81824 10.1818 7.81824C10.3447 7.81824 10.5076 7.75609 10.6318 7.63183L13.8136 4.45001C14.0621 4.20153 14.0621 3.79858 13.8136 3.55006L10.6318 0.368244C10.3833 0.119765 9.98034 0.119765 9.73182 0.368244C9.4833 0.616723 9.4833 1.01967 9.73182 1.26819L11.8273 3.36369H0.636364C0.284921 3.36369 0 3.64861 0 4.00006C0 4.3515 0.284921 4.63642 0.636364 4.63642Z" fill="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="stock_item">
                <div class="item_content">
                    <img src="/frontend/img/router_ico.svg" alt="router_ico">
                    <div>
                        <h4>Интернет</h4>
                        <span>до 300 Мбит/с</span>
                        <p>Цифровое или интерактивное телевидение и скоростной интернет</p>
                        <a href="#">
                            <div class="more">Подробнее</div>
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.636364 4.63642H11.8273L9.73182 6.73192C9.4833 6.9804 9.4833 7.38335 9.73182 7.63187C9.85608 7.75609 10.019 7.81824 10.1818 7.81824C10.3447 7.81824 10.5076 7.75609 10.6318 7.63183L13.8136 4.45001C14.0621 4.20153 14.0621 3.79858 13.8136 3.55006L10.6318 0.368244C10.3833 0.119765 9.98034 0.119765 9.73182 0.368244C9.4833 0.616723 9.4833 1.01967 9.73182 1.26819L11.8273 3.36369H0.636364C0.284921 3.36369 0 3.64861 0 4.00006C0 4.3515 0.284921 4.63642 0.636364 4.63642Z" fill="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="stock_item">
                <div class="item_content">
                    <img src="/frontend/img/tv_ico.svg" alt="tv_ico">
                    <div>
                        <h4>Телевидение</h4>
                        <span>Более 170 каналов</span>
                        <p>Цифровое или интерактивное телевидение и скоростной интернет</p>
                        <a href="#">
                            <div class="more">Подробнее</div>
                            <svg width="14" height="8" viewBox="0 0 14 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0.636364 4.63642H11.8273L9.73182 6.73192C9.4833 6.9804 9.4833 7.38335 9.73182 7.63187C9.85608 7.75609 10.019 7.81824 10.1818 7.81824C10.3447 7.81824 10.5076 7.75609 10.6318 7.63183L13.8136 4.45001C14.0621 4.20153 14.0621 3.79858 13.8136 3.55006L10.6318 0.368244C10.3833 0.119765 9.98034 0.119765 9.73182 0.368244C9.4833 0.616723 9.4833 1.01967 9.73182 1.26819L11.8273 3.36369H0.636364C0.284921 3.36369 0 3.64861 0 4.00006C0 4.3515 0.284921 4.63642 0.636364 4.63642Z" fill="black"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>