#about_before {
  margin-bottom: 90px;

  .container {
    flex-wrap: wrap;

    .before {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 20px;
      color: #525252;
      max-width: 944px;
      width: 100%;
      opacity: 0.6;
      margin-bottom: 20px;
      @include mobile {
        margin-bottom: 0;
        text-overflow: clip;
        height: 6.4em;
        overflow: hidden;
      }
    }

    .blue_text {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #000000;

      span {
        font-weight: 700;
        color: #027FD5;
      }
    }
  }

  @include mobile {
    margin-bottom: 50px;
  }
}