$orange_main: #FF5300;
$blue_main: #027FD5;
#additional_subscriptions {
  .all_subs {
    //width: 100%;
    display: flex;
    margin-bottom: 100px;
    flex-wrap: wrap;

    .item {
      background: #FFFFFF;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      padding: 40px;
      margin-right: 20px;
      min-width: 280px;

      img {
        margin-bottom: 15px;
      }
    ;

      h4 {
        max-width: 260px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 5px;
      }

      p {
        max-width: 260px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #000000;
        margin-bottom: 25px;
      }
    }

    .btn_price {
      display: flex;
      align-items: center;

      div {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #606060;
        margin-right: 8px;
      }

      img.arrow_subs_ico {
        margin-bottom: 0px;
      }
    }
  }
}

#additional_subscriptions {
  .price_custom {
    a {
      .price_detail,
      .arrow_subs_ico {
        transition: .3s;
      }

      &:hover {
        .price_detail {
          color: #FF5300;
        }

        .arrow_subs_ico {
          fill: #FF5300;
        }
      }
    }
  }

  @include mobile {
    .all_subs {
      .item {
        p {
          margin-bottom: 49px;
        }
      }

      .item > img {
        margin-bottom: 20px;
        //width: 47px;
        height: 23px;
      }
    }
    .price_custom {
      .main_text {
        align-items: center;

        .text {
          font-size: 10px;
          line-height: 10px;
        }

        .number {
          font-size: 26px;
          line-height: 26px;
        }
      }
    }
    .all_subs {
      margin-bottom: 50px;

      .item {
        &:first-child {
          margin-top: 0;
        }

        margin-top: 10px;
        //margin-left: 20px;
        padding: 30px 28px 25px 25px;
      }
    }
  }
}
