#form_staf {
  background: linear-gradient(90deg, #027FD5 0%, #4DADEF 100%);
  padding-top: 102px;
  padding-bottom: 102px;
  @include mobile {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .container {
    justify-content: space-between;

    .all_c {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      @include mobile {
        flex-wrap: wrap;
      }
    }

    .text {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 38px;
      color: #FFFFFF;
      margin-right: 150px;

      max-width: 430px;
      @include mobile {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #FFFFFF;


        margin-right: 0px;
        margin-bottom: 30px;
      }

      @include large-desktop {
        max-width: none;
      }
    }

    .all_inputs {
      display: flex;
      @include mobile {
        justify-content: space-between;
        max-width: none;
      }

      .input_block.place {
        max-width: 360px;
        min-width: 360px;
        @include medium-desktop {
          width: 100%;
          max-width: none;
          min-width: none;
          margin-bottom: 20px;
        }
        @include mobile {
          width: 100%;
          min-width: 200px;
          max-width: none;
        }
      }

      .input_block.home {
        max-width: 120px;
        min-width: 120px;
        @include medium-desktop {
          width: 100%;
          max-width: none;
          min-width: none;
          margin-bottom: 20px;
        }
        @include mobile {
          width: 49%;
        }
      }

      .input_block.korpus {
        max-width: 120px;
        min-width: 120px;
        @include medium-desktop {
          width: 100%;
          max-width: none;
          min-width: none;
          margin-bottom: 20px;
        }
        @include mobile {
          width: 49%;
        }
      }

      .input_block.name {
        max-width: 305px;
        min-width: 305px;
        @include medium-desktop {
          width: 100%;
          max-width: none;
          min-width: none;
          margin-bottom: 20px;
        }
      }

      .input_block.phone_number {
        max-width: 305px;
        min-width: 305px;
        @include medium-desktop {
          width: 100%;
          max-width: none;
          min-width: none;
          margin-bottom: 20px;
        }
      }

      .btn_custom {
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        background: #FF5300;
        box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
        border-radius: 4px;
        align-self: flex-end;


        @include mobile {
          width: 100%;
          justify-content: center;
        }

        svg {
          margin-right: 10px;
        }

        div {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;
          color: #FFFFFF;
        }
      }

      .btn_custom.offer {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 45px;
        padding-right: 47px;
        transition: .3s;

        &:hover {
          background: #027FD5;
          box-shadow: 0px 4px 40px rgba(2, 127, 213, 0.3);
        }
      }
    }


  }
}


#test_inputs {
  background: linear-gradient(90deg, #027FD5 0%, #4DADEF 100%);
  padding-top: 102px;
  padding-bottom: 102px;
  margin-bottom: 100px;
  width: 100%;
  @include mobile {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .items {
    display: flex;
    width: 100%;
    @include small-desktop {
      flex-wrap: wrap;
      justify-content: center;
    }
    @include tablet {
      justify-content: left;
    }

    .btn_custom {
      display: flex;
      padding-top: 15px;
      padding-bottom: 15px;
      padding-left: 30px;
      padding-right: 30px;
      align-items: center;
      background: #FF5300;
      box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
      border-radius: 4px;
      align-self: flex-end;
      transition: 0.3s;

      &:hover {
        background: #027FD5;
        box-shadow: 0px 4px 40px rgba(2, 127, 213, 0.3);
      }

      @include mobile {
        width: 100%;
        justify-content: center;
      }

      svg {
        margin-right: 10px;
      }

      div {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
      }
    }

    .btn_custom_w_i {
      display: flex;
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 30px;
      padding-right: 30px;
      align-items: center;
      background: #FF5300;
      box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
      border-radius: 4px;
      align-self: flex-end;
      transition: 0.3s;

      &:hover {
        background: #027FD5;
        box-shadow: 0px 4px 40px rgba(2, 127, 213, 0.3);
      }

      @include mobile {
        width: 100%;
        justify-content: center;
      }

      svg {
        margin-right: 10px;
      }

      div {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #FFFFFF;
      }
    }

    .text_in {
      margin-right: auto;
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 38px;
      max-width: 430px;
      color: #FFFFFF;

      @include small-desktop {
        max-width: none;
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
      }

    }

    .block {

      margin-right: 20px;

      @include tablet {
        margin-right: 0px;
      }

      label {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-left: 20px;
      }

      .name {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: red;
        width: 100%;
      }

      input {
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 1px 45px rgba(0, 0, 0, 0.05);
        border-radius: 4px;
        padding: 19px 30px;
        margin-top: 14px;

        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 15px;
        color: #999999;
      }
    }

    .street_block {
      width: 100%;
      max-width: 360px;
      @include tablet {
        max-width: none;
        margin-bottom: 20px;
      }
    }

    .home_block {
      width: 100%;
      max-width: 120px;
      @include tablet {
        max-width: none;
        margin-bottom: 20px;
      }
    }

    .name_block {
      width: 100%;
      max-width: 305px;
      @include tablet {
        max-width: none;
        margin-bottom: 20px;
      }
    }

    .number_block {
      width: 100%;
      max-width: 305px;
      @include tablet {
        max-width: none;
        margin-bottom: 20px;
      }
    }

    .flat_block {
      width: 100%;
      max-width: 120px;
      @include tablet {
        max-width: none;
        margin-bottom: 20px;
      }
    }

  }
}

#test_inputs {
  margin-bottom: 0;

  .container {
    .items {
      align-items: flex-end;
      @include mobile {
        .home_block,
        .flat_block {
          min-width: 135px;
        }
      }

      .text_in {
        @include mobile {
          font-size: 24px;
          line-height: 30px;
          margin-bottom: 30px;
        }

      }

      .block {
        margin-right: 10px;
        @include mobile {
          margin-right: 0;
          input {
            margin-top: 10px;
          }
        }
      }

      .home_block {
        @include mobile {
          margin-right: 10px;
        }
      }

      .home_block,
      .flat_block {
        input {
          text-align: center;
          @include tablet-vert {
            text-align: left;
          }
          @include mobile {
            text-align: center;
          }
        }
      }

      .container_home {
        display: flex;
        justify-content: space-between;
        @include mobile {
          width: 100%;
        }
      }

      .street_block {
        @include mobile {
          margin-bottom: 15px;
        }
      }

      .btn_size {
        width: 217px;
        height: 54px;
        @media screen and (max-width: 990px) {
          margin-bottom: 20px;
        }
        @include mobile {
          width: 100%;
          height: 60px;
        }
      }
    }
  }

}