#strukt_menu.context_11_container {
  .all_menu {
    min-width: 270px;
    max-width: 270px;
  }

  .place_items {
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;

    .place_item {
      max-width: 345px;
      height: 351px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      padding: 40px;
      background: #fff;
      -webkit-box-shadow: 0 4px 60px rgba(0, 0, 0, 0.05);
      box-shadow: 0 4px 60px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      width: 100%;
      margin-left: 20px;

      .chanels {
        flex-wrap: wrap;
        margin-bottom: 16px;

        .img_text {
          display: flex;

          img {
            margin-right: 10px;
          }

          div {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
          }
        }

        .list_chanels {
          margin-top: 10px;
        }
      }

      .heaps {
        ul {
          li {
            display: flex;
            margin-bottom: 5px;

            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #525252;

            &:last-child {
              margin-bottom: 0px;
            }

            img {
              margin-right: 10px;
            }
          }
        }
      }

      .btn_connect {
        text-align: center;
        border: 2px solid #027FD5;
        border-radius: 4px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #027FD5;
        text-transform: uppercase;
        transition: .3s;

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          border-radius: 4px;
          color: #fff;
        }
      }

      .block_1 {
        hr {
          background: solid rgba(0, 0, 0, .1);
          height: 1px;
          // width:265px;
          margin-top: 16px;
          margin-bottom: 16px;
        }

        h2 {
          font-size: 21px;
          line-height: 26px;
        }
      }

      @include mobile {
        //justify-content: normal;
        margin: 0px 0px 20px 0px;
        padding: 30px 25px;
        max-width: 280px;
        height: 326px;
        .block_1 {
          h2 {
            font-size: 18px;
            margin-bottom: 0;
          }
        }
        .chanels {
          .img_text {
            margin-bottom: 15px;
          }

          .list_chanels {
            margin-top: 10px;
          }

          margin-bottom: 0px;
        }

        &:first-child {
          margin-top: 10px;
        }
      }
    }

    @include mobile {
      justify-content: center;
      margin-bottom: 30px;
      margin-left: 0;
    }
  }

  .btn_block {
    display: flex;
    justify-content: center;
    margin-top: -40px;
    margin-bottom: 30px;
    width: 162px;
    text-align: center;

    .more_event_btn {
      width: 162px;
      height: 46px;
      padding: 0 30px;
      background-position: right;
      background-position-x: 113px;
      align-items: center;
      text-align: end;
      color: #FFFFFF;
      background-color: #027FD5;
      box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
      border-radius: 4px;
      transition: .3s;
      background-image: url(/frontend/img/arrow_blue.svg);
      //background: #FFFFFF;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      transform: rotate(180deg);
      display: flex;

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        transform: rotate(180deg);
      }


      &:hover {
        color: #FFFFFF;
        background-color: #FF5300;
        box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
        border-radius: 4px;
      }
    }

    @include small-tablet {
      margin-top: 0;
    }
    @include mobile {
      margin-top: 40px;
      margin-bottom: 50px;
      margin-left: 20px;
    }
  }

  .company_worker.cont_5_box {
    .list_channels {

      .channel_container {
        display: flex;
        margin-left: -19px;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;

        .item {
          padding: 30px;
          margin-top: 19px;
          margin-left: 19px;
          width: 200px;
          height: 137px;
          background: #FFFFFF;
          box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.08);
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          //transition: .3s;

          &:hover {
            //transform: scale(1.1);
            display: block;
          }

          .img_bl {
            width: 80px;
            height: 60px;
            margin-bottom: 15px;
          }

          .block_text {
            //display: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            //transition: .3s;

            &:hover ~ .block_message {
              display: flex;
            }

            @include mobile {
              div {
                font-size: 13px;
                line-height: 18px;
              }
            }
          }

          .block_message {
            box-shadow: 0px 4px 80px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            padding: 30px;
            background: #FFFFFF;
            display: none;
            //display: flex;
            flex-direction: column;
            max-width: 500px;
            position: absolute;
            z-index: 5;

            &:hover {
              display: block;
            }

            .header {
              display: flex;
              align-items: center;
              margin-bottom: 15px;

              img {
                margin-right: 15px;
              }
            }

            .description,
            .subjects,
            .broadcasting,
            .lang,
            a {
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 22px;
              color: #000000;
              margin-bottom: 5px;
            }

            a {
              color: #027FD5;
            }

            .subjects,
            .broadcasting,
            .lang {
              span {
                font-weight: 700;
              }
            }
          }

          @include mobile {
            padding: 20px 27px;
            .img_bl {
              margin-bottom: 10px;
            }
          }
        }
      }
    }

    h1 {
      padding-bottom: 21px;
      margin-bottom: 0;
    }

    @include mobile {
      .cont_5.cont_8 {
        margin-bottom: 0;
        padding-bottom: 15px;
      }
      .list_channels {
        width: calc(100% - 39px);
        margin: 0 15px 50px 20px;

        .channel_container {
          //margin-left: -15px;
          .item {
            margin-left: 15px;
            margin-top: 15px;
            width: 135px;
          }
        }
      }
    }
  }

  @include small-tablet {
    margin-top: -30px;
  }
  @include mobile {
    .company_worker.cont_5_box {
      margin-bottom: 0;
    }
  }
}

.all_mob_menu.context_11 {
  @include small-tablet {
    display: none;
  }
}