#how_to_connect.context_10 {
  .container.all_content {
    padding-top: 70px;
    padding-bottom: 70px;

    .simple_text {
      display: flex;
      flex-direction: column;
      justify-content: center;

      div {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        color: #027FD5;
        // max-width: 587px;
        width: 100%;
        margin-bottom: 20px;
        @include mobile {
          margin-bottom: 25px;
          font-size: 18px;
          line-height: 28px;
        }
      }
    }

    .text_with_inputs {

      .all_inputs {
        flex-direction: column;

        .input_block {
          margin-right: 0;
        }

        .input_block.name {
          max-width: none;

          &:first-child {
            margin-right: 20px;
            @include tablet {
              margin-right: 0px;
              margin-top: 25px;
            }
            @include mobile{
              margin-top: 0;
            }
          }
        }

        .input_block.number {
          max-width: none;
          @include tablet {
            margin-top: 20px;
          }
          @include small-tablet{
            margin-top: 0;
          }
        }

        .input_block.description {
          margin-top: 20px;

          textarea {
            width: 830px;
            height: 130px;
            border: none;
            @include tablet {
              width: 100%;
            }
          }

          .custom_input_label {
            color: #000000;
          }
        }
        @include small-desktop-min{
          margin-top: 20px;
        }
        @include tablet {
          margin-top: 0px;
        }
      }

      .success_box {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .about_text {
          max-width: 365px;
          margin-bottom: 0;
        }

        .btn_custom {
          display: block;
          margin-top: 26px;

          div {
            transition: .3s;

            &:hover {
              background: #027FD5;
              box-shadow: 0px 4px 40px rgba(2, 127, 213, 0.3);
              border-radius: 4px;
              color: #FFFFFF;
            }
          }

          width: 217px;
          @include small-tablet {
            margin-top: 20px;
          }
          @include mobile {
            width: 100%;
          }

          .text {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;

            background: #FF5300;
            box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
            border-radius: 4px;
            padding: 20px 64px;
          }
        }
      }
    }
  }

  @include mobile {
    .container.all_content {
      padding-bottom: 50px;
      padding-top: 50px;

      .simple_text {
        h3 {
          margin-bottom: 15px;
        }

        div {
          &:last-child {
            margin-bottom: 25px;
          }
        }
      }

      .text_with_inputs {
        .all_inputs {
          .inputs {
            .input_block.number {
              margin-top: 15px;

              div {
                margin-top: 0;
              }
            }
          }


          .input_block.description {
            margin-top: 15px;
          }
        }

        .success_box {
          flex-direction: column-reverse;
        }

      }
    }
  }

}

#strukt_menu.context_10_container {
  .company_worker.cont_5_box {
    .accordion_block {
      .panel {
        p:last-child {
          margin: 0;
        }
      }
    }
  }
}