.container.context_12 {
  display: flex;
  flex-direction: column;

  h2 {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #027FD5;
  }

  .map_container {
    display: flex;
    margin-top: 40px;

    .map {
      img {
        width: 650px;
        height: 504px;
      }
    }
  }

  .description {


    .items {
      display: flex;
      flex-wrap: wrap;

      .item {
        width: 360px;
        height: 252px;
        padding: 70px 0px 0px 45px;
        background: #F9F9F9;

        h4 {
          font-weight: bold;
          font-size: 18px;
          line-height: 28px;
          color: #000000;
          margin-bottom: 13px;
        }

        p {
          font-weight: normal;
          font-size: 15px;
          line-height: 30px;
          color: #000000;
        }

        .phone_container {
          display: flex;
          align-items: center;
          margin-top: 15px;

          p {
            font-weight: normal;
            font-size: 13px;
            line-height: 22px;
            color: #000000;
          }

          span {
            font-weight: bold;
            font-size: 26px;
            line-height: 26px;
            color: #000000;
            margin: 0px 8px;
          }
        }
      }

      .white {
        background: #FFFFFF;
      }
    }

    .solution {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 22px;
      color: #606060;
      margin-top: 50px;
    }

  }

  @include small-desktop-min {
    .map_container {
      flex-direction: column;
    }
  }
  @include mobile {
    width: 100%;
    h2 {
      margin: 0 auto;
      width: calc(100% - 40px);
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
      color: #027FD5;
    }
    .description {
      .items {
        .item {
          width: 100%;
          height: auto;
          padding: 30px 20px;
        }

        .cont {
          background: #f9f9f9;
        }

        .tech {
          background: #FFFFFF;
        }
      }

      .solution {
        display: none
      }
    }
    .map_container {
      .map {
        border: 1px solid black;
        //margin-top: 22px;
        width: calc(100% - 40px);
        margin: 22px auto 0;
        height: 322px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}

.container.call_back {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 117px;

  .requisites,
  .call_back_form {
    margin-top: 120px;

    .block_1,
    .block_2 {
      width: 449px;
      display: flex;
      flex-direction: column;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 30px;
      color: #000000;

      .box {
        display: flex;
        flex-wrap: wrap;
      }

      p {
        font-weight: 700;
        display: contents;
      }

      h4 {
        margin-bottom: 20px;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        color: #000000;
      }
    }

    .block_1 {
      margin-top: 40px;
    }

    .block_2 {
      margin-top: 30px;
    }

  }

  .call_back_form {
    width: 650px;

    form {
      display: flex;
      flex-direction: column;
      margin-top: 50px;

      .data_block {
        margin-left: -20px;
        display: flex;
        flex-wrap: wrap;

        label {
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #000000;
          width: 315px;
          margin-left: 20px;

          p {
            padding-left: 20px;
          }
        }

        input {
          margin-bottom: 14px;
          margin-top: 15px;
          width: 315px;
          padding: 18px;
          background: #F3F3F3;
          box-shadow: 0px 1px 45px rgba(0, 0, 0, .05);
          border-radius: 4px;
        }


      }

      .data_block_2 {
        label {
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #000000;

          p {
            padding-left: 20px;
          }

          select,
          textarea {
            margin-bottom: 14px;
            margin-top: 15px;
            border: none;
          }
        }

        .select_container {
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          cursor: pointer;
          padding: 17px;
          width: 100%;
          background: #F3F3F3;
          box-shadow: 0px 1px 45px rgba(0, 0, 0, 0.05);
          border-radius: 4px;
          border: none;
          font-weight: normal;
          font-size: 15px;
          line-height: 15px;
          color: #999999;

          &::after {
            //height:30px;
            margin-left: 5px;
            height: 8px;
            content: url('/frontend/img/left-arrow.svg');
            @include mobile {
              content: url('/frontend/img/left-arrow.svg');
              height: 8px;
            }
          }
        }

        .text_area_container {
          width: 650px;
          height: 140px;
          background: #F3F3F3;
          box-shadow: 0px 1px 45px rgba(0, 0, 0, 0.05);
          border-radius: 4px;
          padding: 20px 30px;

          &::placeholder {
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #999999;
          }
        }
      }

      .captcha {
        margin-top: 6px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .btn_custom {
        width: 217px;
        display: flex;
        padding-top: 18px;
        padding-bottom: 18px;
        padding-left: 30px;
        padding-right: 30px;
        align-items: center;
        background: #FF5300;
        box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
        border-radius: 4px;
        align-self: flex-end;
        transition: 0.3s;
        color: #FFFFFF;
        cursor: pointer;
        text-align: center;
        border: none;
        justify-content: center;

        &:hover {
          background: #027FD5;
          box-shadow: 0px 4px 40px rgba(2, 127, 213, 0.3);
          color: #FFFFFF;
        }

        @include mobile {
          width: 100%;
          justify-content: center;
        }

        svg {
          margin-right: 10px;
        }

        div {
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;
          color: #FFFFFF;
        }
      }
    }
  }

  @include small-desktop-min {
    flex-direction: column;
  }
  @include mobile {

    margin-bottom: 70px;
    .requisites {
      margin-top: 50px;

      .block_1,
      .block_2 {
        margin: 20px auto 30px;
        width: calc(100% - 40px);


      }
    }
    .call_back_form {
      width: 100%;
      margin-top: 50px;

      form {
        width: calc(100% - 40px);
        margin: 30px auto 0;

        .data_block {
          margin-left: 0;

          label {
            width: 100%;
            margin-left: 0;

            input {
              width: 100%;
            }
          }
        }

        .data_block_2 {
          .text_area_container {
            width: 100%;
          }
        }

        .captcha {
          flex-direction: column;

          .btn_custom {
            width: 217px;
            height: 54px;
            margin-top: 30px;
          }
        }
      }
    }
  }
}

.reception {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  margin-top: 100px;

  .text_block {
    margin-top: 40px;
  }

  .schedule h2 {
    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
  }

  p + p {
    padding-top: 10px;
  }

  .solution {
    margin-top: 70px;
    margin-bottom: 100px;
    font-size: 13px;
    line-height: 20px;
  }

  .table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;

    .row.header {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #606060;
      padding: 11px 30px 15px 30px;
    }

    .row.white {
      background: #FFFFFF;
    }

    .row {
      background: #F9F9F9;
      border-radius: 8px;
      width: 100%;
      padding: 14px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #000000;

      .first_c {
        //max-width: 560px;
        width: 100%;
        text-align: left;
        @include medium-desktop {
          margin-right: 20px;
        }
      }

      //.proc_container {
      //  display: flex;
      //  width: 100%;
      //  /* align-items: center; */
      //  justify-content: flex-end;
      //}

      .first_proc {
        //max-width: 188px;
        width: 100%;
        text-align: left;

        @include medium-desktop {
          margin-right: 20px;
        }
      }

      .next_proc {
        //max-width: 188px;
        width: 100%;
        text-align: left;
      }

    }

    @include mobile {
      .row {
        background: white;
        padding: 20px 20px 24px 20px;
        flex-direction: column;
        border-radius: 0;

        .first_c {
          margin-right: 0;
          text-align: left;
          margin-bottom: 10px;
        }

        .proc_container {
          justify-content: center;

          .first_proc {
            text-align: left;

            .first_proc {
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 15px;
              color: #606060;
              margin-bottom: 10px;
            }
          }

          .next_proc {
            text-align: left;

            .next_proc {
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 15px;
              color: #606060;
              margin-bottom: 10px;
            }
          }
        }
      }

      .row.white {
        background: #f9f9f9;
      }

      //.proc_container {
      //  display: flex;
      //}

      .row.header {
        display: none;
      }
    }
  }

  @include mobile {
    .text_block {
      font-size: 13px;
      line-height: 22px;
      width: calc(100% - 40px);
      margin: 0 auto;
    }
    .table {
      .row {
        align-items: flex-start;
        background: #f9f9f9;
        padding: 20px;

        .first_c {
          margin-bottom: 5px;
          font-size: 13px;
          line-height: 18px;
        }

        .first_proc {
          font-weight: bold;
          font-size: 16px;
          line-height: 20px;
          margin-bottom: 15px;
        }
      }

      .row.white {
        background: #FFFFFF;
      }
    }
    .solution {
      width: calc(100% - 40px);
      margin: 30px auto 50px;
    }
  }
}