#strukt_menu {
  .company_worker.cont_5_box {
    .accordion_block.context_8 {
      .panel {
        margin: 0;
        padding-top: 10px;
        padding-bottom: 50px;
        padding-right: 0;

        .items {
          display: flex;
          flex-wrap: wrap;
          margin-left: -18px;

          .item {
            width: 247px;
            height: 299px;
            padding: 30px;
            background: #FFFFFF;
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.1);
            border-radius: 4px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 18px;
            margin-top: 20px;

            .title_container {
              .title {
                font-size: 24px;
                line-height: 24px;
                color: #027FD5;
                padding-bottom: 20px;
              }

              .description {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #000000;

                span {
                  font-weight: 700;
                }
              }

            }

            .btn_container {
              display: flex;
              justify-content: flex-end;

              .eye {
                cursor: pointer;
                width: 50px;
                height: 50px;
                margin-left: 20px;
                content: '';
                background-image: url(/frontend/img/eye.svg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 18px 18px;
                box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
                border-radius: 50%;
                -webkit-transition: .3s;
                -o-transition: .3s;
                transition: .3s;
                -ms-flex-negative: 0;
                flex-shrink: 0;

                &:hover {
                  background-color: #027FD5;
                  background-image: url(/frontend/img/eye_blue.svg);
                }
              }

              a {
                background: #027FD5;
                box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
                border-radius: 4px;
                font-weight: 600;
                font-size: 13px;
                line-height: 13px;
                text-align: center;
                color: #FFFFFF;
                padding: 14px 24px;
                transition: .3s;

                &:hover {
                  color: #FFFFFF;
                  background-color: #FF5300;
                  box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
                  border-radius: 4px;
                }
              }
            }

            .btn_container.btn_position {
              justify-content: center;
            }
          }
        }

        @include mobile {
          padding-top: 0px;
          padding-bottom: 30px;
        }
        @include mobile-min {
          .items {
            margin-left: 0;

            .item {
              margin-left: 0;
              width: 100%;
              height: 240px;
            }
          }
          width: 100%;
        }

      }

      .accordion {
        padding-left: 30px;
        padding-right: 25px;
      }
    }

    @include mobile {
      .cont_5.cont_8 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 20px;
      }
      .accordion_block.context_8 {
        .accordion {
          width: calc(100% - 40px);
          margin: 0 auto 10px;
          font-size: 13px;
        }
      }
      margin-bottom: 40px;
    }
  }

}

.none {
  display: none;
}
