
.container.context_7 {
  .title_container {
    display: flex;
    flex-direction: column;
  }

  .tabs-place-content {
    .items {
      margin-bottom: 10px;

      .item {
        cursor: pointer;
        background: #F9F9F9;
        padding: 40px 50px;
        display: flex;
        align-items: flex-end;
        transition: .3s;
        justify-content: space-between;
        margin-bottom: 10px;

        .date {
          display: flex;
          align-items: center;

          span {
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 10px;
            text-transform: uppercase;
            color: #FFFFFF;
            background: #FF5300;
            border-radius: 2px;
            padding: 5px 8px;
            margin-right: 15px;
          }

          span.blue {
            background: #027FD5;
          }

          p {
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 11px;
            text-transform: uppercase;
            color: #606060;
          }
        }

        .arrow {
          width: 65px;
          height: 65px;
          margin-left: 20px;
          content: '';
          background-image: url(/frontend/img/arrow.svg);
          //background: #FFFFFF;
          background-repeat: no-repeat;
          background-position: center;
          background-size: 18px 18px;
          box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
          border-radius: 50%;
          transition: .3s;
          flex-shrink: 0;
        }

        .news_block {
          display: flex;
          align-items: center;
          padding-top: 15px;

          .news {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #000000;
          }


        }

        &:hover {
          .arrow {
            background-image: url(/frontend/img/arrow_blue.svg);
            background-color: #027FD5;
            //box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.14);
            box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.14);
          }
        }

        @include mobile {
          padding: 20px;
          flex-direction: column;
          .news_block {
            .news {
              font-size: 21px;
            }
          }
          .arrow {
            width: 50px;
            height: 50px;
          }
        }
      }
    }

    .btn_block {
      display: flex;
      justify-content: center;
      margin-top: 70px;
      margin-bottom: 90px;

      .more_event_btn {
        color: #FFFFFF;
        background: #027FD5;
        box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
        border-radius: 4px;
        transition: .3s;
        padding: 18px 25px;

        &:hover {
          color: #FFFFFF;
          background-color: #FF5300;
          box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
          border-radius: 4px;
        }
      }

      @include mobile {
        margin-top: 40px;
        margin-bottom: 50px;
      }
    }

  }

  .tabs-place-triggers {
    margin-bottom: 20px;
    @include mobile {
      flex-wrap: wrap;
      a {
        width: 100%;
        margin-bottom: 0;
      }
    }
  }

  @include mobile {
    .title_container {
      flex-direction: column-reverse;
    }
  }
}

#one_news {

  .one_news_block {
    width: fit-content;

    h1, h2, h3, h4, h5, h6 {
      font-style: normal;
      font-weight: bold;
      color: #000000;
      margin-bottom: 10px;
    }

    h1 {
      font-size: 30px;
      line-height: 40px;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 24px;
      line-height: 32px;
    }

    h3 {
      font-size: 22px;
      line-height: 28px;
    }

    h4 {
      font-size: 20px;
      line-height: 26px;
    }

    h5 {
      font-size: 18px;
      line-height: 24px;
    }

    h6 {
      font-size: 16px;
      line-height: 22px;
    }

    .items {
      .solution {
        border-bottom: 1px solid rgba(96, 96, 96, .4);

        ul {
          padding-bottom: 30px;


          li {
            font-size: 15px;
            line-height: 24px;
            color: #000000;
            display: flex;
            align-items: flex-start;
            margin-bottom: 10px;

            &:before {
              position: relative;
              top: 6px;
              content: '';
              width: 6px;
              height: 6px;
              background-color: #027FD5;
              margin-right: 10px;
              border-radius: 50%;
              flex-shrink: 0;
            }
          }
        }
      }

      .social {
        margin-top: 40px;
        margin-bottom: 90px;

        .image_block {
          display: flex;
          margin-top: 15px;
        }

        div {
          font-style: normal;
          font-weight: bold;
          font-size: 9px;
          line-height: 9px;
          text-transform: uppercase;
          color: #027FD5;
        }

        svg {
          width: 35px;
          height: 35px;
          margin-right: 12px;
          transition: .3s;
          cursor: pointer;
          stroke: #000000;

          .color_2 {
            stroke: red;
          }

          &:hover {
            stroke: #027FD5;
            filter: drop-shadow(0px 1px 15px rgba(2, 127, 213, 0.5));
          }
        }

        @include small-tablet {
          margin-bottom: 50px;
        }
      }
    }
  }

  .paragraph_box {
    padding-bottom: 30px;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #000000;
    }

    p + p {
      padding-top: 10px;
    }
  }

  .image_box {
    margin-left: -23px;
    display: flex;
    flex-wrap: wrap;

    img {
      margin-left: 23px;
      max-width: 587px;
    }
  }

  img {
    margin-top: 10px;
    margin-bottom: 40px;
    border-radius: 8px;
    width: 100%;
  }

  .btn_block {
    display: flex;
    justify-content: center;
    width: 162px;
    height: 46px;
    margin-right: 81px;

    .more_event_btn {
      width: 162px;
      height: 46px;
      padding: 0 30px;
      background-position: right;
      background-position-x: 113px;
      align-items: center;
      text-align: end;
      color: #FFFFFF;
      background-color: #027FD5;
      box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
      border-radius: 4px;
      transition: .3s;
      background-image: url(/frontend/img/arrow_blue.svg);
      //background: #FFFFFF;
      background-repeat: no-repeat;
      background-size: 18px 18px;
      transform: rotate(180deg);
      display: flex;

      p {
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        transform: rotate(180deg);
      }


      &:hover {
        color: #FFFFFF;
        background-color: #FF5300;
        box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
        border-radius: 4px;
      }
    }
  }

  @include small-tablet {
    .container {
      width: 100%;
      margin: 0;
      flex-direction: column;
    }
    .btn_block {
      margin-left: 20px;
      margin-bottom: 20px;
    }
    h1 {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 20px;
    }
    h1, h2, h3, h4, h5, h6, .social,
    .paragraph_box {
      width: calc(100% - 40px);
      margin: 0 auto;

      p {
        font-size: 14px;
      }
    }

  }
  @include mobile {
    .image_box {
      img {
        margin-left: 0;
      }
    }
    .one_news_block {
      .items {
        .solution {
          ul {
            width: calc(100% - 40px);
            margin: 0 auto;
          }
        }

        .social {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 30px;
        }
      }
    }
  }
}

#news {
  .container {
    .more_news {
      div {
        cursor: pointer;

        a {
          transition: .3s;

          &:hover {
            color: #FF5300;
          }
        }

        &:hover {
          border-color: #FF5300;
        }
      }
    }
  }

  .container.context_7 {
    .more_news {
      margin-top: 10px;
    }
  }
}