#content_menu {
  ul {
    li {
      display: flex;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0px;
      }

      &::before {
        content: " ";
        position: relative;
        left: -15px;
        opacity: .7;
        width: 15px;
        top: -8px;
        border-bottom: 1px solid #000;
      }

      a {
        display: flex;
        justify-content: left;
        align-items: center;
        text-align: center;

        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 16px;
        color: #000000;
        opacity: 0.7;

      }
    }

    li.active {
      &::before {
        border-bottom: 3px solid #027FD5;
        width: 30px;
      }

      a {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #000000;
        opacity: 1;
      }
    }
  }
}

.menu_bread {
  margin-bottom: 20px;
  @include mobile {
    margin-bottom: 0px;
  }
}

#under_content {
  margin-top: 70px;
  margin-bottom: 50px; //чтобы край никкуда не вылазил можно стирать это если нужно
  div {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    max-width: 285px;
    width: 100%;
    margin-bottom: 46px;
  }

  a {
    background: #027FD5;
    box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
    border-radius: 4px;
    padding: 16px 24px;

    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    transition: .3s;

    &:hover {
      background: #FF5300;
      box-shadow: 0px 4px 30px rgba(255, 83, 0, 0.3);
    }
  }
}

.all_mob_menu {
  display: none;
  @include small-tablet {
    display: flex;
  }

  .container {
    .btn {
      display: flex;
      width: 100%;
      background: #027FD5;
      border-radius: 4px;
      display: flex;
      width: 100%;
      padding: 18px 14px;

      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 13px;
      color: #FFFFFF;
      justify-content: space-between;

      &::after {
        content: url('/frontend/img/mob_ico_arrow.svg')
      }
    }
  }
}

.h2_mob.container {
  display: none;
  @include small-tablet {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 30px;
  }
}

.h1_mob.container {
  display: none;
  @include small-tablet {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
  }
}

.mob_quality_indicators2 {
  display: none;
  @include small-tablet {
    display: block;
    width: 100%;
  }

  .row.black {
    background: #F9F9F9;;
  }

  .row {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .p_1 {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 10px;

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
    }

    .p_2 {
      width: 100%;
      display: flex;
      justify-content: space-between;

      div {
        .eql {
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 15px;
          color: #606060;
          margin-bottom: 10px;
        }

        .pr {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }
      }

    }
  }
}

.mob_quality_indicators {
  display: none;
  @include small-tablet {
    display: block;
    width: 100%;
    margin-bottom: 74px;
  }

  .row.black {
    background: #F9F9F9;;
  }

  .row {
    padding: 20px;
    display: flex;
    width: 100%;
    flex-wrap: wrap;

    .p_1 {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
      margin-bottom: 10px;

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
    }

    .p_2 {
      width: 100%;
      display: flex;
      justify-content: space-between;

      div {
        .eql {
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 15px;
          color: #606060;
          margin-bottom: 10px;
        }

        .pr {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
        }
      }

    }
  }
}

#strukt_menu {
  margin-top: 20px;


  .all_menu {
    margin-right: 80px;
    max-width: 285px;
    min-width: 285px;
    width: 100%;
    @include tablet-vert {
      margin-right: 10px;
    }
    @include small-tablet {
      display: none;
    }
  }

  .licenses {
    margin-bottom: 100px;
    @include mobile {
      width: calc(100% - 40px);
      margin: 0 auto;
      .give_stars {
        width: 100%;
        margin: 50px 0px;
      }
    }

    h1 {
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: #000000;
      @include mobile {
        font-size: 24px;
        line-height: 30px;
      }
    }

    .licenses_block {
      margin-top: 21px;
      display: flex;
      flex-wrap: wrap;
      width: 100%;


      @include tablet-vert {
        justify-content: center;
      }

      img {
        margin-top: 29px;
        margin-right: 15px;
        width: 100%;
        max-width: 343px;
        height: auto;
      }
    }

    .certs_block {
      width: 100%;
      display: flex;
      justify-content: left;

      img {
        width: 100%;
        max-width: 343px;
        height: auto;
      }
    }
  }

  .quality_indicators {
    @include small-tablet {
      //display: none
    }


    h1 {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: #000000;
      margin-bottom: 40px;
      @include mobile {
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 24px;
        line-height: 30px;
      }
    }

    h2 {
      max-width: 520px;
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 15px;
      line-height: 24px;
      color: #000000;
    }

    .second {
      margin-top: 80px;
    }

    .table.t2 {
      margin-bottom: 100px;
    }

    .table {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      margin-top: 3px;

      .row.header {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #606060;
        padding: 11px 30px 15px 30px;
      }

      .row.white {
        background: #FFFFFF;
      }

      .row {
        background: #F9F9F9;
        border-radius: 8px;
        width: 100%;
        padding: 17px 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 20px;
        color: #000000;

        .first_c {
          max-width: 560px;
          width: 100%;
          text-align: left;
          @include medium-desktop {
            margin-right: 20px;
          }
        }

        .proc_container {
          display: flex;
          width: 100%;
          /* align-items: center; */
          justify-content: flex-end;
        }

        .first_proc {
          max-width: 188px;
          width: 100%;
          text-align: center;

          &:last-child {

          }

          @include medium-desktop {
            margin-right: 20px;
          }
        }

        .first_proc.none {
          display: none;
          @include mobile {
            display: block;
          }
        }

        .next_proc {
          max-width: 188px;
          width: 100%;
          text-align: center;
        }

        .next_proc.none {
          display: none;
          @include mobile {
            display: block;
          }
        }
      }
    }

    @include mobile {
      .second {
        margin-top: 74px;
      }
      .table {
        //margin-top: 20px;

        .row {
          background: white;
          padding: 20px 20px 24px 20px;
          flex-direction: column;
          border-radius: 0;

          .first_c {
            margin-right: 0;
            text-align: left;
            margin-bottom: 10px;
          }

          .proc_container {
            justify-content: center;

            .first_proc {
              text-align: left;

              .first_proc {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 15px;
                color: #606060;
                margin-bottom: 10px;
              }
            }

            .next_proc {
              text-align: left;

              .next_proc {
                font-style: normal;
                font-weight: normal;
                font-size: 10px;
                line-height: 15px;
                color: #606060;
                margin-bottom: 10px;
              }
            }
          }
        }

        .row.white {
          background: #f9f9f9;
        }

        .proc_container {
          display: flex;
        }

        .row.header {
          display: none;
        }

      }
      .table.t2 {
        margin-bottom: 50px;
      }
    }
  }

  .company_worker.cont_5_box {
    width: 100%;
    margin-bottom: 100px;
    @include mobile {
      margin-bottom: 0px;
      h1.cont_5 {
        margin: 0 auto;
        width: calc(100% - 40px);
        margin-bottom: 30px;
      }
      .accordion_block {
        .accordion {
          min-height: 60px;
        }
      }

    }

    h1 {
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: #000000;
      margin-bottom: 40px;
      @include mobile {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 30px;
      }
    }

    .accordion_block {
      width: 100%;

      .accordion {
        @include mobile {
          font-style: normal;
          font-weight: 600;
          font-size: 15px;
          line-height: 20px;
          color: #FFFFFF;
          padding: 10px 20px;
          color: #000000;
          border-radius: 4px;
        }
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 30px;
        color: #000000;

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        width: 100%;
        background: #F9F9F9;
        border-radius: 8px;
        cursor: pointer;
        padding: 22px 50px;
        width: 100%;
        transition: 0.4s;

        svg {
          height: 30px;
          width: 30px;

          @include mobile {
            height: 16px;
            width: 16px;
          }
        }

        &:last-child {
          margin-bottom: 0px;
        }

      }

      .accordion.active {
        color: #FFFFFF;
        svg{
          fill: #FFFFFF;
        }
      }

      .accordion, svg {
        &:hover {
          background: #027FD5;
          color: #FFFFFF;
          fill: #FFFFFF;
        }
      }

      .active {
        width: 100%;
        background: #027FD5;
        color: #FFFFFF;
        svg{
          transform: rotate(
                          180deg);
        }

      }

      .panel {
        margin-top: 30px;
        margin-bottom: 70px;
        padding: 0 30px;
        width: 100%;
        display: none;
        overflow: hidden;
        @include mobile {
          padding: 0px 20px;
        }

        .job_sbm {

          max-width: 254px;

          a {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;

            padding: 20px 30px;
            background: #027FD5;
            box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
            border-radius: 4px;
          }
        }

        h4 {
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 24px;
          color: #000000;
          margin-bottom: 20px;
          @include mobile {
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
          }
        }

        p {
          @include mobile {
            font-size: 14px;
            line-height: 24px;
          }
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 24px;
          color: #000000;

          margin-bottom: 20px;

          &:last-child {
            margin: 6px;
          }
        }

        ul {
          li {

            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #000000;

            display: flex;
            padding-left: 10px;
            margin-bottom: 10px;

            &:last-child {
              margin-bottom: 30px;
            }

            &::before {
              position: relative;
              top: 7px;
              content: '';
              width: 6px;
              height: 6px;
              background-color: #027fd5;
              margin-right: 10px;
              border-radius: 50%;
              -ms-flex-negative: 0;
              flex-shrink: 0;
            }
          }
        }
      }
    }
  }

  .pay_block {
    width: calc(100% - 40px);
    margin: 0 auto;

    .n_text {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #000000;
    }

    .punkts {
      display: flex;
      margin-bottom: 10px;
      align-items: baseline;

      .numb {
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 24px;
        color: #027FD5;
        //text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        margin-right: 10px;
      }

      @include mobile {
        font-size: 14px;
        div {
          font-weight: 400;
        }

      }
    }

    p.f_p {
      margin-top: 30px;
      @include mobile {
        line-height: 24px;
      }
    }

    .n_p {
      margin-top: 14px;
      @include mobile {
        line-height: 24px;
      }
    }

    .banks {
      margin-top: 30px;
      // max-width: 348px;
      width: 100%;
      display: flex;

      ul {
        // margin-right: 20px;
        width: 100%;
        max-width: 348px;
        margin-right: 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #027FD5;
        @include mobile {
          font-size: 14px;
        }

        li {
          width: 100%;
          max-width: 348px;
          margin-bottom: 5px;
          display: flex;
          justify-content: flex-start;
          align-items: flex-start;

          &::before {
            position: relative;
            top: 7px;
            content: '';
            width: 6px;
            height: 6px;
            background-color: #027fd5;
            margin-right: 10px;
            border-radius: 50%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
          }

          &:last-child {
            margin-bottom: 0px;
          }
        }
      }

      .text_container {
        display: flex;
        width: 100%;
      }
    }

    .web_pay_items {
      margin-top: 30px;
      margin-bottom: 118px;
      width: 100%;
      display: flex;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 23px;

        &:last-child {
          margin-right: 0px;
        }

        .img_bl {
          background: #F9F9F9;
          border-radius: 8px;
          padding: 40px 30px;
          margin-bottom: 15px;
          @include mobile {
            padding: 25px 15px;
          }
        }

        div {
          a {
            display: block;
            max-width: 150px;
            font-style: normal;
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            text-align: center;
            text-decoration-line: underline;
            color: #027FD5;
            @include mobile {
              max-width: 130px;
            }
          }
        }

        @include mobile {
          margin-right: 0px;
          margin-left: 20px;
          margin-bottom: 20px;
        }
      }

      @include mobile {
        margin-left: -20px;
        width: auto;
        margin-bottom: 30px;
      }
    }

    .pay_type_items {
      display: flex;
      margin-top: 30px;
      margin-bottom: 40px;
      width: 100%;
      @include mobile {
        display: none;
      }

      .item {
        margin-right: 40px;

        &:last-child {
          margin-right: 0px;
        }
      }
    }

    .bank_items_vars {
      display: flex;
      margin-bottom: 90px;
      width: 100%;
      flex-wrap: wrap;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;


        margin-right: 23px;

        &:last-child {
          margin-right: 0px;
        }

        a {
          display: block;
          max-width: 150px;
          width: 100%;
          margin-top: 15px;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          text-decoration-line: underline;
          color: #027FD5;
          @include mobile {
            font-size: 12px;
            max-width: 130px;
          }
        }

        div {
          padding: 40px 30px;
          background: #F9F9F9;
          border-radius: 8px;
          @include mobile {
            padding: 25px 15px;
          }

          img {
            width: 100px;
            height: 60px
          }
        }

        @include mobile {
          margin-right: 0px;
          margin-left: 20px;
          margin-bottom: 20px;
        }
      }

      @include mobile {
        margin-left: -20px;
        width: auto;
        margin-bottom: 30px;
      }
    }

    .banks.und {
      margin-bottom: 14px;
      margin-top: 0px;
      margin-left: 15px;

      ul {
        text-decoration-line: none;

        li {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 24px;
          color: #000000;
          @include mobile {
            font-size: 14px;
            line-height: 24px;
          }

          .black {
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
            @include mobile {
              font-size: 14px;
              line-height: 24px;
            }
          }
        }
      }

      @include mobile {
        margin-left: 0;

      }
    }

    h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 15px;
      margin-top: 30px;
      @include mobile {
        //margin-top: 20px;
        //margin-bottom: 11px;
        font-size: 16px;
        margin-top: 38px;
        margin-bottom: 10px;

      }
    }

    h3.pay {
      @include mobile {
        margin-top: 30px;
      }
    }

    h2.bm {
      margin-top: 90px;
      @include mobile {
        margin-top: 50px;
        //margin-bottom: 34px;
        line-height: 30px;
        margin-bottom: 10px;
      }
    }

    h2 {
      width: 100%;
      margin-bottom: 10px;


      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 32px;
      color: #000000;
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 10px;

      span {
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        line-height: 24px;
        text-decoration-line: underline;
        color: #027FD5;
      }

      @include mobile {
        span {
          font-size: 14px;
          line-height: 28px;
        }
        font-size: 14px;
        line-height: 28px;
      }
    }

    .bm_text {
      @include mobile {
        line-height: 24px;
      }


    }

    p.pay_p {

      line-height: 24px;
      @include mobile {
        margin-top: 30px;
        font-size: 14px;
      }
    }

    p.punkts_descr {
      @include mobile {
        margin-top: 20px;
        line-height: 24px;
      }
    }

    .text_container {
      @include mobile {
        display: block;
        .before {
          margin-bottom: 0;
          text-overflow: clip;
          height: 12.4em;
          overflow: hidden;
        }
        .before.second {
          height: 14.4em;
        }
        .none {
          display: none;
        }
        .other_functions {
          display: flex;
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          line-height: 11px;
          color: #027FD5;
          cursor: pointer;
          text-align: left;
          padding-top: 10px;
          margin-bottom: 0px;
          align-items: center;

          &::after {
            //height:30px;
            margin-left: 5px;
            height: 8px;
            content: url('/frontend/img/left-arrow.svg');
            @include mobile {
              content: url('/frontend/img/left-arrow.svg');
              height: 8px;
            }
          }
        }
      }
    }

    .pay_nav_items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;
      flex-wrap: wrap;
      @include mobile {
        flex-direction: column;
      }

      .item {
        a {
          display: block;
          padding: 16px 20px;
          font-style: normal;
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;
          color: #525252;
          background: #F9F9F9;
          border-radius: 400px;
        }
      }

      .item.active {
        a {
          background: #027FD5;
          box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
          color: #FFFFFF;
          text-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
        }
      }
    }

    h1 {
      width: 100%;
      margin-bottom: 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: #000000;
    }
  }

  .all_comments_content {
    width: 100%;

    .show_more {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 100px;
      @include small-tablet {
        margin-bottom: 0px;
      }

      a {
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;

        background: #027FD5;
        box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
        border-radius: 4px;
        padding: 20px 30px;
      }
    }

    .comments_h2 {
      width: 100%;
      margin-bottom: 40px;
      font-size: 30px;
      line-height: 40px;
      @include mobile {
        margin-bottom: 30px;

        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
      }
    }

    .comments_block {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      .c_block {
        max-width: 520px;
        @include medium-desktop {
          max-width: 100%;
        }
        width: 100%;
        display: flex;
        flex-direction: column;

        .comment {
          width: 100%;
          background: #F9F9F9;
          border-radius: 8px;
          padding: 30px;

          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 24px;
          color: #000000;
          margin-bottom: 34px;
          @include mobile {
            margin-bottom: 20px;
          }

          &:last-child {
            margin-bottom: 76px;
          }

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
          }

          .stamp {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #000000;
            margin-top: 20px;
          }
        }
      }
    }
  }


  .about_us_content_part {
    width: 100%;

    .give_stars {
      display: none;
      @include small-tablet {
        display: block;
        width: 100%;
        margin-bottom: 50px;
      }


      a {
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 30px;
        box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
        border-radius: 4px;
        background: #027FD5;
        display: block;
        padding: 16px 24px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        color: #FFFFFF;
      }

      .text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #000000;
      }
    }

    img {
      min-width: 280px;
      min-height: 240px;
      width: 100%;
      border-radius: 8px;
      margin-bottom: 40px;
      @include mobile {
      }
    }

    h1 {
      margin-bottom: 30px;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 30px;
    }

    p.foter_p {
      margin-bottom: 100px;
      @include mobile {
        margin-bottom: 0px;
      }
    }

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 30px;
      color: #000000;
      margin-bottom: 20px;

      span {
        font-weight: bold;
      }

      &:last-child {
        margin-bottom: 100px;
      }
    }

    .timeline {
      margin-top: 30px;
      margin-bottom: 50px;

      li {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 37px;
        border-left: 2px solid #027FD5;
        padding-bottom: 24px;
        @include small-tablet {
          border: none;
          padding-left: 0px;
          flex-wrap: wrap;
        }

        &:first-child {
          @include small-tablet {
            content: '';
          }

          &::before {
            content: ('');
          }
        }

        &:last-child {
          padding-bottom: 0px;
        }

        &::before {
          @include small-tablet {
            content: '';
          }
          content: url('/frontend/img/circle_timeline_ico.svg');
          position: absolute;
          top: -5px;
          left: -7px;
        }

        .year {
          min-width: 75px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
          color: #000000;
          margin-right: 15px;
          @include small-tablet {
            width: 100%;
            margin-bottom: 5px;
          }

          span {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #027FD5;
          }

        }

        .line {
          margin-right: 15px;
          width: 30px;
          background: #525252;
          opacity: 0.4;
          height: 1px;
          @include small-tablet {
            display: none;
          }
        }

        .text {
          max-width: 777px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 24px;
          color: #000000;
        }
      }
    }

    @include mobile {
      h1 {
        margin-bottom: 20px;
      }
      p {
        font-size: 14px;
        line-height: 28px;
      }
      .timeline {
        margin-bottom: 40px;
      }
    }

    .text_container {
      display: none;

      @include mobile {
        display: block;
        .other_functions {
          display: flex;
          font-style: normal;
          font-weight: 600;
          font-size: 11px;
          line-height: 11px;
          color: #027FD5;
          cursor: pointer;
          text-align: left;
          padding-top: 10px;
          margin-bottom: 30px;
          align-items: center;

          &::after {
            //height:30px;
            margin-left: 5px;
            height: 8px;
            content: url('/frontend/img/left-arrow.svg');
            @include mobile {
              content: url('/frontend/img/left-arrow.svg');
              height: 8px;
            }
          }
        }
      }


    }

    .before {
      @include mobile {
        margin-bottom: 5px;
        text-overflow: clip;
        height: 17.4em;
        overflow: hidden;
      }

      .text_container {
        .other_functions {
          margin-bottom: 40px;
        }
      }
    }
  }

  .other_functions {
    display: none;
  }

  @include mobile {
    width: 100%;
    .all_comments_content.cont_4 {
      width: calc(100% - 40px);
      margin: 0 auto;

      .comments_block {
        .c_block {
          .comment {
            padding: 15px;
            margin-bottom: 20px;
          }
        }
      }

      .show_more {
        margin-top: 10px;
      }

      .give_stars {
        width: 100%;

        a {
          margin-left: 47px;
          margin-right: 47px;
        }
      }
    }

    .quality_indicators {
      h1,
      h2 {
        width: calc(100% - 40px);
        margin: 0 auto;
      }
    }
  }
}


.give_stars {
  display: none;
  @include small-tablet {
    display: block;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  @include mobile {
    width: calc(100% - 40px);
    margin: 50px auto;
  }

  a {
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 30px;
    box-shadow: 0px 1px 35px rgba(2, 127, 213, 0.18);
    border-radius: 4px;
    background: #027FD5;
    display: block;
    padding: 16px 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
  }

  .text {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #000000;
  }
}