#strukt_menu.context_9 {
  .widget_container {
    background: #F9F9F9;
    border-radius: 4px;
    margin-bottom: 30px;

    .widget {
      font-weight: 600;
      font-size: 15px;
      line-height: 24px;
      text-align: center;
      text-decoration-line: underline;
      padding: 238px;
      color: #000000;
      text-transform: uppercase;
    }
  }

  p {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 30px;
  }

  p.title {
    font-weight: 600;
  }

  .table {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 3px;
    margin-bottom: 30px;

    .row.header {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #606060;
      padding: 11px 30px 15px 30px;
    }

    .row.white {
      background: #FFFFFF;
    }

    .row {
      background: #F9F9F9;
      border-radius: 8px;
      width: 100%;
      padding: 17px 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #000000;

      .first_c {
        max-width: 560px;
        width: 100%;
        text-align: left;
        @include medium-desktop {
          margin-right: 20px;
        }
      }

      .proc_container {
        display: flex;
        width: 100%;
        /* align-items: center; */
        justify-content: flex-end;
      }

      .first_proc {
        max-width: 188px;
        width: 100%;
        text-align: center;

        &:last-child {

        }

        @include medium-desktop {
          margin-right: 20px;
        }
      }

      .first_proc.none {
        display: none;
        @include mobile {
          display: block;
        }
      }

      .next_proc {
        max-width: 188px;
        width: 100%;
        text-align: center;
      }

      .next_proc.none {
        display: none;
        @include mobile {
          display: block;
        }
      }
    }
  }

  @include small-tablet {
    h1.cont_5 {
      margin-bottom: 30px;
    }
    .widget_container {
      .widget {
        padding: 138px;
      }
    }
  }
  @include mobile {
    .company_worker {
      margin-bottom: 30px;
    }
    .widget_container {
      .widget {
        padding: 0px;
        width: 100%;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    p {
      width: calc(100% - 40px);
      margin: 0 auto;
      font-size: 14px;
    }
    p.title {
      margin-bottom: 15px;
    }
    .table {
      margin-top: 50px;

      .row {
        flex-direction: column;
        background: #FFFFFF;

        .first_c {
          margin: 0;
          font-weight: bold;
          font-size: 14px;
          line-height: 20px;
        }

        .proc_container {
          flex-direction: column;

          .first_proc,
          .next_proc {
            display: flex;
            max-width: none;
            margin-right: 0;
            font-style: normal;
            font-weight: normal;
            font-size: 10px;
            line-height: 15px;
            color: #606060;
            align-items: center;
            justify-content: space-between;

            .value {
              font-size: 14px;
              line-height: 20px;
              color: #000000;
            }
          }

          .first_proc,
          .next_proc {
            margin-top: 10px;
          }

          .con_9_w {
            width: 180px;
            text-align: left;
          }
        }
      }

      .row.header {
        display: none;
      }

      .row.white {
        background: #f9f9f9;
      }
    }

    .widget_container {
      width: calc(100% - 40px);
      margin: 0 auto 30px;

      p.title {
        font-size: 14px;
      }
    }
  }
}