#equipment {
  .container {
    position: relative;
    max-width: 1300px;

    .text_equipment_ab {
      position: absolute;
      top: -50px;
      left: -70px;

      font-style: normal;
      font-weight: bold;
      font-size: 100px;
      line-height: 100px;
      color: #000000;
      opacity: 0.03;
      @include tablet-vert {
        left: -10px;
      }
      @include tablet {
        font-size: 70px;
        line-height: 70px;
        left: -40px;
        top: -40px;
      }
      @include small-tablet {
        font-size: 50px;
        line-height: 50px;
      }
      @include mobile {
        font-size: 40px;
        line-height: 40px;
        top: -13px;
        left: -1px;
      }
      @include mobile-min {
        font-size: 30px;
        line-height: 30px;
      }
    }

    .all_content_equipment {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      .ab_text {
        width: 100%;
        margin-bottom: 70px;
        @include mobile {
          margin-bottom: 40px;
        }

        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 40px;
          color: #000000;

          max-width: 530px;
          @include small-desktop-min {
            font-size: 27px;
            line-height: 35px;
          }
          @include tablet {
            font-size: 23px;
            line-height: 30px;
          }
          @include mobile {
            font-size: 17px;
            line-height: 25px;
          }

          .orang_text {
            color: #FF5300;
          }
        }

      }

      .container_img {
        display: flex;
        margin-bottom: 120px;
        align-items: center;

        li {
          position: relative;
          top: -11px;

          &:before {
            position: relative;
            top: 7px;
            content: '';
            width: 6px;
            height: 6px;
            background-color: #027fd5;
            margin-right: 10px;
            border-radius: 50%;
            -ms-flex-negative: 0;
            flex-shrink: 0;
          }

          @include mobile {
            position: initial;
          }
        }

        @include tablet {
          flex-direction: column;
          margin-bottom: 50px;
          img {
            margin-bottom: 30px;
          }
        }
        @include mobile {
          margin-bottom: 0;
        }
      }

      .main_img {
        margin-right: 120px;
        //margin-bottom: 120px;
        @include mobile {
          margin-right: 0;
          width: 100%;
          margin-bottom: 30px;
        }
      }

      ul {
        @include small-desktop {
          //margin-bottom: 60px;
        }
        @include mobile {
          margin-bottom: 50px;
        }


        li {
          display: flex;
          justify-content: left;
          margin-bottom: 16px;
          @include mobile {
            align-items: flex-start;
          }

          &:last-child {
            margin-bottom: 0px;
          }

          img {
            margin-right: 10px;
            @include mobile {
              margin-top: 6px;
            }
          }

          div {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
            @include mobile {
              font-size: 14px;
              line-height: 20px;
            }
          }
        }
      }
    }
  }
}