$orange_main: #FF5300;
$blue_main: #027FD5;
#custom_tabs {
  .wrapper {


    .tabs {
      .tabs-content {
        .items.fiz_2 {
          @include mobile {
            .good_item {
              //hr {
              //  &:last-child {
              //    hr {
              //      display: none;
              //    }
              //  }
              //}
              .heaps {
                display: none;
              }

              .text_container {
                img,
                .grey_text {
                  display: none;
                }

              }

              //margin-top: 0;
            }
          }
        }

        .items {
          margin-bottom: 70px;
        }

        .btn_connect {
          transition: .3s;

          &:hover {
            background: #027FD5;
            box-shadow: 0px 4px 40px rgba(2, 127, 213, 0.3);
            border-radius: 4px;
            color: #FFFFFF;
          }
        }

        .help_info {
          div {
            margin-bottom: 8px;

            a {
              transition: .3s;

              &:hover {
                color: $orange_main;
                border-color: $orange_main;
              }
            }
          }

        }

        .price {
          .sales_price {
            .content_pr {
              img {
                margin-right: 5px;
              }
            }
          }
        }

        .foolow {
          flex-direction: column;

          .other_functions {
            display: flex;
            font-style: normal;
            font-weight: 600;
            font-size: 11px;
            line-height: 11px;
            color: #027FD5;
            cursor: pointer;
            text-align: left;
            padding-top: 10px;
            margin-bottom: -21px;
            align-items: center;

            &::after {
              //height:30px;
              margin-left: 5px;
              height: 8px;
              content: url('/frontend/img/left-arrow.svg');
              @include mobile {
                content: url('/frontend/img/left-arrow.svg');
                height: 8px;
              }
            }
          }

          .text_container {
            display: flex;
          }
        }

      }
      .tabs-content__item {
        .items {
          .good_item {
            .upgrate {
              margin-top: 16px;
            }
          }
        }
      }
    }
  }
}

#how_to_connect {
  .all_content {
    .text_with_inputs {
      .inputs {
        .btn_custom {
          div {
            transition: .3s;

            &:hover {
              background: #027FD5;
              box-shadow: 0px 4px 40px rgba(2, 127, 213, 0.3);
              border-radius: 4px;
              color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}

#pers_content {
  @include mobile {
    .background_plus {
      top: 135px;
    }
    .container {
      .bonus_packet {
        margin-bottom: 50px;
      }

      .baner {
        padding: 50px 25px 40px 25px;
        margin-bottom: 40px;

        .baner_content {
          .text_content {
            h2 {
              margin-top: 30px;
              font-size: 28px;
              line-height: 36px;
            }

            h3 {
              font-size: 15px;
              line-height: 24px;
              margin-bottom: 25px;
            }

            p {
              font-size: 13px;
              line-height: 20px;
            }
          }
        }
      }

      .about_combo_text {
        margin-bottom: 30px;
      }
    }
  }
}

#additional_subscriptions {
  @include mobile {
    .all_subs {
      .item {
        margin-right: 0;
        min-height: 241px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .item > img {
        align-self: flex-start;
      }
    }
  }

}