.test_pages{
  a{
    margin-top: 10px;
    margin-bottom: 10px;
    &:hover{
      color: darkorange;
    }
  }
}
#main-slider.fiz_1 {
  .container-sl-m {
    @include small-desktop {
      width: calc(100% - 60px);
    }

    .swiper-pagination {
      @include small-desktop-min {
        bottom: 60px;
      }
      @include mobile {
        bottom: 58px;
        right: -40px;
      }
    }
    .swiper-wrapper {
      flex-wrap: nowrap;
      .swiper-slide {
        .items {
          div {
            @include small-desktop-min {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              padding-bottom: 41px;
            }

            p {
              margin-bottom: 44px;
            }

            a {
              text-align: center;
              max-width: 175px;
              @include mobile{
                max-width: 139px;
              }
            }

            h1 {
              @include tablet-vert {
                font-size: 24px;
              }
            }
          }

          img {
            height: 400px;

            @include small-desktop {
              height: 300px;
            }

            @include mobile {
              height: 180px;
            }
          }
        }
      }
    }
  }
}

#news {
  .container {
    .news_block {
      .news_name {
        transition: .3s;

        &:hover {
          color: #027FD5;
        }
      }
    }
  }
}

.swiper-pagination-bullet {
  @include mobile {
    width: var(--swiper-pagination-bullet-width, var(--swiper-pagination-bullet-size, 6px));
    height: var(--swiper-pagination-bullet-height, var(--swiper-pagination-bullet-size, 6px))
  }
}

#news {
  @include mobile {
    .container {
      .news_block {
        .item_news {

          .data_block {
            margin-bottom: 14px;
          }

          .news_name {
            font-size: 18px;
            line-height: 26px;
          }
        }

      }
    }
  }
}

