#custom_tabs {
  .wrapper {
    .tabs-content {
      #tab-2 {
        .items {
          .good_item_container {
            .good_item {
              justify-content: space-between;

              .text_container {
                margin-bottom: -34px;
                display: flex;

                img {
                  margin-right: 10px;
                }
              }
            }
          }
        }
      }
    }

    .tabs-content__item {
      .items.fiz_3 {
        //flex-direction: column;
        //height: 470px;
        margin-top: 0;
        @include mobile {
          margin-bottom: 50px;
        }
      }
    }
  }
}

#pers_content {
  .container {
    .about_combo_text {
      .title {
        margin-bottom: 10px;
      }

      .description {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
      }
    }

    .pluses_of_combos {
      .text_comos_tv {
        margin-bottom: 170px;
        @include mobile {
          margin-bottom: 65px;
        }
      }

      .pluses_items {
        margin-bottom: 40px;
      }

      .pluses_items.fiz_3_fix {
        @include mobile {
          .item_plus {
            margin-top: 24px;

            &:first-child {
              margin-top: 30px;
            }
          }
        }
      }

      .pluses_items.fiz_3 {
        @include mobile {
          margin-top: 24px;
          margin-bottom: 30px;
          .item_plus {
            margin-top: 24px;

            &:first-child {
              margin-top: 0;
            }
          }
        }
      }
    }
  }
}

#how_to_connect {
  .all_content {
    .simple_text {
      max-width: 423px;
    }

    .text_with_inputs {
      flex-direction: column;
    }
  }

  .container {
    flex-wrap: wrap;
    @include small-desktop {
      //padding-left: 20px;
      //padding-right: 20px;
    }

    .input_block {
      margin-right: 10px;
    }
  }
}

.container.h2_name {
  h2 {
    @include mobile {
      font-size: 24px;
      line-height: 30px;
      margin-bottom: 30px;
    }
  }
}