//.container.p_abon {
//  font-style: normal;
//  font-weight: normal;
//  font-size: 12px;
//  line-height: 18px;
//  color: #3F3F3F;
//  margin-bottom: 70px;
//
//  span {
//    color: #FF5300;
//  }
//
//  @include mobile {
//    margin-bottom: 50px;
//  }
//}

.own_text.container.fiz_7 {
  //width:100%;
  margin-top: 50px;
  margin-bottom: 50px;

  h2 {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    color: #000000;
    max-width: 832px;
  }

  @include mobile {
    margin-bottom: 30px;
    margin-top: 0;
    h2 {
      font-size: 18px;
      line-height: 28px;
    }
  }
}

#ca_module.fiz_7_flat {
  padding-top: 120px;
  padding-bottom: 120px;

  .container {
    align-items: center;

    img {
      margin-right: 82px;
      width: 404px;
      height: 366px;
      @include tablet {
        margin-right: 0;
      }
      @include mobile {
        width: 100%;
        height: 100%;
        margin-bottom: 30px;
      }
    }

    .text_content_ca {
      position: relative;

      .devaices_ab {
        position: absolute;
        font-style: normal;
        font-weight: bold;
        font-size: 65px;
        line-height: 100px;
        //30
        color: #000000;
        opacity: 0.03;
        top: -50px;
        @include tablet-vert {
          font-size: 45px;
          line-height: 60px;
          top: -26px;
        }

      }

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        color: #000000;
        margin-bottom: 40px;
      }

      p {
        max-width: 900px;
        width: 100%;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #000000;
        @include mobile {
          font-size: 14px;
          line-height: 22px;
        }
      }

      @include tablet {
        .caModule {
          display: none
        }
      }
    }

    .none {
      display: none;
      @include tablet {
        display: block;
      }
    }

    @include tablet {
      .caModule {
        width: 100%;

        .devaices_ab {
          position: relative;
          font-style: normal;
          font-weight: bold;
          font-size: 45px;
          line-height: 60px;
          //30
          color: #000000;
          opacity: 0.03;
          top: 37px;
          @include mobile {
            font-size: 30px;
            line-height: 30px;
            top: 17px;
          }
        }

        h2 {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 40px;
          color: #000000;
          margin-bottom: 40px;
          @include mobile {
            font-size: 17px;
            line-height: 25px;
          }
        }
      }
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
  }

  @include mobile {
    padding-top: 30px;
  }
}

#preview_4k.fiz_7_flat {
  background: #F9F9F9;
  // margin-bottom: 120px;
  padding-top: 104px;
  //padding-bottom: 104px;
  padding-bottom: 73px;

  .btn_custom {
    width: fit-content;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 75px;
    padding-right: 75px;
    align-items: center;
    background: #FF5300;
    box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
    border-radius: 4px;
    align-self: flex-end;
    transition: .3s;


    @include mobile {
      margin: 0 auto;
      justify-content: center;
    }

    svg {
      margin-right: 10px;
    }

    div {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 14px;
      color: #FFFFFF;

    }

    &:hover {
      background: #027fd5;
      -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
      box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
      border-radius: 4px;
      color: #fff;
    }
  }

  .container {
    //width: 100%;

    .all_content {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .text_img_content {
        min-width: 480px;
        width: 100%;

        .previewImg {
          top: -16px;
          width: 100%;
        }

        h2 {
          font-style: normal;

          font-size: 30px;
          line-height: 36px;

          font-weight: 700;
          color: #027FD5;
          max-width: 710px;
          width: 100%;
          margin-bottom: 30px;


        }

        span {
          color: #000000;
          font-weight: 600;
          font-style: normal;
          font-size: 30px;
          line-height: 36px;

        }

        .small_item {
          margin-bottom: 40px;
          display: flex;

          img {
            margin-right: 30px;
            width: 60px;
            height: 60px;
          }

          &:last-child {
            margin-bottom: 0px;
          }

          .simple_text {
            max-width: 620px;

            div {
              font-style: normal;
              font-weight: bold;
              font-size: 18px;
              line-height: 26px;
              color: #000000;
            }

            p {
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 24px;
              color: #000000;

              span {
                font-weight: 700;
                color: #027FD5;
              }
            }
          }

          @include mobile {
            flex-direction: column;

            img {
              margin-bottom: 10px;
              width: 34px;
              height: 34px;
            }
          }
        }

        .downloads {
          padding-top: 70px;
          padding-bottom: 93px;
          display: flex;
          flex-wrap: wrap;

          img {
            width: 120px;
            height: 35px;
            margin-right: 10px;
          }

          @include mobile {
            padding-top: 45px;
            padding-bottom: 0px;
            margin-left: -5px;
            img {
              width: 90px;
              height: 26px;
              margin-right: 5px;
              margin-top: 5px;
            }
          }
        }
      }

      @include small-desktop-min {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        .text_img_content {
          min-width: 280px;
          margin-top: 30px;

          h2 {
            margin-right: 0;
          }
        }
        .previewImg {
          width: 100%;
          height: 100%;
        }
      }
      @include mobile {
        .text_img_content {
          h2 {
            font-size: 24px;
            line-height: 30px;
            margin-bottom: 30px;
          }

          span {
            font-size: 24px;
            line-height: 30px;
          }

          .small_item {
            margin-bottom: 30px;

            .simple_text {
              div {
                font-size: 16px;
                line-height: 24px;
              }

              p {
                font-weight: 600;
                font-size: 14px;
                line-height: 22px;
              }
            }
          }
        }
      }
    }
  }

  @include tablet {
    padding-top: 50px;
  }
  @include mobile {
    padding-bottom: 50px;

  }
}


#your_own_web {
  width: 100%;
  margin-bottom: 100px;
  @include mobile {
    margin-bottom: 50px;
  }

  .items.fiz_7_flat {
    display: flex;
    //justify-content: space-between;
    margin: 0 auto;

    .item {
      width: 100%;
      max-width: 390px;
      margin-right: 90px;

      &:last-child {
        margin-right: 0;
      }

      h4 {
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 10px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #3F3F3F;
      }
    }

    @include mobile {
      .item {
        margin-bottom: 24px;
        margin-right: 0;

        &:last-child {
          margin-bottom: 0;
        }
      }
      flex-wrap: wrap;
    }
  }
}

.h2_name.container.fiz_7_flat {
  h2 {
    margin-bottom: 20px;
  }
}

#dopp_follows.fiz_7_flat {
  margin-bottom: 100px;

  .dopp_items {
    display: flex;
    justify-content: left;
    width: 100%;
    // margin-bottom: 40px;
    .dopp_item {
      position: relative;
      padding: 40px;
      background: #FFFFFF;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      max-width: 345px;
      width: 100%;
      margin-right: 20px;
      @include mobile {
        padding: 30px 25px;
      }

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        color: #000000;
        margin-bottom: 20px;
        text-align: left;
        @include mobile {
          margin-bottom: 16px;
        }

        span {
          color: #FF5300;
        }
      }

      hr {
        background: solid rgba(0, 0, 0, .1);
        height: 1px;
        // width:265px;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      .chanels {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        @include tablet-vert {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: flex-start;

          .list_chanels {
            margin-top: 5px;
          }
        }
        @include mobile {
          margin-bottom: 25px;
        }

        .img_text {
          display: flex;

          img {
            margin-right: 10px;
          }

          div {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
          }
        }

        .list_chanels {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 13px;
          color: #027FD5;
        }
      }

      .btn_connect_fixer {
        border: 2px solid #027FD5;
        border-radius: 4px;
        // max-width: 345px;
        width: 100%;
        // padding: 18px auto;
      }

      .btn_connect {
        text-align: center;
        border: 2px solid #027FD5;
        border-radius: 4px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #027FD5;
        text-transform: uppercase;
        transition: .3s;

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          border-radius: 4px;
          color: #fff;
        }
      }

      .price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;

        .deal_label {
          text-align: left;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 11px;
          color: #606060;
          margin-bottom: 8px;
        }

        .price_label {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #606060;
        }

        .price_count {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 24px;
          color: #000000;
          margin-right: 5px;
        }

        .full_price {
          .content_pr {
            display: flex;
          }
        }

        .sales_price {
          .price_count {
            color: #FF5300;
          }

          .content_pr {
            display: flex;
          }
        }
      }

      .speed {
        display: flex;
        // padding-bottom: 16px;
        img {
          margin-right: 10px;
        }

        div {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 24px;
          color: #000000;
        }
      }

      .foolow {
        display: flex;
        margin-bottom: 14px;

        img {
          margin-right: 10px;
        }
      }

      .foolow.bottom {
        margin-bottom: 32px;
      }


    }

    @include tablet-vert {
      flex-wrap: wrap;
    }
  }
}

#dopp_follows {
  .container {
    .dopp_items {
      .dopp_item {
        margin-top: 20px;
      }
    }
  }

  @include mobile {
    .container {
      .dopp_items {
        .dopp_item {
          margin-right: 0px;
          font-size: 18px;
          line-height: 26px;

          .price {
            margin-bottom: 15px;

            .price_count {
              font-size: 26px;
              line-height: 26px;
            }

            .price_label {
              font-size: 10px;
              line-height: 10px;
            }
          }

          .chanels {
            .list_chanels {
              margin-top: 10px;
            }
          }
        }
      }
    }

  }
}

#custom_tabs {
  .container.fiz_7_flat {
    .tabs-place-triggers {
      margin-top: 20px;
      @include mobile {
        flex-direction: column;
      }

      .tabs-place-triggers__item {
        margin-bottom: 0px;
      }

    }

    .tabs-place-content {
      margin-top: 33px;
      @include mobile {
        margin-top: 0;
      }

      #tab-place-4,
      #tab-place-2,
      #tab-place-3
      {
        .place_items {
          flex-wrap: wrap;

          .place_item {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .chanels {
              flex-wrap: wrap;
              margin-bottom: 0;

              .list_chanels {
                margin-top: 10px;
              }
            }

            @include mobile {
              justify-content: normal;
              margin: 0px 0px 20px 0px;
              padding: 30px 25px;
              h2 {
                font-size: 18px;
                margin-bottom: 0;
              }
              .chanels {

                .list_chanels {
                  margin-top: 10px;
                }

                margin-bottom: 0px;
              }

              .text_container {
                .foolow {
                  display: none;
                }

                .other_functions {
                  display: flex;
                  font-style: normal;
                  font-weight: 600;
                  font-size: 11px;
                  line-height: 11px;
                  color: #027FD5;
                  cursor: pointer;
                  text-align: left;
                  //padding-top: 10px;
                  margin-bottom: 25px;
                  align-items: center;

                  &::after {
                    //height:30px;
                    margin-left: 5px;
                    height: 8px;
                    content: url('/frontend/img/left-arrow.svg');
                    @include mobile {
                      content: url('/frontend/img/left-arrow.svg');
                      height: 8px;
                    }
                  }
                }
              }
              &:first-child {
                margin-top: 10px;
              }
            }
          }

          @include mobile {
            margin-bottom: 30px;
          }
        }
      }
    }

  }

  @include tablet-vert {
    .tabs-place-content__item {
      .place_items {
        .place_item {
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          h2 {
            font-size: 20px;
          }

          .chanels {
            flex-direction: column;
            align-items: flex-start;

            .list_chanels {
              margin-top: 5px;
            }
          }
        }
      }
    }
  }
}

#your_new_opportunities {
  .container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 70px;
    //justify-content: space-between;
    flex-wrap: wrap;

    .item {
      display: flex;
      font-size: 16px;
      line-height: 36px;
      margin-top: 10px;
      width: 250px;
      font-weight: 700;
      letter-spacing: 0.4px;
      margin-right: 115px;

      img {
        width: 40px;
        height: 40px;
        margin-right: 20px;
        position: relative;
        top: -4px;
      }

      &:last-child {
        margin-right: 0;
      }

    }

    @include mobile {
      padding-top: 0;
      padding-bottom: 25px;
      .item {
        padding-bottom: 25px;
        font-size: 14px;
        margin-right: 0;

        img {
          width: 34px;
          height: 34px;
        }
      }
    }
  }
}

#equipment {
  .container.fiz_7 {
    margin-top: 170px;
    @include mobile {
      margin-top: 65px;
    }
  }
}