.do_it.container {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  //width: 100%;
  //width: calc(100% - 40px);
  margin-bottom: 40px;
  @include mobile {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 25px;
  }
}

.container.h2_name.fiz_4 h2 {
  margin-bottom: 10px;
  @include mobile {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 5px;
  }
}

#custom_tabs {
  .tabs-content {
    .tabs-content__item {
      .items.fiz_4 {
        margin-bottom: 50px;
        @include mobile {
          margin-bottom: 30px;
        }

        .good_item {
          justify-content: space-between;

          .text_container {
            display: flex;

            img {
              margin-right: 8px;
              align-self: flex-start;
            }
          }

          .connecter {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

#about_before {
  .text_container {
    display: none;
    @include mobile {
      display: block;
      .other_functions {
        display: flex;
        font-style: normal;
        font-weight: 600;
        font-size: 11px;
        line-height: 11px;
        color: #027FD5;
        cursor: pointer;
        text-align: left;
        padding-top: 10px;
        margin-bottom: 30px;
        align-items: center;

        &::after {
          //height:30px;
          margin-left: 5px;
          height: 8px;
          content: url('/frontend/img/left-arrow.svg');
          @include mobile {
            content: url('/frontend/img/left-arrow.svg');
            height: 8px;
          }
        }
      }
    }
  }
}

#tv_tabs {
  .container {
    .tabs-tv-triggers__item {
      padding: 20px 28px;
      display: flex;
      align-items: center;
      font-size: 14px;
      line-height: 14px;
      font-weight: 600;

      p {
        margin-left: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #525252;

      }
    }

    .tabs-tv-triggers__item--active {
      display: flex;
      align-items: center;
      font-size: 15px;
      line-height: 15px;
      font-weight: 700;

      p {
        margin-left: 10px;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        text-align: center;
        color: #FFFFFF;

      }
    }
  }

  .tabs-tv-content__item {
    .tv_items {
      flex-wrap: wrap;
      width: 100%;

      .tv_item {
        margin-top: 10px;
        margin-right: 10px;
        padding: 40px 50px 50px 50px;
        @include mobile {
          margin-right: 0;
        }
      }
    }
  }
}

.h2_name.container.fiz_4 {
  @include mobile {
    display: none;
  }
}

#tv_tabs.fiz_4 {
  @include mobile {
    display: none;
  }
}
