#for_students_home {
  margin-bottom: 40px;
  @include mobile {
    margin-bottom: 30px;
  }

  .container {
    .contant {
      display: flex;
      flex-wrap: wrap;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: hsl(0, 0%, 0%);

      div {
        width: 100%;
      }

      span {
        font-weight: bold;
      }
    }
  }
}

#how_to_connect_students {
  background: #F9F9F9;

  .all_content {
    display: flex;
    //width: 100%;
    justify-content: space-between;
    padding-top: 60px;
    flex-wrap: wrap;

    .text_with_inputs {
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      .about_text {
        margin-top: 30px;
        margin-bottom: 40px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #606060;
      }

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        color: #027FD5;
        width: 100%;
        margin-bottom: 40px;
        @include mobile {
          font-size: 18px;
          line-height: 28px;
        }
      }

      .inputs {
        display: flex;
        width: 100%;
        flex-wrap: wrap;

        .input_block {
          margin-right: 10px;
          @include small-desktop-min {
            margin-top: 15px;
          }

          .custom_input_label {
            color: #000000;
          }
        }

        .my_custom_select {
          margin-right: 10px;
          @include small-desktop-min {
            margin-top: 15px;
          }
          @media screen and (max-width: 670px) {
            max-width: none;
            min-width: auto;
            margin-right: 0;
            width: 100%;

          }

          h2 {
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 12px;
            color: #000000;
            margin-bottom: 14px;
            margin-left: 21px
          }

          .custom-select {
            position: relative;

            width: 100%;
            max-width: 397px;
            min-width: 397px;
            @include mobile {
              max-width: none;
              min-width: auto;
            }
          }

          .custom-select select {
            display: none; /*hide original SELECT element:*/
          }

          .select-selected {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 15px;
            color: #999999;

            background-color: #FFFFFF;
            box-shadow: 0px 1px 45px rgba(0, 0, 0, 0.05);
            border-radius: 4px;
          }

          /*style the arrow inside the select element:*/
          .select-selected:after {
            position: absolute;
            content: url('/frontend/img/select_arrow_ico.svg');
            right: 30px;
          }

          /*point the arrow upwards when the select box is open (active):*/
          .select-selected.select-arrow-active:after {
            position: absolute;
            content: url('/frontend/img/select_arrow_ico.svg');
            right: 30px;
            transform: rotate(180deg);
          }

          /*style the items (options), including the selected item:*/
          .select-items div, .select-selected {
            color: #ffffff;
            padding: 19px 30px 18px 30px;
            border: 1px solid transparent;
            border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
            cursor: pointer;
            user-select: none;

            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 15px;
            color: #999999;
          }

          /*style items (options):*/
          .select-items {
            position: absolute;
            background-color: #FFFFFF;
            top: 100%;
            left: 0;
            right: 0;
            z-index: 99;
          }

          /*hide the items when the select box is closed:*/
          .select-hide {
            display: none;
          }

          .select-items div:hover, .same-as-selected {
            background-color: rgba(0, 0, 0, 0.1);
          }
        }

        .input_block.name {
          max-width: 397px;
          min-width: 397px;
          @media screen and (max-width: 670px) {
            max-width: none;
            min-width: auto;
            margin-right: 0;
          }
        }

        .input_block.number {
          max-width: 399px;
          min-width: 399px;
          @media screen and (max-width: 670px) {
            max-width: none;
            min-width: auto;
            margin-right: 0;
          }
        }

        .btn_custom {
          display: block;
          margin-top: 26px;
          @include small-desktop-min {
            margin-top: 41px
          }
          @include mobile {
            margin-top: 20px;
            width: 100%;
          }

          .text {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;

            background: #FF5300;
            box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
            border-radius: 4px;
            padding: 20px 64px;
          }
        }
      }
    }

    .simple_text {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 60px;

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        color: #000000;
        margin-bottom: 30px;
        width: 100%;
        @include mobile {
          font-size: 24px;
          margin-bottom: 15px;
        }
      }

      .items {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        @include small-desktop-min {
          img {
            display: none;
          }
        }
        @include tablet-vert {
          flex-direction: column;
        }
        @include mobile {
          .item {
            .number {
              display: none;
            }

            &:last-child {
              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 22px;
              color: #000000;
            }
          }
        }

        img {
          opacity: 0.3;
        }

        .item {
          width: 100%;
          max-width: 379px;
          display: flex;

          .number {
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 24px;
            color: #FF5300;
            margin-right: 10px;
          }

          div {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #000000;

            span {
              color: #027FD5;
              font-weight: 700;
              @include mobile {
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 22px;
                color: #000000;

              }
            }
          }

          @include mobile {
            margin-bottom: 14px;
          }
        }
      }

      @include mobile {
        margin-bottom: 50px;
      }
    }
  }
}

.tabs-content.fiz_5 {
  #tab-2 {
  }
}

.test_tabs_abs {
  .students {
    .st_item {
      @include mobile {
        padding: 30px 25px;
        h2 {
          margin-bottom: 20px;
          font-size: 18px;
        }
        .speed {
          .img_text {
            div {
              font-size: 15px;
              line-height: 24px;
            }
          }
        }
        .price {
          .full_price {
            .deal_label {
              margin-bottom: 9px;
              font-size: 10px;
              line-height: 10px;
            }

            .content_pr {
              align-items: center;

              .price_count {
                font-size: 26px;
                line-height: 26px;
              }

              .price_label {
                font-size: 10px;
                line-height: 10px;
              }
            }
          }
        }
      }

      .btn_connect {
        transition: .3s;

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          border-radius: 4px;
          color: #fff;
        }
      }

      .speed {
        .img_text {
          align-items: center;
        }
      }
    }
  }
}