#under_footer {
  background: #494848;
  width: 100%;
  @include mobile {
    display: none;
  }

  .container {
    align-items: center;
    justify-content: space-between;
  }

  .site_map {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    text-align: right;
    color: #FFFFFF;

    p {
      margin-right: 40px;
    }
  }
}

#footer {
  background: #494848;
  width: 100%;
  padding-top: 70px;
  padding-bottom: 54px;
  border-bottom: 1px solid rgba(255, 255, 255, .3);

  @include mobile {
    display: none;
  }


  .container {
    justify-content: space-between;
    @include tablet-vert {
      flex-wrap: wrap;
    }
  }

  .footer-item {
    h2 {
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 18px;
      color: #FFFFFF;
      margin-bottom: 20px;
    }

    ul {
      li {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #FFFFFF;
        opacity: 0.5;
        margin-bottom: 14px;
      }
    }
  }

  .contact_info {
    @include tablet-vert {
      margin-top: 40px;
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    @include small-tablet {
      display: block;
    }

    .link_block {
      .email_info {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
        transition: .3s;
        &:hover {
          color: #FF5300;
        }
      }

      .email_info_l {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 30px;
        transition: .3s;
        &:hover {
          color: #FF5300;
        }
      }

      .phone_info {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 5px;
      }

      p {
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 11px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 10px;
      }

      .support {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
      }
    }

    .all_number {
      display: flex;
      margin-bottom: 33px;

      .number {
        font-style: normal;
        font-weight: bold;
        font-size: 35px;
        line-height: 40px;
        color: #FFFFFF;
        transition: .3s;
        &:hover {
          color: #FF5300;
        }
      }

      .number_l {
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 20px;
        color: #FFFFFF;
        transition: .3s;
        &:hover {
          color: #FF5300;
        }
      }
    }

    .footer_phone {
      width: 34px;
      height: 34px;
      margin-right: 10px;
    }

    .footer_phone_l {
      width: 24px;
      height: 24px;
      margin-right: 20px;
    }
  }

  .social_media {
    @include tablet-vert {
      width: 100%;
      margin-top: 40px;
    }

    .rules {
      div {
        margin-bottom: 16px;

        &:last-child {
          margin-bottom: 0px;
        }
      }
    }

    .simple_text {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      color: #FFFFFF;
      // margin-bottom: 15px;

      a:hover {
        cursor: pointer;
      }
    }

    .footer_icons {
      margin-top: 15px;
      margin-bottom: 50px;
      display: flex;

      a {
        margin-right: 15px;

        &:last-child {
          margin-right: 0px;
        }
      }

      .footer_icon {
        width: 40px;
        height: 40px;
        background: #FFFFFF;
        border-radius: 8px;
        padding-top: 10px;
        padding-left: 10px;
      }

      .footer_icon.vk {
        padding-top: 14px;
      }

      // .footer_icon:last-child{
      //     margin-right: 0px;
      // }
    }

  }
}


#footer_mob {
  background: #494848;
  display: none;
  @include mobile {
    display: block;
  }

  .container {
    flex-wrap: wrap;
    padding-top: 40px;

    .accordion {

      width: 100%;
      background: #494848;
      padding: 16px 0px;
      // opacity: 0.3;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        opacity: 1;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 18px;
        color: #FFFFFF;

        &::after {
          content: url('/frontend/img/mob_dooter_arr.svg');
        }
      }

    }

    /* Добавьте цвет фона к кнопке, если она нажата (добавьте класс .active с помощью JS) и при наведении на нее указателя мыши (наведите курсор мыши) */
    .active, .accordion:hover {
      background: #494848;

    }

    /* Стиль панели аккордеона. Примечание: по умолчанию скрыто */
    .panel {
      width: 100%;
      background: #494848;
      display: none;
      overflow: hidden;

      ul {
        margin-bottom: 30px;

        li {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 14px;
          color: #FFFFFF;
          opacity: 0.3;

          padding-top: 20px;
        }
      }
    }

    .social_media {
      width: 100%;
      margin-top: 40px;

      .simple_text {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 12px;
        color: #FFFFFF;
        margin-bottom: 15px;
      }

      .footer_icons {
        display: flex;
        justify-content: left;
        margin-bottom: 40px;

        a {
          padding: 10px;
          background: #FFFFFF;
          border-radius: 8px;
          display: block;
          margin-right: 5px;
        }

        .footer_icon.vk {
          padding-top: 4px;
        }
      }
    }

    .contact_info {
      .mob_tel_bl {
        a {
          display: flex;

          img {
            margin-right: 10px;
          }

          .number {
            font-style: normal;
            font-weight: bold;
            font-size: 35px;
            line-height: 40px;
            color: #FFFFFF;
          }
        }
      }

      .link_block {
        p {
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 11px;
          text-transform: uppercase;
          color: #FFFFFF;
          margin-top: 30px;
        }

        .email_info {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          color: #FFFFFF;
          margin-top: 10px;
        }

        .phone_info {
          margin-top: 10px;
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 20px;
          color: #FFFFFF;
        }

        .support {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #FFFFFF;
          margin-top: 5px;
          margin-bottom: 50px;
        }
      }
    }
  }


}


#under_footer_mob {
  display: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  padding: 50px 0px 40px 0px;
  @include mobile {
    display: flex;
    background: #494848;
    width: 100%;
    flex-wrap: wrap;
  }

  .container {
    flex-wrap: wrap;
  }

  .icon {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    align-items: flex-end;

    a {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      color: #FFFFFF;
    }
  }

  .site_map {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    // margin-bottom: 40px;
    // text-align: right;
    color: #FFFFFF;

    p {
      width: 100%;
      margin-right: 40px;
    }

    a {
      display: block;
      width: 100%;
    }
  }
}

#under_footer {
  .container {
    .site_map {
      a {
        transition: .3s;

        &:hover {
          color: #FF5300;
        }
      }
    }
  }
}

#footer {
  .contact_info {
    .all_number {
      .number {
        transition: .3s;

        &:hover {
          color: #FF5300;
        }
      }
    }

    .link_block {
      .phone_info {
        transition: .3s;

        &:hover {
          color: #FF5300;
        }
      }

      .email_info {
        transition: .3s;

        &:hover {
          color: #FF5300;
        }
      }

      .support {
        text-transform: none;
      }
    }
  }

  .container {
    .services,
    .clients,
    .about_company {
      .footer_ul {

        li {
          transition: .3s;

          &:hover {
            color: #FF5300;
          }
        }
      }
    }

    .social_media {
      .footer_icons {
        .footer_icon {
          transition: .03s;
          &:hover {
            filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.35));
            //test
            -webkit-transform: scale(1.01);
            -ms-transform: scale(1.01);
            transform: scale(1.01);
          }
        }
      }

      .rules {
        .simple_text {
          transition: .3s;

          &:hover {
            color: #FF5300;
          }
        }
      }
    }
  }
}

#footer_mob {
  @include mobile {
    .container {
      .accordion {
        @include mobile {
          padding-top: 14px;
          padding-bottom: 16px;
          &:first-child {
            padding-top: 9px;
          }
        }
      }

      .social_media {
        .simple_text {
          @include mobile-min {
            line-height: 18px;
          }
        }
      }

      .contact_info {
        margin-bottom: 30px;
        margin-top: 25px;

        .mob_tel_bl {
          a {
            img {
              width: 34px;
              height: 34px;
            }
          }
        }

        .link_block {
          .support {
            margin-bottom: 0;
            text-transform: none;
          }
        }
      }
    }
  }
}

#under_footer_mob {
  @include mobile {
    padding-top: 30px;
    .icon {
      height: 12px;
    }
    img {
      position: relative
    }
    .site_map {
      p {
        line-height: 18px
      }
    }
  }
}