#header {
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: space-between;
  // width: 100%;
  @include tablet-vert { //1024
    display: none;
  }

  .left_header_part {
    display: flex;
    align-items: center;

    .header_logo {
      margin-right: 67px;
    }

    .mode_switcher {
      display: flex;

      li {
        position: relative;
        margin-right: 38px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        color: #676767;
        height: 100%;

        .underline {
          display: none;
        }
      }

      li:last-child {
        margin-right: 0px;
      }

      li:hover {
        cursor: pointer;
      }

      .active { // активная кнопка меню
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        color: #000000;

        div {
          position: absolute;
          left: -17px;
          top: 23px;
          display: block;
          height: 3px;
          width: calc(100% + 34px); //по 17 по бокам
          background: #FF5300;
        }
      }
    }
  }

  .right_header_part {
    display: flex;
    align-items: center;

    .nav {
      display: flex;

      li {
        margin-right: 24px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        color: #535353;
        line-height: 13px;
        transition: 0.6s; //так нужно делать
      }

      li:last-child {
        margin-right: 40px;
      }

      li:hover {
        cursor: pointer;
        color: #FF5300;
      }

    }

    .header_line {
      margin-right: 40px;
    }

    .phone_call {
      a {
        display: flex;
      }

      img {
        margin-right: 8px;
      }

      .phone {
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 26px;
        color: #000000;
      }
    }
  }

}


#mobile_header {
  display: none;
  @include tablet-vert {
    display: block;
    width: 100%;
    padding: 15px 0px;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
  }

  .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include mobile-min {
      align-items: center;
    }

    #active_menu {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      bottom: -60px;
      left: 0px;
      z-index: 999;
      background: #FFFFFF;

      .container {
        .tabs-content {
          margin-top: 30px;

          ul {
            margin-bottom: 34px;

            li {
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 15px;
              color: #535353;
              text-align: left;

              margin-bottom: 24px;

              &:last-child {
                margin-bottom: 0px;
              }
            }
          }

          .social_m {
            margin-top: 16px;

            .soc_text {
              font-style: normal;
              font-weight: normal;
              font-size: 12px;
              line-height: 12px;
              color: #000000;
              text-align: left;
              margin-bottom: 10px;
            }

            .items_m_s {
              width: 100%;
              display: flex;

              .item {
                padding: 10px;
                background: #F8F8F8;
                border-radius: 8px;
                margin-right: 5px;
              }

              .item.vk {
                padding-top: 14px;
              }
            }
          }

          .get_z {
            display: block;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            background: #FF5300;
            border-radius: 4px;
          }
          .user_area{
            display: flex;
            a{
              display:flex;
              align-items: center;
              img{
                width:24px;
                height: 24px;
                margin-right: 10px;
              }
              div{
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 13px;
                color: #000000;
                transition: 0.6s;
              }
            }

            &:hover{
              cursor: pointer;
              div{
                color:#FF5300;
              }
            }
          }
          .items_mob {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: 34px;
            // align-items: center;
            .item {
              width: 100%;
              display: flex;
              margin-bottom: 32px;
              align-items: center;

              &:last-child {
                margin-bottom: 0px;
              }

              // align-self: center;
              img {
                margin-right: 10px;
              }

              div {
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 16px;
                color: #000000;
              }
            }
          }
        }

        .tabs-triggers {
          width: 100%;
          // height:50px;
          display: flex;

          .tabs-triggers__item {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 14px;
            color: #676767;
            background: #FFFFFF;
            border-radius: 0px;
          }

          .tabs-triggers__item--active {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #000000;
            background: #FFFFFF;
            border-bottom: 3px solid #FF5300;
          }

          a {
            display: block;
            padding: 20px 18px 12px 18px;
            // height:20px
          }
        }
      }
    }


    .header_logo {
      img {
        @include mobile {
          width: 98px;
          height: 20px;
        }
      }
    }

    .right_part {
      display: flex;
      @include mobile-min {
        align-items: center;
      }

      .burger_menu {
        margin-left: 25px;

        #active_burger {
          display: none;
          width: 30px;
          height: 30px;
          align-items: center;
        }

        #not_active_burger {
          display: flex;
        }
      }

      // width:100%;
      .phone_call {
        a {
          display: flex;
          @include mobile {
            display: flex;
            align-items: center;
          }
        }

        img {
          margin-right: 8px;
          @include mobile {
            width: 18px;
            height: 18px;
          }
        }

        .phone {
          font-style: normal;
          font-weight: bold;
          font-size: 26px;
          line-height: 26px;
          color: #000000;
          @include mobile {
            font-size: 18px;
          }
          @include mobile-min {
            line-height: 18px;
          }
        }
      }
    }
  }
}


//оформить как ссылки на которые идёт клик