#how_to_connect {
  background: #F9F9F9;

  .all_content {
    display: flex;
    //width: 100%;
    justify-content: space-between;
    padding-top: 60px;
    @include mobile {
      padding-top: 50px;
    }

    .text_with_inputs {
      display: flex;
      flex-wrap: wrap;

      .about_text {
        margin-top: 30px;
        margin-bottom: 60px;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #606060;
        @include small-tablet {
          margin-bottom: 40px;
        }
      }

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        color: #027FD5;
        // max-width: 587px;
        width: 100%;
        margin-bottom: 40px;
        @include mobile {
          margin-bottom: 25px;
          font-size: 18px;
          line-height: 28px;
        }
      }

      .inputs {
        display: flex;
        width: 100%;
        @include tablet {
          flex-wrap: wrap;
        }

        .input_block {
          .custom_input_label {
            color: #000000;
          }
        }

        .input_block.name {
          max-width: 305px;
          min-width: 305px;
          @include small-tablet {
            min-width: auto;
            max-width: none;
            width: 100%;
            margin-right: 0;
          }
        }

        .input_block.number {
          max-width: 305px;
          min-width: 305px;
          @include small-tablet {
            min-width: auto;
            max-width: none;
            width: 100%;
            margin-right: 0;
            div {
              margin-top: 15px;
            }
          }
        }

        .btn_custom {
          display: block;
          margin-top: 26px;
          @include small-tablet {
            margin-top: 20px;
          }
          @include mobile {
            width: 100%;
          }

          .text {
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 14px;
            text-align: center;
            color: #FFFFFF;

            background: #FF5300;
            box-shadow: 0px 4px 40px rgba(255, 83, 0, 0.4);
            border-radius: 4px;
            padding: 20px 64px;
          }
        }
      }
    }

    .simple_text {
      max-width: 410px;

      h3 {
        font-style: normal;
        font-weight: bold;
        font-size: 30px;
        line-height: 40px;
        color: #000000;
        margin-bottom: 30px;
        @include mobile {
          font-size: 24px;
          margin-bottom: 15px;
        }
      }

      div {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #000000;
        margin-bottom: 17px;
        @include mobile {
          margin-bottom: 14px;
        }

        &:last-child {
          margin-bottom: 0px;
          @include small-desktop {
            margin-bottom: 60px;
          }
          @include mobile {
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}