.individual_panel{
    width: 100%;
    background: #F9F9F9;
    @include tablet-vert{
        display:none;
    }
    .container{
        justify-content: space-between;
        // margin-top: 25px;
    }
    .ind_nav{
        display:flex;
        // margin-top: 21px;
        // margin-bottom: 20px;
        padding-top: 21px;
        padding-bottom: 20px;
        .ind_item{
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            line-height: 16px;
            color: #000000;
            margin-right: 70px;
            transition: 0.3s;
            &:hover{
                color:#FF5300;
            }
            &:last-child{
                margin-right: 0px;
            }
            img{
                width:24px;
                height:24px;
                margin-right: 10px;
            }
            a{
                display: flex;
                align-items: center;
            }
        }
    }

    .user_area{
        display: flex;
        a{
            display:flex;
            align-items: center;
            img{
                width:24px;
                height: 24px;
                margin-right: 10px;
            }
            div{
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 13px;
                color: #000000;
                transition: 0.6s;
            }
        }
       
        &:hover{
            cursor: pointer;
            div{
                color:#FF5300;
            }
        }
    }
}