#legal_stocks {
  .container {
    flex-wrap: wrap;

    .block_name {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
      margin-bottom: 30px;
      width: 100%;
      @include mobile {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        margin-top: 70px;
        margin-bottom: 40px;
      }
    }

    .stocks_items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 90px;
      @include small-desktop {
        flex-wrap: wrap;
        justify-content: center;
      }
      @include mobile {
        margin-bottom: 70px;
      }

      .stock_item {

        @include medium-desktop {
          margin-right: 20px;
          &:last-child {
            margin-right: 0px;
          }
        }
        @include small-desktop {
          margin-bottom: 20px;
          &:last-child {
            margin-right: 20px;
          }
        }
        @include mobile {
          margin-right: 0px;
          margin-bottom: 10px;
          &:last-child {
            margin-right: 0px;
            margin-bottom: 0px;
          }
        }
        max-width: 345px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.09);
        border-radius: 8px;

        .item_content {
          // display:flex;
          align-items: flex-start;
          padding-top: 40px;
          padding-left: 40px;
          padding-right: 40px;

          a {
            display: flex;
            align-items: center;
            transition: 0.3s;
            margin-bottom: 40px;

            .more {
              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              line-height: 18px;
              color: #000000;
              margin-right: 8px;
              transition: 0.3s;
            }

            svg {
              width: 14px;
              height: 7px;
            }

            &:hover {
              .more {
                color: #FF5300;
              }

              svg {
                path {
                  fill: #FF5300;
                }
              }
            }
          }

          img {
            width: 44px;
            height: 44px;
            margin-right: 20px;
            margin-bottom: 20px;
          }

          h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 30px;
          }
        }
      }
    }
  }
}