#news{
    .container{
        flex-wrap: wrap;
        .more_news{
            width:100%;
            display:flex;
            justify-content: space-between;
            margin-top: 90px;
            margin-bottom: 50px;
            @include mobile{
                margin-top: 70px;
                margin-bottom: 30px;
            }
            .name{
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 36px;
                color: #000000;
                @include mobile{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 30px;
                    color: #000000;
                }
            }
            div{
                @include mobile{
                    display: none;
                }
                border-bottom: 1px solid #606060;
                padding-top: 14px;//к линии спуск
                a{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 13px;
                    color: #606060;
                }
            }
        }
        .more_news_mob{
            display:none;
           @include mobile{
                margin-top: 6px;
                margin-bottom: 70px;
                width:100%;
                display: flex;
                justify-content: center;
                font-style: normal;
                font-weight: 600;
                font-size: 13px;
                line-height: 13px;
                color: #606060;
                
           }
           a{
            border-bottom:1px solid #606060;
            padding-bottom: 8px;

           }
        }
        .news_block{
            width:100%;
            display:flex;
            justify-content: space-between;
            margin-bottom: 90px;
            flex-wrap: wrap;
            @include mobile{
                margin-bottom: 0px;
            }
            .item_news{
                max-width: 300px;
                &:hover{
                    cursor: pointer;
                }
                @include small-desktop{
                    margin-bottom: 30px;
                }
                @include mobile{
                    margin-bottom: 34px;
                }
            }
            .data_block{
                display:flex;
                align-items: center;
                margin-bottom: 10px;
                .news_label{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 10px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #FF5300;
                    padding: 5px 8px;
                    border-radius: 2px;
                    margin-right: 15px;
                }
                .event_label{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 10px;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    background: #027FD5;
                    padding: 5px 8px;
                    border-radius: 2px;
                    margin-right: 15px;
                }
                .data_label{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 11px;
                    text-transform: uppercase;
                    color: #606060;
                }
            }
            .news_name{
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 30px;
                color: #000000;
            }
        }
    }
}