#our_stocks {
  .container {
    flex-wrap: wrap;

    .block_name {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
      margin-bottom: 30px;
      width: 100%;
      @include mobile {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #000000;
        margin-bottom: 40px;
        margin-top: 70px;
      }
    }

    .stocks_items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 90px;
      @include mobile {
        flex-wrap: wrap;
      }

      .stock_item {
        @include tablet {
          width: 100%;
          max-width: none;
        }
        @include mobile {
          margin-bottom: 10px;
          margin-right: 0px;
        }
        max-width: 465px;
        width: 100%;
        background: #FFFFFF;
        box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.09);
        border-radius: 8px;
        margin-right: 20px;
        // margin-right: 22px;
        &:last-child {
          margin-right: 0px;
        }

        .item_content {
          @include small-desktop-min {
            flex-wrap: wrap;
          }
          display: flex;
          align-items: flex-start;
          padding-top: 40px;
          padding-left: 40px;
          padding-right: 40px;
          @include mobile {
            padding: 30px;
          }
          @include tablet {
            padding: 20px;
          }

          div {
            display: flex;
            flex-wrap: wrap;
          }

          a {
            display: flex;
            align-items: center;
            margin-bottom: 40px;
            @include mobile {
              margin-bottom: 0px;
              width: 100%;
              display: flex;
              justify-content: flex-end;
            }

            .more {
              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              line-height: 18px;
              color: #000000;
              margin-right: 8px;
              transition: .3s;
            }

            svg {
              width: 14px;
              height: 7px;
            }

            &:hover {
              .more {
                color: #FF5300;
              }

              svg {
                path {
                  fill: #FF5300;
                }
              }
            }
          }

          img {
            width: 44px;
            height: 44px;
            margin-right: 20px;
          }

          h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 10px;
            width: 100%;
          }

          span {
            display: block;
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 15px;
            color: #FF5300;
            margin-bottom: 20px;
            @include mobile {
              width: 100%;
            }
          }

          p {
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 18px;
            color: #525252;
            max-width: 280px;
            margin-bottom: 25px;
            @include tablet {
              height: 60px;
            }
          }
        }
      }
    }
  }
}

#our_stocks {
  .container {
    .stocks_items {
      .stock_item {
        &:hover {
          //test
          -webkit-transform: scale(1.01);
          -ms-transform: scale(1.01);
          transform: scale(1.01);
        }

        .item_content {
          @include mobile {
            padding: 30px;
            p {
              //letter-spacing: 1px;
              margin-bottom: 20px;
              height: auto;
            }

            img {
              width: 40px;
              height: 40px;
              margin-bottom: 10px;
            }

            h4 {
              font-size: 20px;
              line-height: 25px;
              margin-bottom: 5px;
            }

            span {
              font-size: 14px;
              line-height: 14px;
              margin-bottom: 10px;
            }
          }
        }
      }
    }
  }
}