#our_offers {
  background: #F9F9F9;
  padding-bottom: 90px;
  @include mobile {
    padding-bottom: 70px;
  }

  .container {
    flex-wrap: wrap;

    .block_name {
      margin-top: 90px;
      margin-bottom: 54px;
      @include mobile {
        margin-top: 70px;
        margin-bottom: 45px;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
        color: #000000;

      }
    }

    .items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      @include mobile {
        flex-wrap: wrap;
      }

      .item_block {
        margin-right: 20px;

        &:last-child {
          margin-right: 0px;
        }

        @include mobile {
          margin-bottom: 45px;
          margin-right: 0px;
        }

        .img_block {
          position: relative;
          margin-bottom: 21px;

          a {
            img {
              width: 100%;
              max-width: 460px;
              @include mobile {
                // max-width: none;
              }
            }
          }

          .item_label {
            background: #FF5300;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.18);
            border-radius: 4px;
            position: absolute;
            top: -14px;
            left: 20px;
            padding-top: 9px;
            padding-bottom: 9px;
            padding-left: 10px;
            padding-right: 10px;

            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 10px;
            text-transform: uppercase;
            color: #FFFFFF;

          }
        }

        h3 {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 30px;
          color: #000000;
          margin-bottom: 5px;
        }

        .p_fix {
          // для многострочия
          display: -webkit-box;
          -webkit-line-clamp: 2; // количество строк
          -webkit-box-orient: vertical;
          overflow: hidden;
          // конец
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: #606060;
          max-width: 440px;
          max-height: 36px;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

#our_offers {
  .container {
    .items {
      .item_block {
        &:last-child {
          @include mobile {
            margin-bottom: 0;
          }
        }

        h3 {
          transition: .3s;

          &:hover {
            color: #027FD5;
          }
        }

        @include mobile {
          h3 {
            font-size: 18px;
            line-height: 26px;
          }
          .img_block {
            margin-bottom: 10px;

            .item_label {
              left: 94px;
            }

            img {
              width: 280px;
              height: 177px;
            }
          }
        }
        @include mobile-min {
          margin-bottom: 54px;
          .img_block {
            .item_label {
              left: 20px;
            }
          }
        }

      }
    }
  }
}