#pers_content {
  position: relative;

  .background_plus {
    position: absolute;
    z-index: -1;
    left: 63px;
    top: -64px;
    //@include mobile {
    //  display: none;
    //}
    @include mobile {
      width: 200px;
      left: -71px;
      top: 80px;
    }
  }

  .container {
    flex-wrap: wrap;

    .about_combo_text {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
      width: 100%;
      margin-bottom: 40px;
      @include mobile {
        margin-bottom: 20px;
      }

      p {
        max-width: 700px;
      }
    }

    .pluses_of_combos {
      display: flex;
      flex-wrap: wrap;
      width: 100%;


      .text_comos_tv {
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
        color: #3F3F3F;
        margin-bottom: 120px;
      }

      .pluses_items.fiz_3 {
        display: flex;
        justify-content: left;
        margin-top: 25px;
        flex-wrap: wrap;


        .item_plus {
          margin-right: 80px;

          &:last-child {
            margin-right: 0;
          }

          @include mobile {
            margin-right: 0;
          }
        }
      }

      .pluses_items.fiz_3_fix {
        margin-bottom: 0px;
        //margin-top: 20px;
        flex-wrap: wrap;
      }

      .pluses_items {
        display: flex;
        //justify-content: space-between;
        width: 100%;
        margin-bottom: 50px;
        flex-wrap: wrap;

        .item_plus {
          margin-top: 20px;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #3F3F3F;
          margin-right: 80px;
          width: 300px;
          //@include small-desktop-min {
          //  margin-right: 0;
          //}
          &:last-child {
            margin-right: 0;
          }

          .blue_part {
            font-style: normal;
            font-weight: bold;
            font-size: 14px;
            line-height: 14px;
            color: #027FD5;
          }
        }

        @include mobile {
          .item_plus {
            margin-right: 0;
          }
        }
      }

      .plus_row {
        align-items: center;
        display: flex;
        width: 100%;
        //margin-bottom: 20px;
        img {
          margin-right: 10px;
        }

        div {
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 22px;
          text-transform: uppercase;
          color: #FF5300;
        }
      }
    }

    .bonus_packet {
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 120px;

      div {
        max-width: 790px;

        .blue_part {
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 14px;
          color: #027FD5;
        }
      }
    }


    .baner {
      width: 100%;
      background: linear-gradient(90deg, #027FD5 0%, #4DADEF 100%);
      border-radius: 8px;
      padding: 90px 176px;
      margin-bottom: 70px;
      @include tablet {
        padding: 50px 45px 40px 45px;
      }

      .baner_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;

        img {
          width: 470px;
          height: 270px;
          // width:300px;
          // height:300px;
          // z-index:999;
          @include small-tablet {
            width: 100%;
            height: auto;
          }
        }

        .text_content {
          max-width: 544px;

          h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 45px;
            line-height: 50px;
            color: #FFFFFF;
            margin-bottom: 15px;
          }

          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #FFFFFF;
            margin-bottom: 15px;
          }

          p {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #FFFFFF;
          }
        }

        @include small-desktop {
          .text_content {
            h2 {
              margin-top: 15px;
              font-size: 40px;
              line-height: 45px;
              //28 36
            }

            h3 {
              font-size: 17px;
              line-height: 27px;
              //15 24
            }

          }
        }
        @include small-desktop-min {
        }
      }
    }
  }
}