#custom_tabs {
  .wrapper {
    .tabs-triggers {
      flex-wrap: wrap;
      @include mobile {
        .tabs-triggers__item {
          width: 100%;
        }
      }

      .tabs-triggers__item {
        @include mobile {
          font-size: 13px;
          line-height: 13px;
        }
      }
    }

    .tabs-content__item {
      .items {
        flex-wrap: wrap;
        //flex-direction: column;
        margin-top: 0;

        .good_item {
          margin-top: 30px;
          display: flex;
          flex-direction: column;
          //justify-content: space-between;
          min-width: 345px;

          .price {
            padding-top: 74px;
            @include mobile {
              padding-top: 25px;
              margin-bottom: 20px;
              .full_price,
              .sales_price {
                .deal_label {
                  font-size: 10px;
                  line-height: 10px;
                  margin-bottom: 9px;
                }

                .content_pr {
                  align-items: center;

                  .price_count {
                    font-size: 26px;
                    line-height: 26px;
                  }

                  .price_label {
                    font-size: 10px;
                    line-height: 10px;
                  }
                }
              }
            }
          }

          @include mobile {
            padding: 30px 25px;
            .chanels {
              margin-bottom: 0;
            }
            .upgrate {
              display: none;
            }

            &:first-child {
              margin-top: 10px;
            }
            min-width: 280px;
            h2 {
              font-size: 18px;
              margin-bottom: 20px;
            }
          }

          .upgrate {
            margin-top: 0;
            margin-bottom: 0;
          }

          .text_container {
            padding-top: 16px;
            @include mobile {
              padding-top: 20px;
              margin-bottom: 0;
              .grey_text,
              img {
                display: none;
              }
              .grey_text {
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 18px;
                color: #525252;
                text-align: left;
              }
            }


            .other_functions {
              display: none;
              @include mobile {
                display: block;
                font-style: normal;
                font-weight: 600;
                font-size: 11px;
                line-height: 11px;
                color: #027FD5;
              }

              &::after {
                //height:30px;
                margin-left: 5px;
                height: 8px;
                content: url('/frontend/img/left-arrow.svg');
                @include mobile {
                  content: url('/frontend/img/left-arrow.svg');
                  height: 8px;
                }
              }
            }
          }

          .none {
            display: none;
          }
        }

        .good_item_container {
          display: flex;
          //width: 100%;
          flex-wrap: wrap;

          .good_item {

            .price {
              padding-top: 74px;
              @include mobile {
                padding-top: 25px;
                margin-bottom: 20px;
                .full_price {
                  .deal_label {
                    font-size: 10px;
                    line-height: 10px;
                    margin-bottom: 9px;
                  }

                  .content_pr {
                    align-items: center;

                    .price_count {
                      font-size: 26px;
                      line-height: 26px;
                    }

                    .price_label {
                      font-size: 10px;
                      line-height: 10px;
                    }
                  }
                }
              }
            }


          }
        }

        .ad_baner {
          margin-top: 30px;
          @include small-desktop {
            display: none
          }
        }

        img {
          box-shadow: 0px 4px 80px rgba(2, 127, 213, 0.15);
          border-radius: 8px;
        }
      }
    }

    .tabs-content {

      #tab-2 {
        .items {

          img {
            box-shadow: 0px 4px 80px rgba(2, 127, 213, 0.15);
            border-radius: 8px;
          }

          .good_item_container {
            .good_item {
              @include mobile {
                padding: 30px 25px;
                .chanels {
                  margin-bottom: 0;
                }
                .upgrate {
                  display: none;
                }
              }

              .price {
                padding-top: 74px;
                @include mobile {
                  padding-top: 25px;
                  margin-bottom: 20px;
                  .full_price {
                    .deal_label {
                      font-size: 10px;
                      line-height: 10px;
                      margin-bottom: 9px;
                    }

                    .content_pr {
                      align-items: center;

                      .price_count {
                        font-size: 26px;
                        line-height: 26px;
                      }

                      .price_label {
                        font-size: 10px;
                        line-height: 10px;
                      }
                    }
                  }
                }
              }

              .btn_connect {
                padding-top: 18px;
                padding-bottom: 18px;
                margin-bottom: 20px;
                transition: .3s;
              }

              .text_container {
                padding-top: 16px;
                @include mobile {
                  padding-top: 20px;
                  margin-bottom: 0;
                  .grey_text,
                  img {
                    display: none;
                  }
                }


                .other_functions {
                  display: none;
                  @include mobile {
                    display: block;
                    font-style: normal;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 11px;
                    color: #027FD5;
                  }

                  &::after {
                    //height:30px;
                    margin-left: 5px;
                    height: 8px;
                    content: url('/frontend/img/left-arrow.svg');
                    @include mobile {
                      content: url('/frontend/img/left-arrow.svg');
                      height: 8px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.tabs {
  width: 100%;
}

.tabs-place-triggers {
  display: flex;
}

.tabs-place-triggers__item {
  display: block;
  border-radius: 4px;
  padding: 20px 24px;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #525252;
  background: #F9F9F9;
  border-radius: 4px;
  margin-bottom: 30px;

}

.tabs-place-triggers__item--active {
  background: #027FD5;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 15px;
  text-align: center;
  color: #FFFFFF;
}

.tabs-place-content {
  width: 100%;
}

.tabs-place-content__item {
  display: none;
  background: none;

  .custom_tabs.fiz_4 {
    margin-bottom: 50px;
    min-width: 0;
  }

  .items.fiz_3 {
    justify-content: left;

    .good_item {
      margin-right: 20px;

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .place_items {
    display: flex;
    justify-content: left;
    margin-bottom: 40px;

    .place_item {
      position: relative;
      padding: 40px;
      background: #FFFFFF;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      max-width: 345px;
      width: 100%;
      margin-right: 20px;

      &:last-child {
        margin-right: 0px;
      }

      // display:flex;
      // flex-direction: column;
      // align-items: right;

      .grey_text {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #525252;
        text-align: left;
      }

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        color: #000000;
        margin-bottom: 20px;
        text-align: left;

        span {
          color: #FF5300;
        }
      }

      hr {
        background: solid rgba(0, 0, 0, .1);
        height: 1px;
        // width:265px;
        margin-top: 16px;
        margin-bottom: 16px;
      }

      hr.upgrate {
        margin-bottom: 74px;
      }

      .connecter {
        display: flex;
        margin-bottom: 126px;

        img {
          margin-right: 10px;
        }

        div {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 24px;
          color: #000000;
        }
      }

      .chanels {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;

        .img_text {
          display: flex;

          img {
            margin-right: 10px;
          }

          div {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
          }
        }

        .list_chanels {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 13px;
          color: #027FD5;
        }
      }

      .btn_connect {
        border: 2px solid #027FD5;
        border-radius: 4px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #027FD5;
        text-transform: uppercase;
        transition: .3s;

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          border-radius: 4px;
          color: #fff;
        }
      }

      .price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;

        .deal_label {
          text-align: left;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 11px;
          color: #606060;
          margin-bottom: 8px;
        }

        .price_label {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #606060;
          @include mobile {
            font-size: 10px;
            line-height: 10px;
          }
        }

        .price_count {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 24px;
          color: #000000;
          margin-right: 5px;
          @include mobile {
            font-size: 26px;
            line-height: 26px;
          }
        }

        .full_price {
          .content_pr {
            display: flex;
          }
        }

        .sales_price {
          .price_count {
            color: #FF5300;
          }

          .content_pr {
            display: flex;
          }
        }

        @include mobile {
          margin-bottom: 15px;
        }
      }

      .speed {
        display: flex;
        // padding-bottom: 16px;
        img {
          margin-right: 10px;
        }

        div {
          font-style: normal;
          font-weight: normal;
          font-size: 15px;
          line-height: 24px;
          color: #000000;
        }
      }

      .foolow {
        display: flex;
        margin-bottom: 14px;

        img {
          margin-right: 10px;
        }
      }

      .foolow.bottom {
        margin-bottom: 32px;
      }

      .help_info {
        display: flex;
        justify-content: space-between;

        div {
          a {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 13px;
            color: #000000;
            opacity: 0.6;
            padding-bottom: 8px;
            // border-bottom: rgba(0, 0, 0, 0.5);
            border-bottom: 1px solid rgba(0, 0, 0, 0.5);
          }
        }
      }

      .help_info.chanels_list {
        justify-content: center;
      }

      .heaps {
        ul {
          li {
            display: flex;
            margin-bottom: 5px;

            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #525252;

            &:last-child {
              margin-bottom: 0px;
            }

            img {
              margin-right: 10px;
            }
          }
        }
      }
    }
  }
}

.good_item.lider {
  &::before {
    position: absolute;
    content: 'Лидер выбора клиентов';
    background: #FF5300;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 9px 10px;
    top: -14px;
    left: 25px;
  }
}

.tabs-place-content__item--active {
  display: block;
}

// .tabs{
//     width:100%;
// }

// .tabs-place-triggers{
//     display:flex;
// }

// .tabs-place-triggers__item{
//     display:block;
//     border-radius: 4px;
//     padding: 20px 24px;
//     font-style: normal;
//     font-weight: 600;
//     font-size: 14px;
//     line-height: 14px;
//     text-align: center;
//     color: #525252;
//     background: #F9F9F9;
//     border-radius: 4px;
//     margin-bottom: 30px;

// }
// .tabs-place-triggers__item--active{
//     background: #027FD5;
//     font-style: normal;
//     font-weight: bold;
//     font-size: 15px;
//     line-height: 15px;
//     text-align: center;
//     color: #FFFFFF;
// }
// .tabs-place-content{
//     width: 100%;
// }

// .tabs-place-content__item{
//     display:none;
//     background: none;
//     .place_items{
//         display:flex;
//         justify-content: space-between;
//         margin-bottom: 90px;
//         .place_item{
//             position: relative;
//             padding: 40px 40px 50px 40px;
//             background: #FFFFFF;
//             box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
//             border-radius: 8px;
//             max-width:467px;
//             width:100%;

//             .big_place{
//                 margin-bottom: 30px;
//             }
//             h3{
//                 font-style: normal;
//                 font-weight: bold;
//                 font-size: 21px;
//                 line-height: 26px;
//                 color: #000000;
//                 margin-bottom: 15px;
//                 text-align: left;
//             }

//             .progress_line{
//                 position: relative;


//                 width:100%;
//                 max-width:367px;
//                 background: #F9F9F9;
//                 border-radius: 800px;
//                 height: 12px;
//                 .blue_part{
//                     top:0;
//                     left:0;
//                     position:absolute;
//                     max-width: 210px;
//                     width:100%;
//                     height: 12px;

//                     background: #027FD5;
//                     box-shadow: 0px 1px 30px rgba(2, 127, 213, 0.2);
//                     border-radius: 800px;

//                     .progress_label{
//                         position:relative;
//                         .label{
//                             position: absolute;
//                             filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.06));
//                             // right: -60px;
//                             right: -36px;
//                             top: 20px;
//                             .proc{
//                                 position: absolute;
//                                 font-style: normal;
//                                 font-weight: 600;
//                                 font-size: 15px;
//                                 line-height: 24px;
//                                 text-align: center;
//                                 color: #000000;
//                                 right:0;
//                                 top: 15px;
//                                 left: 13px;
//                             }

//                             // background: #FFFFFF;
//                             // border-radius: 2px;
//                             // font-style: normal;
//                             // font-weight: 600;
//                             // font-size: 15px;
//                             // line-height: 24px;
//                             // text-align: center;
//                             // color: #000000;
//                             // right:0;
//                             // top:30px;
//                             // padding: 6px 20px;

//                         }
//                     }
//                 }
//             }

//             .clocker{
//                 display:flex;
//                 margin-bottom: 20px;
//                 img{
//                     margin-right: 10px;
//                 }
//                 div{
//                     font-style: normal;
//                     font-weight: normal;
//                     font-size: 15px;
//                     line-height: 24px;
//                     color: #000000;
//                 }
//             }
//             .speed{
//                 display:flex;
//                 // padding-bottom: 16px;
//                 margin-bottom: 30px;
//                 img{
//                     margin-right: 10px;
//                 }
//                 div{
//                     font-style: normal;
//                     font-weight: normal;
//                     font-size: 15px;
//                     line-height: 24px;
//                     color: #000000;
//                 }
//             }

//         }
//     }
// }


// .tabs-place-content__item--active{
//     color:#000000;
//     display:block;
// }