#qualities {
  .container {
    // justify-content: space-between;
    .items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      // @include tablet{

      // }
    }

    .quality_item {
      // width:100%;
      @include tablet {
        width: 100%;
        border-left: none;
        justify-content: center;

      }
      display: flex;
      border-left: 2px solid #F9F9F9;
      padding-top: 50px;
      padding-bottom: 50px;

      &:first-child {
        border-left: none;

        img {
          padding-left: 0px;
        }
      }

      &:last-child {
        border-right: none;
      }

      img {
        @include small-desktop {
          padding-left: 20px;
        }
        @include mobile {
          padding-left: 0px;
          margin-right: 20px;
        }
        padding-left: 113px;
        margin-right: 40px;
        // width: 50px;
        // height:50px;
      }

      div {
        @include mobile {
          width: 100%;
        }
        margin-right: 10px;

        h4 {
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          line-height: 28px;
          color: #000000;
          margin-bottom: 8px;
          @include mobile {
            margin-bottom: 5px;
          }
        }

        p {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 20px;
          color: #000000;
          max-width: 240px;
          @include small-desktop {
            max-width: 180px;
          }
          @include tablet {
            width: 100%;
            max-width: none;

          }
        }
      }

    }
  }
}

#qualities {
  .container {
    .items {
      @include tablet-vert {
        justify-content: center;
      }

    }

    .quality_item {
      align-items: center;
      padding-left: 113px;

      &:first-child {
        padding-left: 0;
        @include tablet {
          &:first-child {
            padding-left: 113px;
          }
        }
        @include mobile {
          &:first-child {
            padding-left: 0;
          }
        }

      }

      img {
        width: 50px;
        height: 50px;
        padding-left: 0;
      }

      @include mobile {
        padding-left: 0;
        padding-top: 35px;
        padding-bottom: 0;
        &:first-child {
          padding-top: 50px;
        }
        &:last-child {
          padding-bottom: 50px;
        }
        .descrip {
          margin-right: 0;

          h4 {
            font-size: 18px;
            line-height: 26px;
          }

          p {
            font-size: 13px;
          }
        }
        img {
          width: 40px;
          height: 40px;
        }
        div {
          h4 {
            font-size: 18px;
            line-height: 26px
          }

          p {
            font-size: 13px;
          }
        }
      }
      @include tablet {
        justify-content: flex-start;
      }
    }
  }
}