#main-slider {
  margin-top: 50px;
  margin-bottom: 50px;
  @include mobile {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .container-sl-m {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    @include tablet-vert {
      width: calc(100% - 100px);
    }
    @include mobile {
      width: calc(100% - 40px);
    }

    .swiper-pagination {
      @include small-desktop {
        left: 30%;
        bottom: 51px;
      }

      @include tablet-vert {
        bottom: 44px;
        position: absolute;
        right: 0px;
        left: auto;
        max-width: 100px;
      }

      @include mobile {
        bottom: 44px;
        position: absolute;
        right: 0px;
        left: auto;
        max-width: 100px;
      }
      position: absolute;
      left: 70px;
      bottom: 30px;
      max-width: 200px;
      display: flex;
      justify-content: left;
    }

    .swiper-wrapper {
      flex-wrap: wrap;

      .swiper-slide {
        .items {
          display: flex;
          background: #FBFBFB;
          border-radius: 8px;
          @include mobile {
            flex-wrap: wrap;
          }

          @include tablet-vert {
            flex-wrap: wrap;
          }

          div {

            @include small-desktop {
              padding-top: 20px;
              padding-left: 50px;
              padding-right: 50px;
            }
            @include mobile {
              order: 2;
              padding-top: 30px;
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 40px;
            }
            @include tablet {
            }
            @include tablet-vert {
              order: 2;
              padding-bottom: 50px;

            }

            @include tablet {
              width: 100%;
            }

            padding-top: 70px;
            padding-left: 70px;
            padding-right: 100px;


            h1 {
              @include small-desktop {
                max-width: none;
                width: 100%;
                font-size: 26px;
              }
              @include tablet-vert {
                width: 100%;
                max-width: none;
              }
              @include tablet {
                width: 100%;
                max-width: none;
              }

              @include mobile {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 26px;
                color: #000000;
              }

              max-width: 470px;

              font-style: normal;
              font-weight: bold;
              font-size: 32px;
              line-height: 38px;
              color: #000000;
              margin-bottom: 10px;

            }

            p {
              max-width: 470px;

              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 24px;
              color: #000000;
              margin-bottom: 40px;
              @include small-desktop {
                margin-bottom: 30px;
              }
              @include mobile {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: #000000;
              }

            }

            a {
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 15px;
              color: #FFFFFF;
              background: #FF5300;
              box-shadow: 0px 1px 40px rgba(255, 83, 0, 0.4);
              border-radius: 4px;
              padding: 18px 45px;
              transition: 0.3s;

              &:hover {
                background: #027FD5;
                box-shadow: 0px 4px 40px rgba(2, 127, 213, 0.3);
              }

              @include mobile {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: #FFFFFF;
                padding: 14px 29px;
              }
            }
          }

          img {


            @include small-desktop {
              max-width: 600px;
            }

            @include tablet-vert {
              order: 1;
              filter: drop-shadow(0px 1px 60px rgba(0, 0, 0, 0.18));
              border-radius: 8px;
              max-width: 100%;
              // height: 300px;

            }

            @include mobile {
              order: 1;

              filter: drop-shadow(0px 1px 60px rgba(0, 0, 0, 0.18));
              border-radius: 8px;
              // height: 180px;
              max-width: none;
            }
            border-radius: 24px 8px 8px 24px;
            width: 100%;
            max-width: 800px;
            // height: 400px;
          }
        }
      }
    }
  }
}


#ttttttteeeeeeeesst {
  position: relative;
  padding-bottom: 100px;
  @include small-desktop {
    padding-bottom: 250px;
    margin-bottom: 70px;
  }
  @include tablet {
    //padding-bottom: 320px;
    padding-bottom: 258px;
  }

  .swipertest {
    position: relative;

    width: 100%;
    height: 180px;
    z-index: 999;

    .btns {
      position: absolute;
      max-width: 127px;
      display: flex;
      justify-content: space-between;
      height: 50px;
      width: 100%;
      //bottom: -85px;
      bottom: -97px;
      right: 0px;

      .swiper-button-prev {

        width: 50px;
        height: 50px;
        background: #525252;
        border-radius: 400px;
        transition: .3s;

        &::after {
          //opacity: 0.5;
          height: 60px;
          content: url('/frontend/img/row_ico_revs_sl.svg');
        }

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          color: #fff;
        }
      }

      .swiper-button-next {
        width: 50px;
        height: 50px;
        background: #525252;
        border-radius: 400px;
        transition: .3s;

        &::after {
          //opacity: 0.5;
          height: 60px;
          transform: rotate(180deg);
          content: url('/frontend/img/row_ico_revs_sl.svg');
        }

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          color: #fff;
        }
      }

      .swiper-button-prev.swiper-button-disabled {
        &::after {
          opacity: 0.5;
          height: 60px;
          content: url('/frontend/img/row_ico_revs_sl.svg');
        }
      }

      @include small-desktop {
        bottom: -240px;
      }
      @include tablet {
        bottom: -316px;
      }
      @include mobile {
        bottom: -254px;
        left: 90px;
      }
    }

    .swiper-pagination {
      position: absolute;
      bottom: -74px;
      left: 0;
      max-width: 130px;
      display: flex;
      justify-content: left;

      .swiper-pagination-bullet {
        width: 16px;
        height: 3px;
        background: #C9C9C9;
        opacity: 0.5;
        border-radius: 400px;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
        background: #FF5300;
        box-shadow: 0px 1px 10px rgba(255, 83, 0, 0.6);
        border-radius: 400px;
        width: 40px;
        height: 3px;
      }

      @include small-desktop {
        bottom: -214px;
      }
      @include tablet {
        bottom: -292px;
      }
    }

    .swiper_wrapper {
      margin-left: 240px !important;
      width: 100% !important;
      height: 100% !important;
    }

    .swiper-slide {
      .item {
        display: flex;
        @include small-desktop {
          flex-wrap: wrap;
        }

        .img_content {
          margin-right: 30px;
          @include small-desktop {
            margin-bottom: 17px;
          }

          img {
            width: 100%;
            min-width: 130px;
          }
        }

        .text_content {
          max-width: 280px;
          width: 100%;


          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 5px;
            @include small-desktop {
              margin-bottom: 5px;
            }
          }

          .p {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 22px;
            color: #000000;

            max-height: 280px;
            overflow: hidden;
          }

          .pers {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 13px;
            color: #000000;
            margin-bottom: 20px;
          }

          a {
            display: block;
            margin-top: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #027FD5;
            @include small-desktop {
              margin-top: 15px;
            }

            &::after {
              content: url('/frontend/img/blue_arrow_a.svg');
              margin-left: 8px;
            }
          }
        }
      }

      .st_item {
        min-width: 280px;
      }
    }
  }
}

#ttttttteeeeeeeesst2 {
  position: relative;
  padding-bottom: 214px;
  padding-top: 90px;


  .swipertest2 {
    position: relative;

    width: 100%;
    height: 180px;
    z-index: 999;

    .btns {
      position: relative;
      max-width: 127px;
      display: flex;
      justify-content: space-between;
      height: 50px;
      width: 100%;
      bottom: -130px;
      right: 0px;

      .swiper-button-prev {
        position: relative;
        left: 40px;
        width: 50px;
        height: 50px;
        background: #525252;
        border-radius: 400px;
        transition: .3s;

        &::after {
          //opacity: 0.5;
          height: 60px;
          content: url('/frontend/img/row_ico_revs_sl.svg');
        }

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          color: #fff;
        }
      }

      .swiper-button-next {
        position: relative;
        left: 45px;
        width: 50px;
        height: 50px;
        background: #525252;
        border-radius: 400px;
        transition: .3s;

        &::after {
          //opacity: 0.5;
          height: 60px;
          transform: rotate(180deg);
          content: url('/frontend/img/row_ico_revs_sl.svg');
        }

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          color: #fff;
        }
      }

      .swiper-button-prev.swiper-button-disabled {
        &::after {
          opacity: 0.5;
          height: 60px;
          content: url('/frontend/img/row_ico_revs_sl.svg');
        }
      }
    }

    .swiper-pagination {
      position: absolute;
      bottom: -100px;
      left: 0;
      max-width: 130px;
      display: flex;
      justify-content: left;

      .swiper-pagination-bullet {
        width: 16px;
        height: 3px;
        background: #C9C9C9;
        opacity: 0.5;
        border-radius: 400px;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
        background: #FF5300;
        box-shadow: 0px 1px 10px rgba(255, 83, 0, 0.6);
        border-radius: 400px;
        width: 40px;
        height: 3px;
      }

      @include mobile {
        display: none;
      }
    }

    .swiper_wrapper {
      margin-left: 240px !important;
      width: 100% !important;
      height: 100% !important;
    }

    .swiper-slide {
      .item {
        display: flex;
        @include small-desktop {
          flex-wrap: wrap;
        }

        .img_content {
          margin-right: 30px;
          @include small-desktop {
            margin-bottom: 17px;
          }
          @include mobile {
            margin-right: 0;
          }

          img {
            width: 100%;
            min-width: 130px;
          }
        }

        .text_content {
          max-width: 280px;
          width: 100%;


          h3 {
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 30px;
            color: #000000;
            margin-bottom: 5px;
            @include small-desktop {
              margin-bottom: 5px;
            }
          }

          .p {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 22px;
            color: #000000;

            max-height: 280px;
            overflow: hidden;
          }

          .pers {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 13px;
            color: #000000;
            margin-bottom: 20px;
          }

          a {
            display: block;
            margin-top: 20px;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #027FD5;
            @include small-desktop {
              margin-top: 15px;
            }

            &::after {
              content: url('/frontend/img/blue_arrow_a.svg');
              margin-left: 8px;
            }
          }
        }
      }

      .st_item {
        min-width: 280px;
      }
    }
  }

  @include tablet {
    .container_partners_slider {
      flex-direction: column;
    }
  }
  @include mobile {
    padding-top: 0;
    .container_partners_slider {


      .our_partners {
        width: 100%;
        padding: 70px 20px 0px 20px;
        margin-right: 0;

      }
    }
    .swiper-slide {
      min-width: 230px;
    }
  }
}

@media (max-width: 500px) {
  .swiper-slide {
    max-width: 200px !important;
  }
}

.test_tabs_abs.hidden {
  display: none;
}

.test_tabs_abs {
  display: block;

  .students {
    padding-top: 45px;

    .st_item.lider {
      &::before {
        position: absolute;
        content: 'Лидер выбора клиентов';
        background: #FF5300;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 9px 10px;
        top: -14px;
        left: 25px;
      }
    }

    .st_item {
      padding: 40px;
      background: #FFFFFF;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
      border-radius: 8px;

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        color: #000000;
        margin-bottom: 25px;
      }

      .speed {
        margin-bottom: 25px;

        .img_text {
          display: flex;

          img {
            margin-right: 10px;
          }
        }
      }

      .price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;

        .deal_label {
          text-align: left;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 11px;
          color: #606060;
          margin-bottom: 8px;
        }

        .price_label {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #606060;
        }

        .price_count {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 24px;
          color: #000000;
          margin-right: 5px;
        }

        .full_price {
          .content_pr {
            display: flex;
          }
        }

        .sales_price {
          .price_count {
            color: #FF5300;
          }

          .content_pr {
            display: flex;
          }
        }
      }


      .btn_connect {
        text-align: center;
        border: 2px solid #027FD5;
        border-radius: 4px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #027FD5;
        text-transform: uppercase;
      }
    }
  }
}

#test_st_slider {
  max-width: 100%;
  overflow: hidden;
  padding-bottom: 140px;
  padding-bottom: 140px;
  position: relative;


  .btns {
    position: absolute;
    max-width: 127px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    bottom: -95px;
    right: 0;

    .swiper-button-prev {

      width: 50px;
      height: 50px;
      background: #525252;
      border-radius: 400px;
      transition: .3s;

      &::after {
        //opacity: 0.5;
        height: 60px;
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }

      &:hover {
        background: #027fd5;
        -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        color: #fff;
      }
    }

    .swiper-button-next {
      width: 50px;
      height: 50px;
      background: #525252;
      border-radius: 400px;
      transition: .3s;

      &::after {
        //opacity: 0.5;
        height: 60px;
        transform: rotate(180deg);
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }

      &:hover {
        background: #027fd5;
        -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        color: #fff;
      }
    }

    .swiper-button-prev.swiper-button-disabled {
      &::after {
        opacity: 0.5;
        height: 60px;
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }
    }

    .swiper-button-next.swiper-button-disabled {
      &::after {
        opacity: 0.5;
        height: 60px;
        transform: rotate(180deg);
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }
    }

  }

  .btns.none,
  .swiper-pagination.none {
    @include mobile {
      display: none;
    }
  }

  .swiper-pagination {
    position: absolute;
    bottom: -74px;
    left: 0;
    max-width: 300px;
    display: flex;
    justify-content: left;

    .swiper-pagination-bullet {
      width: 16px;
      height: 3px;
      background: #C9C9C9;
      opacity: 0.5;
      border-radius: 400px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #FF5300;
      box-shadow: 0px 1px 10px rgba(255, 83, 0, 0.6);
      border-radius: 400px;
      width: 40px;
      height: 3px;
    }
  }

  .swiper {
    @include mobile {
      .swiper-wrapper {
        flex-wrap: wrap;

        .swiper-slide {
          //Подумать, как это реализовать
          margin-right: 0 !important;
          margin-bottom: 20px;
          width: 100% !important;
        }
      }
    }
  }

  @include mobile {
    padding-bottom: 40px;
  }
}

#test_st_slider::before {
  content: "";
  z-index: 100;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc((100vw - 1440px) / 2);
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

#test_st_slider::after {
  content: "";
  z-index: 100;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc((100vw - 1440px) / 2);
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.containertest {
  overflow: hidden;


  @include medium-desktop { //1630
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  @include small-desktop { //1366
    width: calc(100% - 50px);
    margin: 0 auto;
  }
  @include small-desktop-min { //1220
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  @include tablet-vert { //1024
    width: calc(100% - 100px);
    margin: 0 auto;
  }
  @include small-tablet {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
  @include mobile {
    width: calc(100% - 40px);
    margin: 0 auto;
  }
}


#main-slider-2 {
  margin-top: 50px;
  margin-bottom: 50px;
  @include mobile {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  .container-sl-m {
    max-width: 1440px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;

    @include tablet-vert {
      width: calc(100% - 100px);
    }
    @include mobile {
      width: calc(100% - 40px);
    }

    .swiper-pagination {
      @include small-desktop {
        left: 30%;
        bottom: 51px;
      }

      @include tablet-vert {
        bottom: 54px;
        position: absolute;
        right: 0px;
        left: auto;
        max-width: 100px;
      }

      @include mobile {
        bottom: 54px;
        position: absolute;
        right: 0px;
        left: auto;
        max-width: 100px;
      }
      position: absolute;
      left: 70px;
      bottom: 30px;
      max-width: 200px;
      display: flex;
      justify-content: left;
    }

    .swiper-wrapper {
      .swiper-slide {
        .items {
          display: flex;
          background: #FBFBFB;
          border-radius: 8px;
          @include mobile {
            flex-wrap: wrap;
          }

          @include tablet-vert {
            flex-wrap: wrap;
          }

          div {

            @include small-desktop {
              padding-top: 20px;
              padding-left: 50px;
              padding-right: 50px;
            }
            @include mobile {
              order: 2;
              padding-top: 30px;
              padding-left: 20px;
              padding-right: 20px;
              padding-bottom: 40px;
            }
            @include tablet {
            }
            @include tablet-vert {
              order: 2;
              padding-bottom: 50px;

            }

            @include tablet {
              width: 100%;
            }

            padding-top: 70px;
            padding-left: 70px;
            padding-right: 100px;


            h1 {
              @include small-desktop {
                max-width: none;
                width: 100%;
                font-size: 26px;
              }
              @include tablet-vert {
                width: 100%;
                max-width: none;
              }
              @include tablet {
                width: 100%;
                max-width: none;
              }

              @include mobile {
                font-style: normal;
                font-weight: bold;
                font-size: 20px;
                line-height: 26px;
                color: #000000;
              }

              max-width: 470px;

              font-style: normal;
              font-weight: bold;
              font-size: 32px;
              line-height: 38px;
              color: #000000;
              margin-bottom: 10px;

            }

            p {
              max-width: 470px;

              font-style: normal;
              font-weight: normal;
              font-size: 14px;
              line-height: 24px;
              color: #000000;
              margin-bottom: 40px;
              @include small-desktop {
                margin-bottom: 30px;
              }
              @include mobile {
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: #000000;
                margin-bottom: 54px;
              }

            }

            a {
              font-style: normal;
              font-weight: 600;
              font-size: 15px;
              line-height: 15px;
              color: #FFFFFF;
              background: #FF5300;
              box-shadow: 0px 1px 40px rgba(255, 83, 0, 0.4);
              border-radius: 4px;
              padding: 18px 45px;
              transition: 0.3s;

              &:hover {
                background: #027FD5;
                box-shadow: 0px 4px 40px rgba(2, 127, 213, 0.3);
              }

              @include mobile {
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 14px;
                color: #FFFFFF;
                padding: 14px 29px;
              }
            }
          }

          img {


            @include small-desktop {
              max-width: 600px;
            }

            @include tablet-vert {
              order: 1;
              filter: drop-shadow(0px 1px 60px rgba(0, 0, 0, 0.18));
              border-radius: 8px;
              max-width: 100%;
              // height: 300px;

            }

            @include mobile {
              order: 1;

              filter: drop-shadow(0px 1px 60px rgba(0, 0, 0, 0.18));
              border-radius: 8px;
              // height: 180px;
              max-width: none;
            }
            border-radius: 24px 8px 8px 24px;
            width: 100%;
            max-width: 800px;
            // height: 400px;
          }
        }
      }
    }
  }
}





