@import "./mixins.scss";

@import "./header.scss"; //общая часть хедера (белая полоска с переключателем)
@import "./individual.scss"; //страница физического лица
@import "./footer.scss"; //страница физического лица
@import "./sliders.scss"; //все стили для слайдеров
@import "./our_stocks.scss"; //услуги
@import "./checker_addresses.scss"; //проверка адресов на подключение
@import "./quality.scss"; //проверка адресов на подключение
@import "./our_offers"; //наши акции
@import "./news"; //новости главная
@import "./legal_stocks.scss"; //услуги юр лицам
@import "./reviews_about_us.scss"; //отзывы о нас 
@import "./tabs.scss";
@import "./pers.scss";
@import "./ad_sub.scss"; //доп подписки
@import "./how_coonect.scss"; //как подключиться
@import "./fiz_1.scss"; //1 страничка
@import "./fiz_2.scss"; //2 страничка Цифровое ТВ и Интернет
@import "./fiz_3.scss"; //2 страничка Интерактивное ТВ и Интернет
@import "./fiz_4.scss"; //4 страничка с телевизорами и прогрессом
@import "./equipment.scss"; //оборудование
@import "./about_before.scss"; //блок о после
@import "./tv_tabs.scss"; //теле табы
@import "./place_tabs.scss"; //табы места дача дом коттедж
@import "./fiz_6.scss"; //6 физ страница с макета
@import "./fiz_7.scss"; //6 физ страница с макета
@import "./fiz_5.scss"; //5 стр слайдер таб
@import "./content.scss"; //контент
@import "./yr_2.scss";
@import "./yr_1.scss";
@import "./yr_3.scss";

@import "./yr_4.scss";
@import "./yr_5.scss";
@import "./yr_8.scss";
@import "./context_7.scss";
@import "./context_8.scss";
@import "./context_9.scss";
@import "./context_10.scss";
@import "./context_11.scss";
@import "./context_12.scss";

//слайдеры на юридических
@import "./yr_2_slider.scss";
@import "./yr_3_slider.scss";
@import "./yr_6_slider.scss";
@import "./yr_7_slider.scss";






@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 300;
    src: url("../#src/fonts/Open_Sans/OpenSans-Light.ttf") format("truetype"), url("../#src/fonts/Open_Sans/OpenSans-Light-webfont.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../#src/fonts/Open_Sans/OpenSans-Regular.ttf") format("truetype"), url("../#src/fonts/Open_Sans/OpenSans-Regular-webfont.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 600;
    src: url("../#src/fonts/Open_Sans/OpenSans-SemiBold.ttf") format("truetype"), url("../#src/fonts/Open_Sans/OpenSans-SemiBold-webfont.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../#src/fonts/Open_Sans/OpenSans-Bold.ttf") format("truetype"), url("../#src/fonts/Open_Sans/OpenSans-Bold-webfont.woff2") format("woff2");
  }
  
  @font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 800;
    src: url("../#src/fonts/Open_Sans/OpenSans-ExtraBold.ttf") format("truetype"), url("../#src/fonts/Open_Sans/OpenSans-ExtraBold-webfont.woff2") format("woff2");
  }
  
//   обнуление
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
  }
  
  input {
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    outline: none;

    font-style: normal;
    font-weight: bold !important;
    font-size: 15px;
    line-height: 15px;
    color: #000000 !important;
  }
  input::placeholder{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #999999;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li {
    list-style: none;
  }
  
  img {
    display: block;
  }
// конец обнуления

body{
  width: 100%;
  position: relative; //для мобильного меню
 
  // overflow-x: hidden;
}

.container{
  width:100%;
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  min-width: 0;
  @include medium-desktop{ //1630
        width: calc(100% - 60px);
  }
  @include small-desktop{ //1366
        width: calc(100% - 50px);
  }
  @include small-desktop-min{ //1220
        width: calc(100% - 40px);
  }
  @include tablet-vert{ //1024
    width: calc(100% - 100px);
  }
  @include small-tablet{
    width: calc(100% - 40px);
  }
  @include mobile{
    width: calc(100% - 40px);
  }


  // overflow: hidden;
}

.container_for_sliders{
  width:100%;
  margin: 0 auto;
  // max-width: 1440px;
  max-width: 1680px;
  display: flex;
  min-width: 0;
  overflow: hidden;
}



//инпуты
.all_inputs{
  display: flex;
}
.input_block{
  width: 100%;
  margin-right: 10px;
  @include medium-desktop{
    margin-right: 0px;
  }
}

.custom_input{
  background: #FFFFFF;
  box-shadow: 0px 1px 45px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  padding-left: 30px;
  padding-top: 19px;
  padding-bottom: 18px;
  width:100%;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 15px;
  color: #999999;
}
.custom_input_label{
  margin-bottom: 14px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: #FFFFFF;
  margin-left: 21px;
}

.block_name{
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  width:100%;
}

#breadcrumbs{
  ul{
    @include mobile{
      margin-top: 20px;
      margin-bottom: 20px;
    }
    margin-top: 30px;
    margin-bottom: 30px;
    display:flex;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: #606060;
    li::after{
      content: "/";
      color: #027FD5;
      margin: 0 4px;
    }
    .active{
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      line-height: 12px;
      color: #000000;
      &::after{
        content: "";
      }
    }
  }
}

// Combo (физические лица)
.h2_name{
  h2{
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
    width:100%;
    margin-bottom: 40px;
    @include mobile {
      font-size: 24px;
      line-height: 30px;
    }
  }
}
.h2_name.fiz_3{
  h2{
    margin-bottom: 10px;
  }
}


.price_custom{
  display:flex;
  justify-content: space-between;
  align-items: center;
  .main_text{
    display:flex;
    .number{
      margin-right: 5px;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 24px;
      color: #000000;
    }
    .text{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      color: #000000;
    }
  }

  // блоки различные различия
 
}








//мелочи без отдельных файлов потом вынести в отдельный файл
#yr_3_text_content{
  .container{
    flex-wrap: wrap;

    .star{
      width:100%;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #3F3F3F;
      margin-bottom: 70px;
  
    }
    h2{
      width:100%;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 28px;
      color: #000000;
      margin-bottom: 10px;
    }
    p{
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 120px;
    }
  }
}

.shadow{
  filter: drop-shadow(0px 4px 80px rgba(0, 0, 0, 0.1));
}

.ad_baner{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-right: 20px;
  border-radius: 8px;
}