.tabs{
    width:100%;
}

.tabs-triggers{
    display:flex;
    min-width: 0;
}

.tabs-triggers__item{
    display:block;
    border-radius: 4px;
    padding: 20px 24px;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #525252;
    background: #F9F9F9;
    border-radius: 4px;
    // margin-bottom: 30px; //потом везде пофиксить на всех страницах

}
.tabs-triggers__item--active{
    background: #027FD5;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    color: #FFFFFF;
}
.tabs-content{
    width: 100%;
}

.tabs-content__item{
    display:none;
    background: none;

    .custom_tabs.fiz_4{
        margin-bottom: 50px;
        min-width: 0;
    }

    .items.fiz_4{
        justify-content: left;
        margin-top: 30px;
        margin-bottom: 50px;
        .good_item{
            margin-right: 20px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }

    .items.fiz_3{
        justify-content: left;
        margin-top: 30px;

        .good_item{
            margin-right: 20px;
            &:last-child{
                margin-right: 0px;
            }
        }
    }
    .items.fiz_2{
        margin-top: 31px;
    }
    .items{
        display:flex;
        justify-content: space-between;
        margin-bottom: 94px;
        .good_item{
            position: relative;
            padding: 40px;
            background: #FFFFFF;
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            max-width:345px;
            width:100%;

            .grey_text{
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 18px;
                color: #525252;
                text-align: left;
            }
            h2{
                font-style: normal;
                font-weight: bold;
                font-size: 21px;
                line-height: 26px;
                color: #000000;
                margin-bottom: 25px;
                text-align: left;
            }
            hr{
                background: solid rgba(0, 0, 0, .1);
                height: 1px;
                margin-top: 16px;
                margin-bottom: 16px;
            }
            hr.upgrate{
                margin-bottom: 74px;
            }
            .connecter{
                display:flex;
                margin-bottom: 126px;
                img{
                    margin-right: 10px;
                }
                div{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 24px;
                    color: #000000;
                }
            }
            .chanels{
                display:flex;
                margin-bottom: 16px;
                img{
                    margin-right: 10px;
                }
                div{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 24px;
                    color: #000000;
                }
            }
            .btn_connect{
                border: 2px solid #027FD5;
                border-radius: 4px;
                padding-top: 20px;
                padding-bottom: 20px;
                display: block;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 14px;
                color: #027FD5;
                margin-bottom: 25px;
                text-transform: uppercase;
                transition: .3s;
                &:hover{
                    color: #FF5300;
                }
            }
            .price{
                display:flex;
                justify-content: space-between;
                margin-bottom: 26px;
                .deal_label{
                    text-align: left;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 11px;
                    color: #606060;
                    margin-bottom: 8px;
                }
                .price_label{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 12px;
                    color: #606060;
                    @include mobile{
                        font-size: 10px;
                        line-height: 10px;
                    }
                }
                .price_count{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 24px;
                    color: #000000;
                    margin-right: 5px;
                    @include mobile{
                        font-size: 26px;
                        line-height: 26px;
                    }
                }
                .full_price{
                    .content_pr{
                        display:flex;
                    }
                }
                .sales_price{
                    .price_count{
                        color: #FF5300;
                    }
                    .content_pr{
                        display:flex;
                    }
                }
            }
            .speed{
                display:flex;
                img{
                    margin-right: 10px;
                }
                div{
                    font-style: normal;
                    font-weight: normal;
                    font-size: 15px;
                    line-height: 24px;
                    color: #000000;
                }
            }
            .foolow{
                display:flex;
                margin-bottom: 46px;
                img{
                    margin-right: 10px;
                }
            }
            .help_info{
                display: flex;
                justify-content: space-between;
                div{
                    a{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 13px;
                        color: #000000;
                        opacity: 0.6;
                        padding-bottom: 8px;
                        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
                    }
                }
            }
            .help_info.chanels_list{
                justify-content: center;
            }
            .heaps{
                ul{
                    li{
                        display:flex;
                        margin-bottom: 5px;
                        &:last-child{
                            margin-bottom: 0px;
                        }
                        img{
                            margin-right: 10px;
                        }
                    }
                }
            }
        }
    }
}

.good_item.lider{
    &::before{
        position: absolute;
        content: 'Лидер выбора клиентов';
        background: #FF5300;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 9px 10px;
        top:-14px;
        left:25px;
    }
}

.tabs-content__item--active{
    display:block;
}