
    .tabs{
        width:100%;
    }
    
    .tabs-tv-triggers{
        display:flex;
    }
    
    .tabs-tv-triggers__item{
        display:block;
        border-radius: 4px;
        padding: 20px 24px;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 14px;
        text-align: center;
        color: #525252;
        background: #F9F9F9;
        border-radius: 4px;
        margin-bottom: 30px;
    
    }
    .tabs-tv-triggers__item--active{
        background: #027FD5;
        font-style: normal;
        font-weight: bold;
        font-size: 15px;
        line-height: 15px;
        text-align: center;
        color: #FFFFFF;
    }
    .tabs-tv-content{
        width: 100%;
    }
    
    .tabs-tv-content__item{
        display:none;
        background: none;
        .tv_items{
            display:flex;
            justify-content: space-between;
            margin-bottom: 90px;
            .tv_item{
                position: relative;
                padding: 40px 40px 50px 40px;
                background: #FFFFFF;
                box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
                border-radius: 8px;
                max-width:467px;
                width:100%;
                
                .big_tv{
                    margin-bottom: 30px;
                }
                h3{
                    font-style: normal;
                    font-weight: bold;
                    font-size: 21px;
                    line-height: 26px;
                    color: #000000;
                    margin-bottom: 15px;
                    text-align: left;
                }
             
                .progress_line{
                    position: relative;

                    
                    width:100%;
                    max-width:367px;
                    background: #F9F9F9;
                    border-radius: 800px;
                    height: 12px;
                    .blue_part{
                        top:0;
                        left:0;
                        position:absolute;
                        max-width: 210px;
                        width:100%;
                        height: 12px;
                        
                        background: #027FD5;
                        box-shadow: 0px 1px 30px rgba(2, 127, 213, 0.2);
                        border-radius: 800px;

                        .progress_label{
                            position:relative;
                            .label{
                                position: absolute;
                                filter: drop-shadow(0px 4px 24px rgba(0, 0, 0, 0.06));
                                right: -36px;
                                top: 20px;
                                .proc{
                                    position: absolute;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 15px;
                                    line-height: 24px;
                                    text-align: center;
                                    color: #000000;
                                    right:0;
                                    top: 15px;
                                    left: 13px;
                                }
                                

                            }
                        }
                    }
                }
                
                .clocker{
                    display:flex;
                    margin-bottom: 20px;
                    img{
                        margin-right: 10px;
                    }
                    div{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 24px;
                        color: #000000;
                    }
                }
                .speed{
                    display:flex;
                    margin-bottom: 30px;
                    img{
                        margin-right: 10px;
                    }
                    div{
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 24px;
                        color: #000000;
                    }
                }
                
            }
        }
    }
    
    
    
    .tabs-tv-content__item--active{
        display:block;
    }


