#ttttttteeeeeeeesst2 {
  padding-bottom: 119px;

  .swipertest2 {
    height: auto;

    .btns {
      right: 1228px;
      bottom: -342px;

      .swiper-button-next {
        &::after {
          //opacity: 0.5;
          height: 60px;
          content: url('/frontend/img/row_ico_revs_sl.svg');
        }
      }

      @include medium-desktop {
        right: 915px;
      }
      @include small-desktop {
        right: 685px;
      }
      @include small-desktop-min {
        right: 565px;
      }
      @include tablet-vert {
        right: 330px;
      }
      @include tablet {
        right: 810px;
      }
      @include mobile {
        right: 256px;
        bottom: -272px;
      }
    }
  }

  .swiper-slide {
    max-width: 345px;
    margin-right: 23px;
    @include mobile {
      margin-right: 10px;
    }

    .item {
      width: 100%;

      .text_content {
        a {
          transition: .3s;

          &:hover {
            color: #ff5300;
          }
        }
      }
    }


  }


  .our_partners {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 344px;
    padding-left: 241px;
    //padding-right: 119px;
    padding-right: 29px;
    background: #fbfbfb;
    justify-content: center;
    margin-right: 20px;

    h2 {
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
    }

    .count {
      font-size: 100px;
      line-height: 100px;
      color: #027FD5;
    }

    .description {
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #000000;
    }

  }

  .container {
    margin-left: 0;

    .swiper-wrapper {
      .swiper-slide {
        background: #FFFFFF;
        //margin-right: 0 !important;
        transform: scaleY(1); // уменьшить неактивный слайд
        transition: transform .2s ease;

        .item {
          display: flex;
          flex-direction: column;
          background: #FBFBFB;
          border-radius: 8px;
          align-items: center;
          padding: 60px 68px 60px 67px;
          //margin-left: 23px;


          .text_content {
            text-align: center;

            h3 {
              font-size: 15px;
              line-height: 24px;
            }

            div.p {
              font-size: 12px;
              line-height: 18px;
            }
          }

          .img_content {
            img {
              margin-right: 0px;
              width: 210px;
              height: 170px;
            }
          }

          @include mobile {
            background: #FFFFFF;
            padding: 63px 0;
            box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.08);
            border-radius: 8px;
          }
        }

        //.item.active {
        //  background: #FFFFFF;
        //  box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.08);
        //  border-radius: 8px;
        //  height: 400px;
        //  //margin-right: 20px;
        //}
      }

      .swiper-slide-active {
        transform: scaleY(1.15); // увеличение на 20%
        transition: transform .2s ease;
        box-shadow: 0px 0px 90px rgba(0, 0, 0, 0.08);

        .item {
          background: #FFFFFF;
          border-radius: 8px;
          //height: 400px;
          //margin-right: 20px;
          //}
        }
      }

      @include mobile {
        .swiper-slide,
        .swiper-slide-active {
          transform: scaleY(1); // уменьшить неактивный слайд
          transition: transform .2s ease;
          background: #FFFFFF;

          .item {
            .img_content {
              img {
                width: 150px;
                height: 110px;
              }
            }
          }
        }
      }
    }

  }

  .container_partners_slider {
    display: flex;
  }

}

#ttttttteeeeeeeesst2.containertest {
  .swipertest2 {
    position: relative;
    z-index: 1;
    //.swiper-slide{
    //  max-width: 345px;
    //}
  }

  @include mobile {
    margin: 70px 0px 0px 0px;
    width: 100%;
    .our_partners {
      h2 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 5px;
      }

      div {
        font-size: 80px;
        line-height: 80px;
        margin-bottom: 10px;
      }

      p {
        font-size: 14px;
        line-height: 20px;
      }
    }

  }
}

#ttttttteeeeeeeesst {
  .swipertest,
  .swipertest2 {
    .swiper-slide {
      @include mobile {
        width: 260px;
        .item {
          width: 260px;

          .text_content {
            h3 {
              font-size: 15px;
              line-height: 24px;
            }

            .pers {
              font-size: 12px;
              line-height: 12px;
            }
          }
        }
      }

    }

    @include mobile {
      .swiper-pagination {
        display: none;
      }
    }
  }

}

#ttttttteeeeeeeesst.containertest {
  @include mobile {
    margin: 0 auto;
    width: calc(100% - 20px);

  }
}


#legal_stocks {
  .container.yr_1 {
    @include mobile {
      .stocks_items {
        .stock_item {
          .item_content {
            padding: 30px;

            img {
              width: 40px;
              height: 40px;
              margin-bottom: 10px;
            }

            h4 {
              font-size: 20px;
              line-height: 25px;
              margin-bottom: 20px;
            }

            a {
              margin-bottom: 0;
            }
          }
        }
      }
    }

  }
}