.h1_all_yr {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  width: 100%;
  margin-bottom: 40px;
  width: 100%;
}

#yr_text_content {
  width: 100%;

  .container {
    flex-wrap: wrap;
    .back_circle {
      position: absolute;
      top: -20px;
      left: -178px;
      z-index: -1;
      @include mobile{
        width: 200px;
        height: 200px;
        top: 217px;
        left: -91px;
      }
    }
    .star {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #3F3F3F;
      margin-bottom: 120px;
    }

    .h2_block {
      width: 100%;
      margin-bottom: 40px;
      // margin-bottom: 10px;
      h2 {
        margin-bottom: 10px;
        max-width: 709px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #000000;
      }

      div {
        max-width: 690px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
      }
    }

    .items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      .item {
        width: 100%;
        max-width: 420px;
        margin-bottom: 30px;

        h4 {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          color: #3F3F3F;
          margin-bottom: 10px;
        }

        div {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #3F3F3F;
        }
      }
    }

    .items.part_2 {
      justify-content: left;


      .item {
        margin-right: 90px;
        margin-bottom: 50px;

        &:last-child {
          margin-right: 0px;
        }

        @include mobile {
          margin-right: 0;
          margin-bottom: 30px;
        }
      }


    }

    .star {
      @include mobile {
        margin-bottom: 50px;
      }
    }

    .we_give {
      margin-bottom: 20px;
      @include mobile {
        margin-bottom: 40px;
      }

      .begin {
        width: 100%;
        display: flex;

        img {
          margin-right: 10px;
        }

        div {
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 22px;
          text-transform: uppercase;
          color: #FF5300;
        }
      }
    }

    @include tablet {
      padding-top: 20px;
    }
  }
}

#form_staf {
  .container {
    justify-content: normal;

    .items {
      display: flex;
      width: 100%;
      align-items: flex-end;
      @include tablet {

        flex-direction: column;
        .text {
          text-align: center;
          width: 100%;
          padding-bottom: 30px;
          margin-right: 0;
          @include mobile {
            text-align: left;
          }
        }

      }

      .all_inputs {
        flex-wrap: wrap;
        @include mobile {
          .input_block {
            min-width: auto;
          }
        }
      }
    }
  }

  @include tablet {
    padding-top: 70px;
  }
}

#custom_tabs.yr_2 {
  .container {
    .tabs {
      .tabs-triggers {
        @include tablet {
          flex-direction: column;
        }
      }
    }
  }
}

.yr_2_sl_c {
  #yr_2_st_slider {
    .yr2 {
      padding-top: 35px;

      @include small-tablet {
        .swiper-wrapper {
          flex-wrap: wrap;
          max-width: 345px;

          .swiper-slide {
            .st_item {
              margin-top: 20px;
            }
          }

        }

      }

    }
  }
}
