.yr_2_sl_c.hidden {
  display: none;
}

.yr_2_sl_c {
  display: block;

  .yr_2 {
    .swiper-slide {
      min-width: 280px
    }

    padding-top: 55px;

    .st_item.lider {
      &::before {
        position: absolute;
        content: 'Лидер выбора клиентов';
        background: #FF5300;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 9px 10px;
        top: -14px;
        left: 25px;
      }
    }

    .st_item {
      min-width: 280px;
      max-width: 345px;
      padding: 40px;
      background: #FFFFFF;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
      border-radius: 8px;

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        color: #000000;
        margin-bottom: 25px;
      }

      .speed {
        margin-bottom: 25px;

        .img_text {
          display: flex;

          img {
            margin-right: 10px;
          }
        }
      }

      .price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;

        .deal_label {
          text-align: left;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 11px;
          color: #606060;
          margin-bottom: 8px;
        }

        .price_label {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #606060;
        }

        .price_count {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 24px;
          color: #000000;
          margin-right: 5px;
        }

        .full_price {
          .content_pr {
            display: flex;
          }
        }

        .sales_price {
          .price_count {
            color: #FF5300;
          }

          .content_pr {
            display: flex;
          }
        }
      }


      .btn_connect {
        text-align: center;
        border: 2px solid #027FD5;
        border-radius: 4px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #027FD5;
        text-transform: uppercase;
        transition: .3s;

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          border-radius: 4px;
          color: #fff;
        }
      }
    }

    @include small-tablet {
      .swiper-wrapper {
        //flex-direction: column;
        flex-wrap: wrap;
        margin-left: -20px;
        margin-top: 10px;

        .st_item {
          margin-bottom: 20px;
          margin-left: 20px;
        }

        .st_item.lider {
          margin-top: 10px;

        }
      }
    }
  }
}

#yr_2_st_slider {
  max-width: 100%;
  overflow: hidden;
  //padding-bottom: 140px;
  position: relative;

  .swiper.yr_2 {
    padding-bottom: 140px;
    .swiper-pagination {
      bottom: 61px;
    }
  }

  .btns {
    position: absolute;
    max-width: 127px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    //bottom: -95px;
    bottom: 40px;
    right: 0px;

    .swiper-button-prev {

      width: 50px;
      height: 50px;
      background: #525252;
      border-radius: 400px;
      transition: .3s;

      &::after {
        //opacity: 0.5;
        height: 60px;
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }

      &:hover {
        background: #027fd5;
        -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        color: #fff;
      }
    }

    .swiper-button-next {
      width: 50px;
      height: 50px;
      background: #525252;
      border-radius: 400px;
      transition: .3s;

      &::after {
        //opacity: 0.5;
        height: 60px;
        transform: rotate(180deg);
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }

      &:hover {
        background: #027fd5;
        -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        color: #fff;
      }
    }

    .swiper-button-prev.swiper-button-disabled {
      &::after {
        opacity: 0.5;
        height: 60px;
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }
    }

    @include small-tablet {
      display: none;
    }
  }


  .swiper-pagination {
    position: absolute;
    bottom: -74px;
    left: 0;
    max-width: 300px;
    display: flex;
    justify-content: left;

    .swiper-pagination-bullet {
      width: 16px;
      height: 3px;
      background: #C9C9C9;
      opacity: 0.5;
      border-radius: 400px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #FF5300;
      box-shadow: 0px 1px 10px rgba(255, 83, 0, 0.6);
      border-radius: 400px;
      width: 40px;
      height: 3px;
    }
  }

  @include small-tablet {
    padding-bottom: 0;
    .swiper.yr_2.container {
      padding-top: 0;
    }
    .swiper-slide {
      width: auto;
    }
    .st_item.lider {
      &:before {
        top: -5px;
      }
    }
  }
  @include mobile {
    .st_item {
      padding: 30px 25px;
      margin-bottom: 20px;

      h2 {
        font-size: 18px;
        line-height: 26px;
      }

      .price {
        .full_price {
          .deal_label {
            font-size: 10px;
            line-height: 10px;
          }

          .price_count {
            font-size: 26px;
            line-height: 26px;
          }

          .price_label {
            font-size: 10px;
            line-height: 10px;
            align-self: center;
          }
        }
      }

    }
  }


}

#yr_2_st_slider::before {
  content: "";
  z-index: 100;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc((100vw - 1440px) / 2);
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

#yr_2_st_slider::after {
  content: "";
  z-index: 100;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc((100vw - 1440px) / 2);
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}