#form_staf {
  .container {
    flex-wrap: wrap;

    .text {
      display: flex;
      align-items: flex-end;
      @include small-desktop {
        margin-bottom: 30px;
      }
    }

    .all_inputs {
      flex-wrap: wrap;
      @include mobile {
        .input_block.name {
          margin-bottom: 15px;
        }
        .input_block.phone_number {
          margin-bottom: 25px;
        }
      }
    }
  }

  @include mobile {
    padding-bottom: 80px;
  }
}

#yr_3_text_content {
  @include mobile {
    .container {
      div.star {
        margin-bottom: 40px;
      }
      p.yr_3_p {
        margin-bottom: 50px;
      }
    }
  }

}