#tab-3.tabs-content__item {
  .items_yr_4 {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: left;
    flex-wrap: wrap;
    margin-bottom: 90px;
    @include mobile {
      margin-bottom: 50px;
      margin-top: 0;
      .st_item {
        padding: 30px 25px;
        margin-top: 20px;

        h2 {
          font-size: 18px;
          line-height: 26px;
        }

        .price {
          .full_price {
            .deal_label {
              font-size: 10px;
              line-height: 10px;
            }

            .price_count {
              font-size: 26px;
              line-height: 26px;
            }

            .price_label {
              font-size: 10px;
              line-height: 10px;
              align-self: center;
            }
          }
        }

      }
    }

    .st_item {
      width: 100%;
      max-width: 345px;
      min-width: 280px;
      padding: 40px;
      background: #FFFFFF;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      margin-right: 20px;
      margin-top: 15px;
      @include mobile {
        &:first-child {
          margin-top: 10px;
        }
      }

      &:last-child {
        margin-right: 0px;
      }

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        color: #000000;
        margin-bottom: 25px;
        text-align: left;
      }

      .speed {
        // margin-bottom: 25px;
        .img_text {
          display: flex;

          img {
            margin-right: 10px;
          }

          div {
            font-style: normal;
            font-weight: normal;
            font-size: 15px;
            line-height: 24px;
            color: #000000;
          }
        }
      }

      .foolow {
        display: flex;
        align-items: flex-start;
        margin-bottom: 40px;
        flex-direction: row;

        img {
          margin-right: 10px;
        }

        .grey_text {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: #525252;
        }
      }

      hr {
        margin: 16px 0px;
      }

      .price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;

        .deal_label {
          text-align: left;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 11px;
          color: #606060;
          margin-bottom: 8px;
        }

        .price_label {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #606060;
        }

        .price_count {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 24px;
          color: #000000;
          margin-right: 5px;
        }

        .full_price {
          .content_pr {
            display: flex;
          }
        }

        .sales_price {
          .price_count {
            color: #FF5300;
          }

          .content_pr {
            display: flex;
          }
        }
      }


      .btn_connect {
        text-align: center;
        border: 2px solid #027FD5;
        border-radius: 4px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #027FD5;
        text-transform: uppercase;
      }
    }

    .st_item.lider {
      &::before {
        position: absolute;
        content: 'Лидер выбора клиентов';
        background: #FF5300;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 9px 10px;
        top: -14px;
        left: 25px;
      }
    }
  }
}

#comfort_for_yours_customers {
  margin-top: 90px;
  margin-bottom: 120px;

  .container {
    flex-wrap: wrap;

    p {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #3F3F3F;
      margin-top: 20px;
      @include mobile {
        margin-top: 15px;
      }
    }

    h1 {
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      color: #000000;
      margin-bottom: 70px;

      span {
        color: #FF5300;
      }
    }

    .items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .item {
        width: 100%;
        max-width: 640px;
        display: flex;
        margin-bottom: 50px;

        img {
          align-self: flex-start;
          margin-right: 30px;
        }

        .text_part {
          h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 10px;
          }

          div {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #3F3F3F;
          }
        }
      }
    }
  }

  @include mobile {
    margin-bottom: 50px;
    .container {
      h1 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 40px;
        text-align: center;
      }

      .items {
        .item {
          flex-direction: column;

          margin-bottom: 35px;

          img {
            align-self: center;
            margin-right: 0;
            margin-bottom: 15px;
          }

          .text_part {
            text-align: center;

            h4 {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 5px;
            }

            div {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}

#good_offer_for_your {
  background: #F9F9F9;
  padding-top: 70px;
  padding-bottom: 20px;

  .container {
    flex-wrap: wrap;

    .complex {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 70px;
    }

    .complex2 {
      margin-top: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #3F3F3F;
      margin-bottom: 100px;
    }

    h2 {
      width: 100%;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
      margin-bottom: 15px;
    }

    h1 {
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      color: #000000;
      margin-bottom: 70px;

      span {
        color: #027FD5;
      }
    }

    .items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .item {
        width: 100%;
        max-width: 640px;
        display: flex;
        margin-bottom: 50px;

        img {
          align-self: flex-start;
          margin-right: 30px;
        }

        .text_part {
          h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 10px;
          }

          div {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #3F3F3F;
          }
        }
      }
    }
  }

  @include mobile {
    margin-bottom: 15px;
    .container {
      h1 {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 40px;
        text-align: center;
      }

      .items {
        .item {
          flex-direction: column;

          margin-bottom: 35px;

          img {
            align-self: center;
            margin-right: 0;
            margin-bottom: 15px;
          }

          .text_part {
            text-align: center;

            h4 {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 5px;
            }

            div {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }
    }
  }
}
#form_staf {
  .container {
    flex-wrap: wrap;

    .text {
      display: flex;
      align-items: flex-end;
      @include small-desktop {
        margin-bottom: 30px;
      }
    }

    .all_inputs {
      flex-wrap: wrap;
      @include mobile {
        .input_block.name {
          margin-bottom: 15px;
          min-width: auto;
        }
        .input_block.phone_number {
          margin-bottom: 25px;
          min-width: auto;
        }
        .btn_custom.offer{
          padding-top: 23px;
          padding-bottom: 23px;
        }
      }
    }
  }

  @include mobile {
    padding-bottom: 80px;
  }
}