.yr_5_text_content {
  width: 100%;
  margin-bottom: 90px;
  margin-top: 70px;


  .container {
    flex-wrap: wrap;
    position: relative;

    .back_circle {
      position: absolute;
      top: 0;
      left: -181px;
      z-index: -1;
    }

    .star {
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #3F3F3F;
      margin-bottom: 120px;
    }

    .h2_block {
      width: 100%;
      margin-bottom: 40px;

      h2 {
        margin-bottom: 10px;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 28px;
        color: #000000;

      }

      div {
        max-width: 830px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
      }
    }

    .items {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;

      .item.btn {
        margin-bottom: 0px;
      }

      .item {
        width: 100%;
        max-width: 420px;
        margin-bottom: 30px;

        h4 {
          font-style: normal;
          font-weight: bold;
          font-size: 16px;
          line-height: 22px;
          color: #3F3F3F;
          margin-bottom: 10px;
        }

        div {
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 22px;
          color: #3F3F3F;
        }
      }
    }

    .we_give {
      margin-bottom: 20px;

      .begin {
        width: 100%;
        display: flex;

        img {
          margin-right: 10px;
        }

        div {
          font-style: normal;
          font-weight: bold;
          font-size: 15px;
          line-height: 22px;
          text-transform: uppercase;
          color: #FF5300;
        }
      }
    }
  }

  @include mobile {
    margin-top: 30px;
    margin-bottom: 26px;
    .container {
      .back_circle {
        width: 200px;
        height: 200px;
        top: 343px;
        left: -90px;
      }

      .h2_block {
        margin-bottom: 30px;

        h2 {
          margin-bottom: 15px;
        }
      }

      .we_give {
        margin-bottom: 30px;
      }

      .items {
        .item,
        .item.btn {
          margin-bottom: 24px;
        }
      }
    }
  }
}

#dot_dots {
  padding-top: 90px;
  padding-bottom: 90px;
  background: #F9F9F9;
  margin-bottom: 140px;

  .container {
    //width: 100%;

    h1 {
      max-width: 832px;
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
      margin-bottom: 30px;

      span {
        color: #027fd5;
      }
    }

    p {
      display: block;
      max-width: 780px;
      width: 100%;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 28px;

      &:last-child {
        margin-bottom: 0px;
      }

      .black {
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 24px;
        color: #000000;
      }
    }
  }

  @include mobile {
    padding-bottom: 42px;
    margin-bottom: 50px;
    padding-top: 42px;
    .container {
      p {
        margin-bottom: 30px;
      }

      .text_content {
        h1 {
          font-size: 24px;
          line-height: 30px;
        }

      }
    }
  }
}

#list_of_local_pluses {
  .container {
    flex-wrap: wrap;
    position: relative;
    padding-bottom: 120px;

    h2 {
      position: absolute;
      top: -54px;
      left: 0px;

      font-style: normal;
      font-weight: bold;
      font-size: 100px;
      line-height: 100px;
      color: #000000;
      opacity: 0.03;
    }

    h4 {
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 40px;
      color: #000000;
      width: 100%;
      margin-bottom: 60px;
      margin-left: 70px;
    }

    ul {
      li {
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 24px;
        color: #000000;
        margin-bottom: 16px;
        display: flex;

        &:last-child {
          margin-bottom: 0px;
        }

        &::before {
          position: relative;
          top: 9px;
          content: '';
          width: 6px;
          height: 6px;
          background-color: #027FD5;
          margin-right: 10px;
          border-radius: 50%;
          flex-shrink: 0;
        }
      }
    }
  }

  @include tablet {
    .container {
      h2 {
        top: -24px;
        left: 67px;
        font-size: 50px;
        line-height: 50px;
      }
    }
  }
  @include mobile {
    .container {
      h2 {
        top: -13px;
        left: 0px;
        font-size: 30px;
        line-height: 30px;
      }

      h4 {
        font-size: 24px;
        line-height: 30px;
        margin-left: 0;
        margin-bottom: 30px;
      }

      ul {
        li {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 20px;
        }
      }

      padding-bottom: 50px;
    }
  }
}