.yr_6_sl_c.hidden {
  display: none;
}

.yr_6_sl_c {
  display: block;

  .yr_6 {
    padding-top: 55px;
    padding-bottom: 153px;
    overflow: visible;
    .st_item.lider {
      &::before {
        position: absolute;
        content: 'Лидер выбора клиентов';
        background: #FF5300;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 9px 10px;
        top: -14px;
        left: 25px;
      }
    }

    .st_item.additionally {
      &::before {
        position: absolute;
        content: 'Дополнительно';
        background: #027FD5;
        font-style: normal;
        font-weight: bold;
        font-size: 10px;
        line-height: 10px;
        text-transform: uppercase;
        color: #FFFFFF;
        box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
        border-radius: 4px;
        padding: 9px 10px;
        top: -14px;
        left: 25px;
      }
    }

    .st_item {
      padding: 40px;
      background: #FFFFFF;
      box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      max-width: 345px;
      min-width: 280px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 355px;

      h2 {
        font-style: normal;
        font-weight: bold;
        font-size: 21px;
        line-height: 26px;
        color: #000000;
        //margin-bottom: 20px;
      }

      .speed {
        .img_text {
          display: flex;

          img {
            margin-right: 10px;
          }
        }
      }

      .foolow.solo {
        margin-bottom: 72px;
      }

      .foolow.under {
        margin-bottom: 40px;
      }

      .foolow {
        display: flex;
        align-items: flex-start;
        margin-bottom: 14px;

        &:last-child {
          margin-bottom: 0px;
        }

        img {
          margin-right: 10px;
        }

        .grey_text {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: #525252;
        }
      }

      hr {
        margin-top: 20px;
        margin-bottom: 16px;
      }

      .price {
        display: flex;
        justify-content: space-between;
        margin-bottom: 26px;

        .deal_label {
          text-align: left;
          font-style: normal;
          font-weight: normal;
          font-size: 11px;
          line-height: 11px;
          color: #606060;
          margin-bottom: 8px;
        }

        .price_label {
          font-style: normal;
          font-weight: normal;
          font-size: 12px;
          line-height: 12px;
          color: #606060;
        }

        .price_count {
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          line-height: 24px;
          color: #000000;
          margin-right: 5px;
        }

        .full_price {
          .content_pr {
            display: flex;
          }
        }

        .sales_price {
          .price_count {
            color: #FF5300;
          }

          .content_pr {
            display: flex;
          }
        }
      }


      .btn_connect {
        text-align: center;
        border: 2px solid #027FD5;
        border-radius: 4px;
        padding-top: 18px;
        padding-bottom: 18px;
        display: block;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 14px;
        color: #027FD5;
        text-transform: uppercase;
        transition: .3s;

        &:hover {
          background: #027fd5;
          -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
          border-radius: 4px;
          color: #fff;
        }
      }
    }
  }

  .swiper-slide {
    min-width: 280px;
    max-width: 345px;
  }

  @include small-tablet {
    padding-bottom: 0;
    margin-bottom: 40px;
    .swiper.yr_6.container {
      padding-top: 0;
      padding-bottom: 0;
    }
    .swiper-slide {
      width: 100%;
    }
    .yr_6 .st_item.lider,
    .yr_6 .st_item.additionally {
      &:before {
        top: 6px;
      }
    }
  }
  @include mobile {
    margin-bottom: 40px;
    margin-top: 0;
    .swiper-slide {
      .st_item {
        padding: 30px 25px;
        margin-top: 20px;

        h2 {
          font-size: 18px;
          line-height: 26px;
        }

        .price {
          .full_price {
            .deal_label {
              font-size: 10px;
              line-height: 10px;
            }

            .price_count {
              font-size: 26px;
              line-height: 26px;
            }

            .price_label {
              font-size: 10px;
              line-height: 10px;
              align-self: center;
            }
          }
        }

      }
    }

  }
}

#yr_6_st_slider {
  max-width: 100%;
  overflow: hidden;
  //padding-bottom:  153px;
  position: relative;



  @include small-tablet {
    .swiper-wrapper {
      flex-wrap: wrap;
      max-width: 345px;

      .swiper-slide {
        .st_item {
          margin-top: 20px;
        }
      }

    }

  }
  @include mobile {
    padding-bottom: 0;
  }

  .btns {
    position: absolute;
    max-width: 127px;
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: 100%;
    bottom: 80px;
    right: 0px;

    .swiper-button-prev {

      width: 50px;
      height: 50px;
      background: #525252;
      border-radius: 400px;
      transition: .3s;

      &::after {
        //opacity: 0.5;
        height: 60px;
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }

      &:hover {
        background: #027fd5;
        -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        color: #fff;
      }
    }

    .swiper-button-next {
      width: 50px;
      height: 50px;
      background: #525252;
      border-radius: 400px;
      transition: .3s;

      &::after {
        //opacity: 0.5;
        height: 60px;
        transform: rotate(180deg);
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }

      &:hover {
        background: #027fd5;
        -webkit-box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        box-shadow: 0 4px 40px rgba(2, 127, 213, 0.3);
        color: #fff;
      }
    }

    .swiper-button-prev.swiper-button-disabled {
      &::after {
        opacity: 0.5;
        height: 60px;
        content: url('/frontend/img/row_ico_revs_sl.svg');
      }
    }

    @include small-tablet {
      display: none;
    }
  }


  .swiper-pagination {
    position: absolute;
    bottom: 101px;
    left: 0;
    max-width: 300px;
    display: flex;
    justify-content: left;

    .swiper-pagination-bullet {
      width: 16px;
      height: 3px;
      background: #C9C9C9;
      opacity: 0.5;
      border-radius: 400px;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: #FF5300;
      box-shadow: 0px 1px 10px rgba(255, 83, 0, 0.6);
      border-radius: 400px;
      width: 40px;
      height: 3px;
    }
  }
}

#yr_6_st_slider::before {
  content: "";
  z-index: 100;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: calc((100vw - 1440px) / 2);
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
}

#yr_6_st_slider::after {
  content: "";
  z-index: 100;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: calc((100vw - 1440px) / 2);
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.h1_all_yr.yr_6 {
  margin-bottom: 5px;
}

#good_offer_for_your_yr_6 {
  padding-bottom: 120px;

  .container {
    flex-wrap: wrap;

    .complex {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      color: #000000;
      margin-bottom: 70px;
    }

    .complex2 {
      margin-top: 20px;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #3F3F3F;
    }

    h2 {
      width: 100%;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 36px;
      color: #000000;
      margin-bottom: 15px;
    }

    h1 {
      width: 100%;
      font-style: normal;
      font-weight: bold;
      font-size: 30px;
      line-height: 34px;
      color: #000000;
      margin-bottom: 70px;

      span {
        color: #027FD5;
      }
    }

    .items {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

      .item {
        width: 100%;
        max-width: 640px;
        display: flex;
        margin-bottom: 50px;

        img {
          align-self: flex-start;
          margin-right: 30px;
        }

        .text_part {
          h4 {
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 26px;
            color: #000000;
            margin-bottom: 10px;
          }

          div {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #3F3F3F;
          }
        }
      }
    }
  }

  @include mobile {
    padding-bottom: 50px;
    .container {
      h2 {
        font-size: 20px;
        line-height: 28px;
        margin-bottom: 10px;
      }

      .items {
        .item {
          flex-direction: column;

          margin-bottom: 35px;

          img {
            align-self: center;
            margin-right: 0;
            margin-bottom: 15px;
          }

          .text_part {
            text-align: center;

            h4 {
              font-size: 16px;
              line-height: 24px;
              margin-bottom: 5px;
            }

            div {
              font-size: 14px;
              line-height: 22px;
            }
          }
        }
      }

      .complex {
        margin-bottom: 40px;
      }
    }
  }
}
