#custom_tabs {
  .wrapper {
    .tabs {
      .tabs-content {
        .items_yr_8 {
          margin-top: 20px;
          display: flex;
          width: 100%;
          justify-content: left;
          flex-wrap: wrap;

          .st_item.lider {
            &::before {
              position: absolute;
              content: 'Лидер выбора клиентов';
              background: #FF5300;
              font-style: normal;
              font-weight: bold;
              font-size: 10px;
              line-height: 10px;
              text-transform: uppercase;
              color: #FFFFFF;
              box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
              border-radius: 4px;
              padding: 9px 10px;
              top: -14px;
              left: 25px;
            }
          }

          .st_item {
            margin-top: 34px;
            position: relative;
            width: 100%;
            max-width: 345px;
            padding: 40px;
            background: #FFFFFF;
            box-shadow: 0px 4px 60px rgba(0, 0, 0, 0.05);
            border-radius: 8px;
            margin-right: 20px;
            margin-bottom: 120px;


            &:last-child {
              margin-right: 0px;
            }

            .ab_p {
              align-self: left;
              text-align: left;
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 18px;
              color: #525252;
              margin-bottom: 127px;
            }

            h2 {
              font-style: normal;
              font-weight: bold;
              font-size: 21px;
              line-height: 26px;
              color: #000000;
              margin-bottom: 25px;
              text-align: left;
            }

            .speed {
              .img_text {
                display: flex;

                img {
                  margin-right: 10px;
                }

                div {
                  font-style: normal;
                  font-weight: normal;
                  font-size: 15px;
                  line-height: 24px;
                  color: #000000;
                }
              }
            }

            div.foolow {
              display: flex;
              align-items: flex-start;
              margin-bottom: 14px;
              flex-direction: row;

              img {
                margin-right: 10px;
              }

              .grey_text {
                text-align: left;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 18px;
                color: #525252;
              }
            }

            .foolow.under {
              margin-bottom: 10px;
            }

            hr {
              margin: 16px 0px;
            }

            .loock_all {
              font-style: normal;
              font-weight: 600;
              font-size: 11px;
              line-height: 11px;
              color: #027FD5;
              text-align: left;
              margin-bottom: 30px;

              &::after {
                content: url('/frontend/img/arrow_loock_all.svg');
              }
            }

            .price {
              display: flex;
              justify-content: space-between;
              margin-bottom: 26px;

              .deal_label {
                text-align: left;
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                line-height: 11px;
                color: #606060;
                margin-bottom: 8px;
              }

              .price_label {
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 12px;
                color: #606060;
              }

              .price_count {
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 24px;
                color: #000000;
                margin-right: 5px;
              }

              .full_price {
                .content_pr {
                  display: flex;
                }
              }

              .sales_price {
                .price_count {
                  color: #FF5300;
                }

                .content_pr {
                  display: flex;
                }
              }
            }


            .btn_connect {
              text-align: center;
              border: 2px solid #027FD5;
              border-radius: 4px;
              padding-top: 18px;
              padding-bottom: 18px;
              display: block;
              font-style: normal;
              font-weight: bold;
              font-size: 14px;
              line-height: 14px;
              color: #027FD5;
              text-transform: uppercase;
            }
          }

          @include mobile {
            .st_item {
              margin-right: 0;
              padding: 30px 25px;
              margin-bottom: 0;

              h2 {
                font-size: 18px;
              }

              .ab_p {
                margin-bottom: 25px;
              }

              .price {
                .full_price {
                  .deal_label {
                    font-size: 10px;
                    line-height: 10px;
                  }

                  .price_count {
                    font-size: 26px;
                    line-height: 26px;
                  }

                  .price_label {
                    font-size: 10px;
                    line-height: 10px;
                    align-self: center;
                  }
                }
              }

              &:first-child {
                margin-top: 10px;
              }
            }
            margin-top: 0;
            margin-bottom: 50px;
          }
        }
      }
    }
  }
}


.h1_all_yr.yr_8 {
  margin-bottom: 40px;
}